<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>관리자 페이지-공지 관리</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="/static/css/m-admin.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script src="/js/jQueryCheck.js"></script>
</head>
<body>
<div class="moblieView">
  <div class="logo">
    <a href="">
      <img src="" alt="" />
    </a>
  </div>
  <h1>
    죄송합니다. <br />
    관리자 페이지는 모바일 환경을 지원하지 않습니다.
  </h1>
  <button><a href="/member/indexIndex">뒤로가기</a></button>
</div>
<div class="wrap">
  <div class="header">
    <div class="logo">
      <a href="/member/loginIndex">
        <img src="" alt="" />
      </a>
    </div>
    <p>관리자 페이지</p>
    <button id="menu" class="iconMenu">menu</button>
    <button id="asideClose">aside</button>
  </div>
  <div id="menuList" class="menuList">
    <ul>
      <li><a href="">list</a></li>
      <li>list</li>
      <li>list</li>
      <li>list</li>
      <li>list</li>
      <li>list</li>
      <li>list</li>
      <li>list</li>
      <li>list</li>
    </ul>
  </div>
  <div class="main">
    <aside>
      <div class="asideTitle">
        <img src="" alt="" />
        <p><a href="/member/toAdminMember">회원 관리</a></p>
      </div>
      <div id="checked" class="asideTitle">
        <img src="" alt="" />
        <p><a href="/notice/toAdminNotice">공지 관리</a></p>
      </div>
      <div class="asideTitle">
        <img src="" alt="" />
        <p><a href="/qna/toAdminQna">문의내역 관리</a></p>
      </div>
    </aside>
    <div class="content">
      <div class="contentHeader">
        <h1 class="contentTitle">공지 관리</h1>
        <input
                type="search"
                id="searchBar"
                class="searchBar"
                name="search"
                placeholder="회원검색"
                style="padding-left: 10px"
        />
      </div>

      <hr />

      <div class="contentTable">
        <!-- <div class="tableTool">
          <button class="delBtn" id="delBtn">delete</button>
        </div> -->

        <div class="table">
          <ul>
            <li class="thead">
              <span>번호</span><span>작성자</span><span>제목</span
            ><span>작성일</span><span>삭제</span>
            </li>
            <li class="tdata" th:each="noticeBoardList : ${noticeBoardList}">
              <span>[[${noticeBoardList.noticeSeq}]]</span><span>[[${noticeBoardList.noticeWriterName}]]</span>
              <span class="detail" th:noticeSeq="${noticeBoardList.noticeSeq}">[[${noticeBoardList.noticeTitle}]]</span
            ><span>[[${noticeBoardList.noticeWriteDate}]]</span>
              <span><form class="delForm" action="/notice/deleteNotice" method="post">
                <input type="hidden" name="noticeSeq" th:value="${noticeBoardList.noticeSeq}">
                <button type="button" class="delData">del</button>
              </form></span>

            </li>
          </ul>
          <hr />
          <div class="listNum">
            <span th:utext="${pageNavi}"></span>
          </div>
          <div>
            <form action="/notice/toAdminNoticeWrite">
              <button>글쓰기</button>
            </form>

          </div>

        </div>
      </div>
    </div>

    .
  </div>
</div>

<script>
  //삭제 이벤트
  $(".delData").on("click", function () {
    if (confirm("정말 삭제하시겠습니까?")) {
      $(this).closest("form").submit();
    }
  });

  //제목 클릭시, 본문 이동 이벤트
  $(".detail").on("click",function (){
    location.href = "/notice/adminNoticeDetail?noticeSeq="+$(this).attr("noticeSeq");
  })
</script>

<script>
  $(document).ready(function () {
    let result = $("body").css("max-width", "600px");

    $("#menu").click(function () {
      $("#menuList").toggle();
    });

    $("#asideClose").click(function () {
      $("aside").toggle();
    });

    function goBack() {
      window.history.back();
    }
  });
</script>
</body>
</html>
