<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지-문의내역</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/adminQna.css" />
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"
    ></script>
    <script src="/static/js/jQueryCheck.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<div class="mobileView">
    <div class="logo">
        <a href="/member/loginIndex">
            <img src="" alt="" />
        </a>
    </div>
    <h1>
        죄송합니다. <br />
        관리자 페이지는 모바일 환경을 지원하지 않습니다.
    </h1>
    <button><a href="/member/loginIndex">뒤로가기</a></button>
</div>
<div class="wrap">
    <div class="header">
        <div class="logo">
            <a href="/member/loginIndex">
                <img src="" alt="" />
            </a>
        </div>
        <p>관리자 페이지</p>
        <a href="/member/loginIndex" class="goBack">뒤로가기</a>
        <button id="asideClose">aside</button>
    </div>
    <div id="menuList" class="menuList">
        <ul>
            <li><a href="">list</a></li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
        </ul>
    </div>
    <div class="main">
        <aside>
            <div class="asideTitle">
                <img src="" alt="" />
                <p><a href="/member/toAdminMember">회원 관리</a></p>
            </div>
            <div class="asideTitle">
                <img src="" alt="" />
                <p><a href="/notice/toAdminNotice?cpage=1">공지 관리</a></p>
            </div>
            <div id="checked" class="asideTitle">
                <img src="" alt="" />
                <p><a href="/admin/toAdminQna?cpage=1">문의내역 관리</a></p>
            </div>
            <div class="asideTitle">
                <img src="" alt="" />
                <p><a href="/emoticon/emoticonMain">이모티콘 관리</a></p>
            </div>
        </aside>
        <div class="content">
            <div class="contentHeader">
                <h1 class="contentTitle">문의내역 관리</h1>
            </div>

            <hr />

            <div class="contentTable">
                <!-- <div class="tableTool">
                  <button class="delBtn" id="delBtn">delete</button>
                </div> -->

                <div class="table">
                    <ul>
                        <li class="thead">
                            <span>번호</span>
                            <span>문의유형</span>
                            <span>작성자(이메일)</span>
                            <span>제목</span>
                            <span>작성날짜</span>
                        </li>
                        <th:block th:each="qnaList : ${qnaList}">
                            <li class="tdata">
                                <span th:text="${qnaList.qnaSeq}"></span>
                                <span th:text="${qnaList.qnaType}"></span>
                                <span th:text="${qnaList.qnaWriterId}"></span>
                                <span class="detail" th:text="${qnaList.qnaTitle}" th:data-qnaSeq="${qnaList.qnaSeq}"></span>
                                <span th:text="${qnaList.qnaWriteDate}"></span>
                            </li>
                        </th:block>
                    </ul>
                    <hr />
                    <div class="listNum">
                        <span th:utext="${pageNavi}"></span>
                    </div>
                </div>
            </div>
        </div>

        .
    </div>
</div>

<script>
    //제목 클릭시, 글 본문으로 이동하는 이벤트
    $(".detail").on("click", function (){
        console.log("/qna/adminQnaDetail?qnaSeq=" + $(this).attr("data-qnaSeq"));
        location.href = "/qna/adminQnaDetail?qnaSeq=" + $(this).attr("data-qnaSeq");
    })
</script>

<script>
    $(document).ready(function () {
        let result = $("body").css("max-width", "600px");

        $("#menu").click(function () {
            $("#menuList").toggle();
        });

        $("#asideClose").click(function () {
            $("aside").toggle();
        });

        function goBack() {
            window.history.back();
        }
    });
</script>
</body>
</html>
