<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지-문의 보기</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin.css" />
    <link rel="stylesheet" href="/static/css/m-admin.css" />
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"
    ></script>
    <script src="/static/js/jQueryCheck.js"></script>
</head>
<body>
    <div>번호</div>
    <div th:text="${qna.getQnaSeq()}"></div>
    <div>유형</div>
    <div th:text="${qna.getQnaType()}"></div>
    <div>작성자</div>
    <div th:text="${qna.getQnaWriterId()}"></div>
    <div>제목</div>
    <div th:text="${qna.getQnaTitle()}"></div>
    <div>내용</div>
    <th:block th:if="${!#lists.isEmpty(qnaFileList)}">
        <div id="img">
        <th:block th:each="qnaFileList : ${qnaFileList}">
            <img id="imgSrc" th:src="@{'/qnaImg/'+${qnaFileList.qnaSysName}}">
        </th:block>
        </div>
    </th:block>
    <div th:text="${qna.getQnaContents()}"></div>
    <th:block th:if="${!#lists.isEmpty(qnaComment)}">
    <div>답변</div>
        <th:block th:each="qnaComment : ${qnaComment}">
        <div th:text="${qnaComment.qnaCommentContents}"></div>
        <div>작성시각</div>
        <div th:text="${qnaComment.qnaCommentWriteDate}"></div>
        </th:block>
    </th:block>
    <th:block th:if="${#lists.isEmpty(qnaComment)}">
    <div id="insert" th:data-count="${qnaCommentCount}">답변 작성하기
        <form action="/qna/insertComment" id="form" method="post">
            <textarea id="content" name="qnaCommentContents"></textarea>
            <input type="hidden" name="qnaSeq" th:value="${qna.getQnaSeq()}">
        </form>
        <button type="button">이미지 첨부</button>
        <button type="button" id="confirm" >답변 작성</button>
        <button type="button" id="toAdminQna"><a href="/qna/toAdminQna?cpage=1">목록으로</a></button>
    </div>
    </th:block>
    <script>
        $("#confirm").on("click", function (){
            if ($("#content").val().length==0) {
                alert("내용을 입력하세요.")
            } else if ($("#content").val().length>=200) {
                alert("200자를 넘길 수 없습니다.");
            } else {
                $("#form").submit();
            }
        })

        if ($("#insert").attr("data-count")>=1) {
            $("#insert").css("display", "none");
        }
    </script>

    <script>
        console.log($("#imgSrc").attr("src"));
    </script>

</body>
</html>