<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>BuddyDrive</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/fileDrive.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
  <script src="/static/js/jQueryCheck.js"></script>
  <script src="/static/js/download.js"></script>
  <script src="/static/js/console.js"></script>
</head>
<body>
<div class="wrap">
  <div class="header">
    <div class="logo">
      <a href="/member/loginIndex">
        <img src="/static/img/logo.png" />
      </a>
    </div>
    <button id="asideClose">aside</button>
  </div>
  <div class="main">
    <aside>
      <div id="profile" class="asideTitle">
        <img src="" alt="" />
        <h3><a th:text="${session.memberName  + ' 님의 Drive'}"></a></h3>
      </div>

      <div id="allFiles" class="asideList">
        <div id="folderList" class="asideItem">
          <ul>
            <div th:if="${#strings.isEmpty(myFolders)}">
              아직 파일이 없습니다.
            </div>
            <div id="main">모든 파일</div>
            <div th:unless="${#strings.isEmpty(myFolders)}">
              <div th:each="folder : ${myFolders}">
                <i class="fa-solid fa-chevron-right arrowBtn" arrowType="right"></i>
                <li th:text="${folder.getPersonalFolderName()}" class="sideList" th:data-folder="${folder.getPersonalFolderKey()}" data-resource-type="folder"></li><br>
                <ul id="sub"></ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div id="chat" class="asideList">
        <div class="asideTitle">
          <h3>팀 공유 폴더</h3>
        </div>
        <div id="chatList" class="asideItem">
          <ul>
            <div th:if="${#strings.isEmpty(teamList)}">
              아직 팀이 없습니다.
            </div>
            <div th:unless="${#strings.isEmpty(teamList)}">
              <th:block th:each="team : ${teamList}">
                <div>
                  <i class="fa-solid fa-chevron-right arrowBtn" arrowType="right"></i>
                  <li th:text="${team.getPersonalFolderName()}" class="sideList" th:data-folder="${team.getPersonalFolderKey()}" data-resource-type="team"></li><br>
                  <ul class="sub"></ul>
                </div>
              </th:block>
            </div>
          </ul>
        </div>
        <div class="myFileSize">

        </div>
      </div>
      <th:block th:if="${#strings.equals(isTeam,'true')}">
        <div class="asideTool">
          <p class="volumeTitle">팀 사용량 | </p>
          <p th:data-volume="${teamVolume}" class="myVolume"></p>
          <div class="volumeLog">
            <div class="volumeBar"></div>
          </div>
        </div>
      </th:block>
      <th:block th:if="${#strings.equals(isTeam,'false')}">
        <div class="asideTool">
          <p class="volumeTitle">내 Drive 사용량 | </p>
          <p th:data-volume="${myVolume}" class="myVolume"></p>
          <div class="volumeLog">
            <div class="volumeBar"></div>
          </div>
        </div>
      </th:block>
      <div class="asidePassage">
        <a href="/member/loginIndex">메인으로   </a>
        |
        <a href="/member/logout">   로그아웃</a>
      </div>
    </aside>

    <section class="fileSection">
      <!-- 헤더 -->
      <div class="fileHeader">
        <th:block th:if="${#strings.equals(shared,0)}">
          <h1 th:text="${nowFolder}"></h1>
        </th:block>
        <th:block th:unless="${#strings.equals(shared,0)}">
          <h1 th:text="${ownerName +'님의 '+nowFolder}"></h1>
        </th:block>
      </div>
      <!-- 헤더-버튼 -->
      <form action="/personalFile/uploadFile" method="post" enctype="multipart/form-data" id="uploadFileForm">
        <div class="attachBtnArea">
          <a id="backBtn" th:data-key="${parentKey}"><i class="fa-solid fa-arrow-left"></i></a>
          <th:block th:if="${#strings.equals(shared,0)}">
            <label for="uploadFile" class="fileLabel mainButton">
              업로드
              <input type="file" name="multipartFile" id="uploadFile" accept=".txt,.xls,.ppt,.hwp,.jpg,.png,.gif,.mp4,.mp3,.zip,.pptx,.xlsx,.pdf" >
              <input type="hidden" th:value="${parentKey}" name="attachFolder">
              <input type="hidden" th:value="${isTeam}" name="isTeam">
            </label>
            <button type="button" id="newFolder" class="mainButton">새 폴더</button>
            <button type="button" class="copyUrl mainButton" th:data-share-url="${'http://43.201.133.173/drive/detailDrive?resourceKey='+parentKey}">  현재 폴더 공유  </button>
            <button type="button" id="deleteBtn" class="mainButton">삭제</button>
          </th:block>
          <button type="button" id="downloadBtn" class="mainButton">내려받기</button>
        </div>
      </form>
      <!-- 본문 -->
      <div class="fileMainPlace">
        <th:block th:if="${#strings.equals(shared,0)}">
          <form action="/drive/dragFile" method="post" enctype="multipart/form-data" id="dropForm">
            <div id="dropArea"><p>파일을 여기다 끌어놓으면 업로드가 시작됩니다.</p></div>
            <input type="file" id="dropFile" name="multipartFile">
            <input type="hidden" th:value="${parentKey}" id="attachFolder">
          </form>
        </th:block>
        <div id="listArea">
          <ul class="listThumb">
            <div th:if="${#strings.isEmpty(childFolders)} and ${#strings.isEmpty(childFiles)}">
              아직 파일이 없습니다.
            </div>
            <div th:unless="${#strings.isEmpty(childFolders)}">
              <input type="hidden" th:value="${parentKey}" id="parentKey">
              <th:block th:each="folder : ${childFolders}">
                <li data-resource-type="folder">
                  <input type="checkbox" id="check" class='check' th:data-key="${folder.getPersonalFolderKey()}" data-resource-type="folder" th:data-name="${folder.getPersonalFolderName()}"th:data-folder-key="0">
                  <img src='/static/img/folderImg.png' class="thisFolder" th:data-folder="${folder.getPersonalFolderKey()}" th:data-resource-type="${folder.getPersonalFolderType()}">
                  <input type='text' class="printFolderName" th:value='${folder.getPersonalFolderName()}' th:id="${'folder' + folder.getPersonalFolderKey()}" disabled>
                  <th:block th:if="${#strings.equals(folder.getPersonalFolderType(),'user')}">
                    <th:block th:if="${#strings.equals(folder.getPersonalFolderShared(),'Y')}">
                      <button type="button" class="shareUrl nowShare" th:data-key="${folder.getPersonalFolderKey()}" th:data-status="${folder.getPersonalFolderShared()}">공유 중단</button>
                      <input type="text" class="shareUrlText" th:value="${'http://43.201.133.173/drive/detailDrive?resourceKey='+folder.getPersonalFolderKey()}">
                      <button type="button" class="copyUrl nowShare" th:data-share-url="${'http://43.201.133.173/drive/detailDrive?resourceKey='+folder.getPersonalFolderKey()}">URL복사</button>
                    </th:block>
                    <th:block th:if="${#strings.equals(folder.getPersonalFolderShared(),'N')}">
                      <button type="button" class="shareUrl nowShare" th:data-share-url="${'http://43.201.133.173/drive/detailDrive?resourceKey='+folder.getPersonalFolderKey()}" th:data-key="${folder.getPersonalFolderKey()}" th:data-status="${folder.getPersonalFolderShared()}">공유</button>
                    </th:block>
                  </th:block>
                </li>
              </th:block>
            </div>
            <div th:unless="${#strings.isEmpty(myFiles)}">
              <th:block th:each="file : ${childFiles}">
                <li class="thisFile" th:data-folder="${file.getPersonalFilesFolderKey()}" data-resource-type="file" th:data-name="${file.getPersonalFilesSysname()}">
                  <input type="checkbox" class='check' th:data-key="${file.getPersonalFilesKey()}" data-resource-type="file" th:data-name="${file.getPersonalFilesSysname()}" th:data-folder-key="${file.getPersonalFilesFolderKey()}">
                  <img src='/static/img/fileImg.png'>
                  <input type='text' class="printFileName" th:value='${file.getPersonalFilesOriname()}' th:id="${'file' + file.getPersonalFilesOriname()}" disabled>
                </li>
              </th:block>
            </div>
          </ul>
        </div>
        <div id="fileInfo">
          <h3 id="infoName">정보</h3>
          <img src="/static/img/none.png" id="infoImg">
          <ul id="fileInfoText">
            <li class="infoIndex">
              <p class="information">종류</p>
              <p class="information infoContents infoType"></p>
            </li>
            <li class="infoIndex">
              <p class="information">용량</p>
              <p class="information infoContents infoSize"></p>
            </li>
            <li class="infoIndex">
              <p class="information">올린 날짜</p>
              <p class="information infoContents infoDate"></p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- 토글 -->
<script>
  $(document).ready(function () {
    $("#headerToggle").click(function () {
      $("#dropdownList").toggle();
    });

    $("#asideClose").click(function () {
      $("aside").toggle();
    });
  });
</script>

<!-- 새 폴더 생성 -->
<script>
  // 아이디, 클래스에 부여할 count
  let count = 1;
  // 현재 폴더의 key 값( = 생성될 폴더, 파일의 parentKey)
  let parentKey = $("#parentKey").val();

  $("#newFolder").on('click',function (){
    let folderName = 'folderName'+count;

    let folderArea = $(
            "<li class='"+folderName+"'>"
            +
            "<input type='checkbox'>"
            +
            "<img src='/static/img/folderImg.png'>"
            +
            "<input type='text' value='새 폴더' id='"+folderName+"' class='printFileName' maxlength='10'>"
            +
            "</li>"
    ).css("background-color","orange");

    count++;

    $(".listThumb").prepend(folderArea);


    // 폴더 이름 변경
    let modifyText = folderArea.find("input:eq(1)");
    let modifiedName;

    // 폴더 이름에 자동 포커스
    modifyText.focus();

    // 폴더 이름 함수, 폴더 이름 가져가기
    modifyText.on("blur",function(){
      // 현재 폴더가 팀인지, 개인인지 확인

      let isTeam;

      $.ajax({
        url : "/drive/isTeam"
        ,data : {
          parentKey : parentKey
        }
        , async:false
      }).done(function (rsp){
        if(rsp){
          isTeam = "team";
        }else{
          isTeam = "user";
        }
      });

      modifiedName = $(this).val();
      $(this).css("color","white").attr("disabled",true);

      // 폴더 이름을 사용하고 있는지 조회 하고 결과 반환

      $.ajax({
        url:"/personalFolder/addFolder"
        ,data:({
          "folderName" : modifiedName,
          "parentKey" : parentKey,
          "isTeam" : isTeam
        })
      }).done(function(rsp){
        // rsp : true(사용할 수 있음), false(사용할 수 없음)
        if(!rsp) {
          alert("이미 존재하는 이름입니다. 폴더 이름을 변경해주세요.");
          modifyText.attr("disabled",false).css("color","red");
        }else{
          location.reload();
        }
      })

    })

  });

</script>

<!-- 파일 세부정보 -->
<script>

  $(".thisFolder").on("click",function(){
    let thisFolderSeq = $(this).data("folder");
    let thisType = $(this).data("resource-type");

    if(thisType == 'user'){
      location.href = "/drive/detailDrive?resourceKey="+thisFolderSeq;
    }else{
      location.href = "/drive/detailDrive?resourceKey="+thisFolderSeq+"&teamAccess=true";
    }

  })

</script>

<!-- 체크박스 클릭 -->
<script>

  // 체크 박스
  $(".check").on('change',function(){
    let checkedCount = $(".check:checked").length;
    if (checkedCount > 0) {
      $("#deleteBtn").css("display","inline");
      $("#downloadBtn").css("display","inline");
    } else {
      $("#deleteBtn").css("display","none");
      $("#downloadBtn").css("display","none");
    }

    if($(this).is(":checked")){
      $(this).parent('li').css("background-color","#4078ff");
    }else{
      $(this).parent('li').css("background-color","#e5ecff");
    }
  });

  // 삭제
  $("#deleteBtn").on("click",function (){
    let checked = $("input:checkbox[class='check']:checked");

    if(confirm("선택하신 폴더 또는 파일을 삭제하시겠습니까?")){
      let list = [];

      checked.each(function (){
        let type = $(this).data("resource-type");
        let key = $(this).data("key");
        let name = $(this).data("name");
        let folder = $(this).data("folder-key");

        list.push({
          type : type
          ,key : key
          ,name : name
          ,folder : folder
        })
      });

      $.ajax({
        url : "/drive/delete?parentKey="+parentKey
        ,type : "post"
        ,contentType: 'application/json'
        ,data : JSON.stringify(list)
        ,encoding : "UTF-8"
      }).done(function(){
        location.reload();
      });
    };

  });

  // 다운로드

  // AJAX binary 설정(AJAX로 다운로드를 하기 위함)
  $.ajaxTransport("+binary", function(options, originalOptions, jqXHR){
    if (window.FormData && ((options.dataType && (options.dataType == 'binary')) || (options.data && ((window.ArrayBuffer && options.data instanceof ArrayBuffer) || (window.Blob && options.data instanceof Blob)))))
    {
      return {
        send: function(headers, callback){
          var xhr = new XMLHttpRequest(),
                  url = options.url,
                  type = options.type,
                  async = options.async || true,
                  dataType = options.responseType || "blob",
                  data = options.data || null,
                  username = options.username || null,
                  password = options.password || null;

          xhr.addEventListener('load', function(){
            var data = {};
            data[options.dataType] = xhr.response;
            callback(xhr.status, xhr.statusText, data, xhr.getAllResponseHeaders());
          });

          xhr.open(type, url, async, username, password);

          for (var i in headers ) {
            xhr.setRequestHeader(i, headers[i] );
          }

          xhr.responseType = dataType;
          xhr.send(data);
        },
        abort: function(){
          jqXHR.abort();
        }
      };
    }
  });

  const dispositionRegex = /(?<=\'\')(.+?)$/gm;

  $("#downloadBtn").on("click",function () {
    let checked = $("input:checkbox[class='check']:checked");
    checked.each(function () {
      let type = $(this).data("resource-type");
      let key = $(this).data("key");
      let name = $(this).data("name");

      let list = [];

      list.push({
        type: type
        , key: key
        , name: name
      })

      if(type === "file"){
        $.ajax({
          url: "/drive/download"
          , type: "post"
          , contentType: 'application/json'
          , data: JSON.stringify(list)
          , encoding: "UTF-8"
          , processData: false
          , headers: { 'X-Requested-With': 'XMLHttpRequest' }
          , xhrFields: {
            responseType : "blob"
          }
        }).done(function (blob,status,info){
          let contentDisposition = decodeURI(info.getResponseHeader("content-disposition").match(dispositionRegex)[0]);
          let contentType = info.getResponseHeader("content-type");
          download(blob,contentDisposition,contentType);
        })
      }else{
        $.ajax({
          url: "/drive/download"
          , type: "post"
          , contentType: 'application/json'
          , data: JSON.stringify(list)
          , encoding: "UTF-8"
          , processData: false
          , headers: { 'X-Requested-With': 'XMLHttpRequest' }
          ,xhrFields: {
            responseType : "blob"
          }
        }).done(function (blob,status,info){
          download(blob,name+".zip","application/octet-stream");
          $("input:checkbox[class='check']:checked").prop("checked",false);
          $(".contentBlock").css("background-color","#e5ecff");
        })
      }
    });
  });
</script>

<!-- 뒤로가기 -->
<script>

  $(function (){
    let allKeyArray = new Array();

    $.ajax({
      url : "/drive/allKeys"
      ,async:false
    }).done(function (rsp){
      allKeyArray = rsp;
    });

    $("#backBtn").on("click",function(){
      let thisFolderKey = $(this).data("key");

      $.ajax({
        url:"/personalFolder/searchPath"
        ,data : {
          thisFolderKey : thisFolderKey
        }
        ,async:false
      }).done(function (rsp){
        let key = rsp.personalFolderParentKey;
        let type = rsp.personalFolderType;
        let isExist = false;

        for(let i = 0; i < allKeyArray.length; i++){
          if(rsp.personalFolderParentKey == allKeyArray[i].BASIC_FOLDER_KEY){
            isExist = true;
            break;
          };
        };

        if(isExist){
          location.href = "/drive/toFileDrive";
        }else if(type == "team"){
          location.href = "/drive/detailDrive?resourceKey="+key+"&teamAccess=true";
        }else if(type == "user") {
          location.href = "/drive/detailDrive?resourceKey=" + key;
        }
      })

    })
  })

</script>

<!-- 파일 업로드 버튼 클릭 -->
<script>
  // MaxVolume
  const maxVolume = 100 * 1000 * 1000; // 100 MB(1024*1024 해야하지만, 1000으로 함)

  $("#uploadFile").on('change', attachType);

  function attachType(e) {
    const myVolume = $('#myVolume').data('volume');

    let file = $("#uploadFile")[0].files[0];
    let fileSize = file.size;
    let maxFileSize = 10 * 1024 * 1024;

    let extension = this.value.split(".").pop().toLowerCase();
    let accept = ["txt", "xls", "ppt", "hwp", "jpg", "png", "gif", "mp4", "mp3", "zip", "xlsx", "pptx", "pdf"];
    let result = $.inArray(extension, accept);

    if (fileSize + myVolume > maxVolume){
      alert("개인 드라이브에 첨부할 수 있는 파일의 최대 용량은 100MB 입니다. \n 100MB를 초과하여 업로드 할 수 없습니다.");
      this.value = "";
    }

    if (fileSize > maxFileSize) {
      alert("첨부하려는 '" + file.name + "' 파일은 용량이 너무 큽니다. \n 업로드 할 수 있는 최대 용량은 '10 MB' 입니다.");
      this.value = "";
    }

    if (result == -1) {
      alert("지원하기 않는 확장자입니다. \n (지원하는 형식 : .txt, .xls, .ppt, .hwp, .jpg, .png, .gif, .mp4, .mp3, .zip, .pdf)");
      this.value = "";
    }

    if (this.value) {
      $.ajax({
        type: "POST",
        url: "/personalFile/uploadFile",
        data: new FormData($("#uploadFileForm")[0]),
        processData: false,
        contentType: false,
        success: function(response) {
          location.reload();
        }
      });
    }
  }

</script>

<!-- 드래그앤 드롭 -->
<script>
  $(function(){
    const fileDropArea = $('#dropArea');
    const listArea = $('#listArea');

    listArea.on('dragenter', function(e) {
      fileDropArea.css('display', 'block');
    });

    fileDropArea.on('dragleave', function(e) {
      fileDropArea.css('display', 'none');
    });

    fileDropArea.on('dragover', function(e) {
      e.preventDefault();
      fileDropArea.addClass('active');
    });

    fileDropArea.on('drop', function(e) {
      e.preventDefault();
      fileDropArea.removeClass('active');
      fileDropArea.css('display', 'none');

      const myVolume = $('#myVolume').data('volume');
      let files = e.originalEvent.dataTransfer.files;

      if (files.length > 1) {
        alert('한 번에 한 개의 파일만 첨부할 수 있습니다.');
        return;
      }

      let file = files[0];
      let fileSize = file.size;
      let maxFileSize = 1 * 1024 * 1024;

      let extension = file.name.split(".").pop().toLowerCase();
      let accept = ["txt", "xls", "ppt", "hwp", "jpg", "png", "gif", "mp4", "mp3", "zip", "xlsx", "pptx", "pdf"];
      let result = $.inArray(extension, accept);

      let valid = false;

      if (fileSize + myVolume > maxVolume){
        alert("개인 드라이브에 첨부할 수 있는 파일의 최대 용량은 100MB 입니다. \n 100MB를 초과하여 업로드 할 수 없습니다.");
        return;
      }

      if (fileSize > maxFileSize) {
        alert("첨부하려는 '" + file.name + "' 파일은 용량이 너무 큽니다. \n 업로드 할 수 있는 최대 용량은 '10 MB' 입니다.");
        return;
      }

      if (result == -1) {
        alert("지원하기 않는 확장자입니다. \n (지원하는 형식 : .txt, .xls, .ppt, .hwp, .jpg, .png, .gif, .mp4, .mp3, .zip)");
        return;
      }

      valid = true;

      if (valid){
        let formData = new FormData();
        formData.append('multipartFile',files[0]);
        formData.append('attachFolder', $('#attachFolder').val());

        $.ajax({
          url: '/personalFile/uploadFile',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false
        }).done(function(){
          location.reload();
        });
      }

    });
  })

  //

</script>

<!-- 사이드 메뉴 arrow 클릭 -->
<script>

  let nowArrow;

  $(document).on("click",".arrowBtn",function(){
    nowArrow = $(this).attr("arrowType");

    if(nowArrow == "right"){
      let arrowThis = $(this);

      $(this).attr("arrowType","down");
      $(this).attr("class","fa-solid fa-chevron-down arrowBtn");
      $(this).next("li").css({"font-weight":"bold","color":"#8723f7"});

      let container = $("<div>");

      let parentFolderKey = $(this).next("li").data("folder");
      let type = $(this).next("li").data("resource-type");

      $.ajax({
        url : "/drive/getKey?parentFolderKey="+parentFolderKey
        ,type : "json"
        ,success:function (rsp){
          $.each(rsp, function(index, value){
            let div = $("<div>");
            let li = $("<li>");
            let i = $("<i>").addClass("fa-solid fa-chevron-right arrowBtn newer").attr("arrowType","right");
            let list = $("<li>").addClass("sideList").attr("data-folder",value.personalFolderKey).html(value.personalFolderName);
            let ul = $("<ul>").addClass("sub");

            if(type == "folder"){
              list.attr("data-resource-type","folder");
            }else if(type == "team"){
              list.attr("data-resource-type","team");
            }else{
              list.attr("data-resource-type","folder");
            }

            $.ajax({
              url : "/drive/subIsExist?folderKey="+value.personalFolderKey
              ,type : "get"
              ,async: false
            }).done(function (rsp){
              if(rsp == true){
                div.append(li).append(i).append(list).append(ul);
                container.append(div);
              }else{
                div.append(li).append(list).append(ul).css("margin-left","23px");
                container.append(div);
              }
            })

          })
          arrowThis.siblings("ul").append(container).css("margin","0px 0px 5px 23px");
        }
      })

    }else{
      $(this).attr("arrowType","right");
      $(this).attr("class","fa-solid fa-chevron-right arrowBtn newer");
      $(this).next("li").css({"font-weight":"normal","color":"black"});
      $(this).siblings("ul").children().remove();
    }

  })
</script>

<!-- 사이드 메뉴 클릭 -->
<script>
  $("#main").on('click',function(){
    location.href = "/drive/toFileDrive";
  })

  $(document).on("click",".sideList",function(){
    let thisType = $(this).data("resource-type");
    if(thisType == "folder"){
      let folderData = $(this).data("folder");
      location.href = "/drive/detailDrive?resourceKey="+folderData;
    }else if(thisType == "team"){
      let folderData = $(this).data("folder");
      location.href = "/drive/detailDrive?resourceKey="+folderData+"&teamAccess=true";
    }
  })
</script>

<!-- 개인 폴더 공유 -->

<script>
  $(document).on('click','.shareUrl', function() {
    const thisStatus = $(this).data('status');
    const thisKey = $(this).data('key');

    if (thisStatus === 'N') {
      if (confirm('이 폴더를 공유하시겠습니까?')) {
        $.ajax({
          url: '/drive/access?access=Y&key=' + thisKey,
          method: 'POST',
          success: function() {
            location.reload();
          }
        });
      }
    } else if (thisStatus === 'Y') {
      if (confirm('이 폴더의 공유를 중단하시겠습니까?')) {
        $.ajax({
          url: '/drive/access?access=N&key=' + thisKey,
          method: 'POST',
          success: function() {
              location.reload();
          }
        });
      }
    }
  });

  // Url 복사

  $(document).on('click','.copyUrl',function (){
    const inputValue = $(this).data('share-url');
    const bubble = $('<div>');
    bubble.addClass('bubble');
    bubble.html('공유 URL이 클립보드에 저장되었습니다.');
    bubble.css({
      "z-index":"100",
      "display": "block",
      "background-color": "#4078ff",
      "border-radius": "10px",
      "box-shadow": "0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)",
      "padding": "10px 20px",
      "font-size": "16px",
      "width":"400px",
      "color":"white",
      "text-align":"center"
    });
    $(this).after(bubble);
    $('.shareUrlText').select();
    document.execCommand('copy');
    //navigator.clipboard.writeText(inputValue).then(function() {
      setTimeout(function() {
        $(".bubble").fadeOut(1500, function(){
          $(".bubble").remove();
        });
      }, 1100);
    //});
  })

</script>

<!-- 데이터 사용량 -->
<script>
  $(function(){
    const myVolume = $('.myVolume').data('volume').toString();
    const divide = (myVolume / 1000000).toString();
    const volumeLength = divide.slice(0,4);
    const result = volumeLength + ' MB / 100.00 MB';
    const volumeBar = $('.volumeBar');

    volumeBar.css("width",volumeLength*2);
    $('.myVolume').html(result);
  })
</script>

<!-- 공유거절 -->
<script>
  $('#reduceAccessBtn').on('click',function (){
    location.href='/drive/toFileDrive';
  });
</script>

<!-- 파일 세부정보 -->
<script>
  $(document).on('click','.check',function (){
    let checkedType = $(this).data('resource-type');
    let thisKey = $(this).data('key');

    if(checkedType === 'folder'){
      $.ajax({
        url: "/personalFolder/myFolderInfo"
        ,method: 'POST'
        ,data:{key:thisKey}
      }).done(function (rsp){
        if(rsp.personalFolderByte < 1000000){
          let divideByte = rsp.personalFolderByte / 1000;
          let toKiloByte = divideByte.toString().slice(0,3) + ' kb';
          $('.infoSize').html(toKiloByte);
        }else{
          let divideByte = rsp.personalFolderByte / 1000000;
          let toMegaByte = divideByte.toString().slice(0,3) + ' MB';
          $('.infoSize').html(toMegaByte);
        }

        let date = rsp.personalFolderDate.toString().slice(0,10);
        let name = rsp.personalFolderName;

        $('#infoName').html(name);
        $('.infoType').html('폴더');
        $('.infoDate').html(date);

        $('#infoImg').attr("src","/static/img/folderImg.png");
      })

    }else{
      $.ajax({
        url: "/personalFile/myFileInfo"
        ,method: 'POST'
        ,data:{key:thisKey}
      }).done(function (rsp){
        if(rsp.personalFilesByte < 1000000){
          let divideByte = rsp.personalFilesByte / 1000;
          let toKiloByte = divideByte.toString().slice(0,3) + ' kb';
          $('.infoSize').html(toKiloByte);
        }else{
          let divideByte = rsp.personalFilesByte / 1000000;
          let toMegaByte = divideByte.toString().slice(0,3) + ' MB';
          $('.infoSize').html(toMegaByte);
        }

        let date = rsp.personalFilesDate.toString().slice(0,10);
        let name = rsp.personalFilesOriname;
        let type = name.slice(name.indexOf('.',4));

        $('#infoName').html(name);
        $('.infoType').html(type);
        $('.infoDate').html(date);
        $('#infoImg').attr("src","/static/img/fileImg.png");
      })
    }
  });
</script>
</body>
</html>