<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>BuddyDrive</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/fileDrive.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <script src="/static/js/jQueryCheck.js"></script>
  <script src="/static/js/download.js"></script>
</head>
<body>
<div class="wrap">
  <div class="header">
    <div class="logo">
      <a href="/static">
        <img src="" alt="" />
        logo
      </a>
    </div>
    <div class="secondLogo">
      secondLogo
    </div>

    <button id="menu" class="iconMenu">menu</button>
    <button id="asideClose">aside</button>
  </div>
  <div class="main">
    <aside>
      <div id="profile" class="asideTitle">
        <img src="" alt="" />
        <h3><a href="/member/goMyProfile" th:text="${session.memberName}"></a></h3>
      </div>

      <div id="allFiles" class="asideList">
        <div id="folderList" class="asideItem">
          <ul>
            <div th:if="${#strings.isEmpty(myFolders)}">
              아직 파일이 없습니다.
            </div>
            <div id="main">모든 파일</div>
            <div th:unless="${#strings.isEmpty(myFolders)}">
              <div th:each="folder : ${myFolders}">
                <i class="fa-solid fa-chevron-right arrowBtn" arrowType="right"></i>
                <li th:text="${folder.getPersonalFolderName()}" class="sideList" th:data-folder="${folder.getPersonalFolderKey()}" data-resource-type="folder"></li><br>
                <ul id="sub"></ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div id="chat" class="asideList">
        <div class="asideTitle">
          <h3>유형별 보기</h3>
          <input type="search" placeholder="검색" id="searchMsg" />
          <button id="fileTypeToggle" class="toggle">v</button>
        </div>
        <div id="chatList" class="asideItem">
          <ul>
            <li>사진</li>
            <li>문서</li>
            <li>음악</li>
            <li>동영상</li>
            <li>휴지통</li>
          </ul>
        </div>
      </div>

      <div class="asideTool">
        <button id="appToggle" class="appToggle">앱 toggle</button>
        <div id="appList">
          <button class="app" id="appDrive"><a href="">드라이브</a></button>
          <button class="app" id="appCal"><a href="">캘린더</a></button>
        </div>
      </div>
    </aside>

    <section class="fileSection">
      <!-- 헤더 -->
      <div class="fileHeader">
        <h1 th:text="${nowFolder}"></h1>
      </div>
      <!-- 헤더-버튼 -->
      <form action="/personalFile/uploadFile" method="post" enctype="multipart/form-data" id="uploadFileForm">
        <div class="attachBtnArea">
          <button type="button" id="backBtn"><i class="fa-solid fa-arrow-left"></i></button>
          <label for="uploadFile" class="fileLabel mainButton">
            업로드
            <input type="file" name="multipartFile" id="uploadFile" multiple>
            <input type="hidden" th:value="${parentKey}" name="attachFolder">
          </label>
          <button type="button" id="newFolder" class="mainButton">새 폴더</button>
          <button type="button" id="shareBtn" class="mainButton">공유</button>
          <button type="button" id="downloadBtn" class="mainButton">내려받기</button>
          <button type="button" id="deleteBtn" class="mainButton">삭제</button>
        </div>
      </form>
      <!-- 본문 -->
      <div class="fileMainPlace">
        <div id="listArea">
          <ul class="listThumb">
            <div th:if="${#strings.isEmpty(childFolders)} and ${#strings.isEmpty(childFiles)}">
              아직 파일이 없습니다.
            </div>
            <div th:unless="${#strings.isEmpty(childFolders)}">
              <input type="hidden" th:value="${parentKey}" id="parentKey">
              <th:block th:each="folder : ${childFolders}">
                <li data-resource-type="folder">
                  <input type="checkbox" class='check' th:data-key="${folder.getPersonalFolderKey()}" data-resource-type="folder" th:data-name="${folder.getPersonalFolderName()}">
                  <img src='/static/img/folderImg.png' class="thisFolder" th:data-folder="${folder.getPersonalFolderKey()}">
                  <input type='text' class="printFolderName" th:value='${folder.getPersonalFolderName()}' th:id="${'folder' + folder.getPersonalFolderKey()}" disabled>
                </li>
              </th:block>
            </div>
            <div th:unless="${#strings.isEmpty(myFiles)}">
              <th:block th:each="file : ${childFiles}">
                <li class="thisFile" th:data-folder="${file.getPersonalFilesFolderKey()}" data-resource-type="file" th:data-name="${file.getPersonalFilesSysname()}">
                  <input type="checkbox" class='check' th:data-key="${file.getPersonalFilesKey()}" data-resource-type="file" th:data-name="${file.getPersonalFilesSysname()}">
                  <img src='/static/img/fileImg.png'>
                  <input type='text' class="printFileName" th:value='${file.getPersonalFilesOriname()}' th:id="${'file' + file.getPersonalFilesOriname()}" disabled>
                </li>
              </th:block>
            </div>
          </ul>
        </div>
        <div id="fileInfo">
          파일 정보
        </div>
      </div>
    </section>
  </div>
</div>
<div id="menuList" class="menuList">
  <ul>
    <li><a href="">logout</a></li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
  </ul>
</div>
<!-- 토글 -->
<script>
  $(document).ready(function () {
    $("#headerToggle").click(function () {
      $("#dropdownList").toggle();
    });

    $("#menu").click(function () {
      $("#menuList").toggle();
    });

    $("#fileTypeToggle").click(function () {
      $("#chatList").toggle();
    });

    $("#asideClose").click(function () {
      $("aside").toggle();
    });

    $("#appToggle").click(function () {
      $("#appList").toggle();
    });
  });
</script>

<!-- 새 폴더 생성 -->
<script>
  // 아이디, 클래스에 부여할 count
  let count = 1;
  // 현재 폴더의 key 값( = 생성될 폴더, 파일의 parentKey)
  let parentKey = $("#parentKey").val();

  $("#newFolder").on('click',function (){
    let folderName = 'folderName'+count;

    let folderArea = $(
            "<li class='"+folderName+"'>"
            +
            "<input type='checkbox'>"
            +
            "<img src='/static/img/folderImg.png'>"
            +
            "<input type='text' value='새 폴더' id='"+folderName+"' class='printFileName' maxlength='10'>"
            +
            "</li>"
    ).css("background-color","orange");

    count++;

    $(".listThumb").prepend(folderArea);


    // 폴더 이름 변경
    let modifyText = folderArea.find("input:eq(1)");
    let modifiedName;

    // 폴더 이름에 자동 포커스
    modifyText.focus();

    // 폴더 이름 함수, 폴더 이름 가져가기
    modifyText.on("blur",function(){
      modifiedName = $(this).val();
      $(this).css("color","white").attr("disabled",true);

        // 폴더 이름을 사용하고 있는지 조회 하고 결과 반환
        $.ajax({
          url:"/personalFolder/addFolder"
          ,data:({
            "folderName":modifiedName,
            "parentKey":parentKey
          })
        }).done(function(rsp){
          // rsp : true(사용할 수 있음), false(사용할 수 없음)
          if(!rsp) {
            alert("개인 드라이브 내에 이미 존재하는 이름입니다. 폴더 이름을 변경해주세요.");
            modifyText.attr("disabled",false).css("color","red");
          }else{
            location.reload();
          }
        })

    })

  });

</script>

<!-- 파일 세부정보 -->
<script>

  $(".thisFolder").on("click",function(){
    let thisFolderSeq = $(this).data("folder");
    location.href = "/drive/detailDrive?resourceKey="+thisFolderSeq;
  })

</script>

<!-- 체크박스 클릭 -->
<script>

  // 체크 박스
  $(".check").on('change',function(){
    if($(".check").is(":checked")){
      $("#deleteBtn").css("display","inline");
      $("#shareBtn").css("display","inline");
      $("#downloadBtn").css("display","inline");
    }else{
      $("#deleteBtn").css("display","none");
      $("#shareBtn").css("display","none");
      $("#downloadBtn").css("display","none");
    }
  })

  // 삭제
  $("#deleteBtn").on("click",function (){
    let checked = $("input:checkbox[class='check']:checked");

    if(confirm("선택하신 폴더 또는 파일을 삭제하시겠습니까?")){
      let list = [];

      checked.each(function (){
        let type = $(this).data("resource-type");
        let key = $(this).data("key");
        let name = $(this).data("name");

        list.push({
          type : type
          ,key : key
          ,name : name
        })

      })

      $.ajax({
        url : "/drive/delete?parentKey="+parentKey,
        type : "post",
        contentType: 'application/json',
        data : JSON.stringify(list),
        encoding : "UTF-8"
      }).done(function(){
        location.reload();
      })
    }

  })


  // 공유

  // AJAX binary 설정(AJAX로 다운로드를 하기 위함)
  $.ajaxTransport("+binary", function(options, originalOptions, jqXHR){
    if (window.FormData && ((options.dataType && (options.dataType == 'binary')) || (options.data && ((window.ArrayBuffer && options.data instanceof ArrayBuffer) || (window.Blob && options.data instanceof Blob)))))
    {
      return {
        send: function(headers, callback){
          var xhr = new XMLHttpRequest(),
                  url = options.url,
                  type = options.type,
                  async = options.async || true,
                  dataType = options.responseType || "blob",
                  data = options.data || null,
                  username = options.username || null,
                  password = options.password || null;

          xhr.addEventListener('load', function(){
            var data = {};
            data[options.dataType] = xhr.response;
            callback(xhr.status, xhr.statusText, data, xhr.getAllResponseHeaders());
          });

          xhr.open(type, url, async, username, password);

          for (var i in headers ) {
            xhr.setRequestHeader(i, headers[i] );
          }

          xhr.responseType = dataType;
          xhr.send(data);
        },
        abort: function(){
          jqXHR.abort();
        }
      };
    }
  });

  const dispositionRegex = /(?<=\'\')(.+?)$/gm;

  $("#downloadBtn").on("click",function () {
    let checked = $("input:checkbox[class='check']:checked");
    checked.each(function () {
      let type = $(this).data("resource-type");
      let key = $(this).data("key");
      let name = $(this).data("name");

      let list = [];

      list.push({
        type: type
        , key: key
        , name: name
      })

      if(type === "file"){
        $.ajax({
          url: "/drive/download"
          , type: "post"
          , contentType: 'application/json'
          , data: JSON.stringify(list)
          , encoding: "UTF-8"
          , processData: false
          , headers: { 'X-Requested-With': 'XMLHttpRequest' }
          , xhrFields: {
            responseType : "blob"
          }
        }).done(function (blob,status,info){
          let contentDisposition = decodeURI(info.getResponseHeader("content-disposition").match(dispositionRegex)[0]);
          let contentType = info.getResponseHeader("content-type");
          download(blob,contentDisposition,contentType);
        })
      }else{
        $.ajax({
          url: "/drive/download"
          , type: "post"
          , contentType: 'application/json'
          , data: JSON.stringify(list)
          , encoding: "UTF-8"
          , processData: false
          , headers: { 'X-Requested-With': 'XMLHttpRequest' }
          ,xhrFields: {
            responseType : "blob"
          }
        }).done(function (blob,status,info){
          download(blob,name+".zip","application/octet-stream");
        })
      }
    });
  });
</script>

<!-- 뒤로가기 -->
<script>
  $("#backBtn").on("click",function(){
    history.back();
  })
</script>

<!-- 파일 업로드 버튼 클릭 -->
<script>
  $("#uploadFile").on('change',attachType);

  function attachType(e){
    let extension = this.value.split(".").pop().toLowerCase();
    let accept = ["png","jpg","jpeg","gif"];
    let result = $.inArray(extension,accept);

    // if(result == -1){
    //     alert("이미지, 텍스트 파일만 업로드 가능합니다.. (.png, .jpg, jpeg, .gif, .txt)");
    //     this.value = "";
    // }else if(result != -1 && e.target.files[0]){
    $("#uploadFileForm").submit();
    // $("#uploadFileForm").submit(function(e) {
    //     e.preventDefault();
    //     $.post("/personalFile/uploadFile", $(this).serialize(), function(response) {
    //         location.reload();
    //     });
    // });
    // }
  }

</script>

<!-- 사이드 메뉴 arrow 클릭 -->
<script>

  let nowArrow;

  $(document).on("click",".arrowBtn",function(){
    nowArrow = $(this).attr("arrowType");

    if(nowArrow == "right"){
      let arrowThis = $(this);

      $(this).attr("arrowType","down");
      $(this).attr("class","fa-solid fa-chevron-down arrowBtn");

      let container = $("<div>");

      let parentFolderKey = $(this).next("li").data("folder");
      $.ajax({
        url : "/drive/getKey?parentFolderKey="+parentFolderKey
        ,type : "json"
        ,success:function (rsp){
          $.each(rsp, function(index, value){
            let div = $("<div>");
            let li = $("<li>");
            let i = $("<i>").addClass("fa-solid fa-chevron-right arrowBtn newer").attr("arrowType","right");
            let list = $("<li>").addClass("sideList").attr("data-folder",value.personalFolderKey).attr("data-resource-type","folder").html(value.personalFolderName);
            let ul = $("<ul>").addClass("sub");

            div.append(li).append(i).append(list).append(ul);
            container.append(div);
          })
          arrowThis.siblings("ul").append(container).css("margin-left","20px");
        }
      })

    }else{
      $(this).attr("arrowType","right");
      $(this).attr("class","fa-solid fa-chevron-right arrowBtn newer");
      $(this).siblings("ul").children().remove();
    }

  })

</script>

<!-- 사이드 메뉴 클릭 -->
<script>
  $("#main").on('click',function(){
    location.href = "/drive/toFileDrive";
  })

  $(document).on("click",".sideList",function(){
    let thisType = $(this).data("resource-type");
    if(thisType == "folder"){
      let folderData = $(this).data("folder");
      location.href = "/drive/detailDrive?resourceKey="+folderData;
    }
  })
</script>

</body>
</html>