<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuddyDrive</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fileDrive.css" />
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"
    ></script>
    <script src="/static/js/jQueryCheck.js"></script>
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="logo">
            <a href="/static">
                <img src="" alt="" />
                logo
            </a>
        </div>
        <div class="secondLogo">
            secondLogo
        </div>

        <button id="menu" class="iconMenu">menu</button>
        <button id="asideClose">aside</button>
    </div>
    <div class="main">
        <aside>
            <div id="profile" class="asideTitle">
                <img src="" alt="" />
                <h3><a href="/member/goMyProfile" th:text="${session.memberName}"></a></h3>
            </div>

            <div id="allFiles" class="asideList">
                <div class="asideTitle">
                    <h3>모든 파일</h3>
                    <button id="allFilesBtn" class="toggle">v</button>
                </div>
                <div id="folderList" class="asideItem">
                    <ul>
                        <div th:if="${#strings.isEmpty(myFolders)}">
                            아직 파일이 없습니다.
                        </div>
                        <div th:unless="${#strings.isEmpty(myFolders)}">
                            <th:block th:each="folder : ${myFolders}">
                                <li th:text="${folder.getPersonalFolderName()}"></li>
                            </th:block>
                        </div>
                    </ul>
                </div>
            </div>

            <div id="chat" class="asideList">
                <div class="asideTitle">
                    <h3>유형별 보기</h3>
                    <input type="search" placeholder="검색" id="searchMsg" />
                    <button id="fileTypeToggle" class="toggle">v</button>
                </div>
                <div id="chatList" class="asideItem">
                    <ul>
                        <li>사진</li>
                        <li>문서</li>
                        <li>음악</li>
                        <li>동영상</li>
                        <li>휴지통</li>
                    </ul>
                </div>
            </div>

            <div class="asideTool">
                <button id="appToggle" class="appToggle">앱 toggle</button>
                <div id="appList">
                    <button class="app" id="appDrive"><a href="">드라이브</a></button>
                    <button class="app" id="appCal"><a href="">캘린더</a></button>
                </div>
            </div>
        </aside>

        <section class="fileSection">
            <!-- 헤더 -->
            <div class="fileHeader">
                <h1>MYBOX</h1>
            </div>
            <!-- 헤더-버튼 -->
            <div class="attachBtnArea">
                <input type="checkbox">
                <form action="/personalFile/uploadFile" method="post" enctype="multipart/form-data" id="uploadFileForm">
                    <label for="uploadFile" class="fileLabel" >
                        업로드
                        <input type="file" name="multipartFile" id="uploadFile" multiple>
                        <input type="hidden" th:value="${parentKey}" name="attachFolder">
                    </label>
                </form>
                <button type="button" id="newFolder">새 폴더</button>
                <button type="button">공유</button>
            </div>
            <!-- 본문 -->
            <div class="fileMainPlace">
                <div id="listArea">
                    <ul class="listThumb">
                        <div th:if="${#strings.isEmpty(myFolders)} and ${#strings.isEmpty(myFiles)}">
                            아직 파일이 없습니다.
                        </div>
                        <div th:unless="${#strings.isEmpty(myFolders)}">
                            <input type="hidden" th:value="${parentKey}" id="parentKey">
                            <th:block th:each="folder : ${myFolders}">
                                <li class="thisFolder" th:data-folder="${folder.getPersonalFolderKey()}" data-resource-type="folder">
                                    <input type="checkbox" name="">
                                    <img src='/static/img/folderImg.png'>
                                    <input type='text' class="printFileName" th:value='${folder.getPersonalFolderName()}' th:id="${'folder' + folder.getPersonalFolderKey()}" disabled>
                                </li>
                            </th:block>
                        </div>
                        <div th:unless="${#strings.isEmpty(myFiles)}">
                            <th:block th:each="file : ${myFiles}">
                                <li class="thisFile" th:data-folder="${file.getPersonalFilesFolderKey()}" data-resource-type="file">
                                    <input type="checkbox" name="" id="">
                                    <img src='/static/img/fileImg.png'>
                                    <input type='text' class="printFileName" th:value='${file.getPersonalFilesOriname()}' th:id="${'file' + file.getPersonalFilesOriname()}" disabled>
                                </li>
                            </th:block>
                        </div>
                    </ul>
                </div>
                <div id="fileInfo">
                    파일 정보
                </div>
            </div>
        </section>
    </div>
</div>
<div id="menuList" class="menuList">
    <ul>
        <li><a href="">logout</a></li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
    </ul>
</div>
<!-- 토글 -->
<script>
    $(document).ready(function () {
        $("#headerToggle").click(function () {
            $("#dropdownList").toggle();
        });

        $("#menu").click(function () {
            $("#menuList").toggle();
        });

        $("#allFilesBtn").click(function () {
            $("#folderList").toggle();
        });

        $("#fileTypeToggle").click(function () {
            $("#chatList").toggle();
        });

        $("#asideClose").click(function () {
            $("aside").toggle();
        });

        $("#appToggle").click(function () {
            $("#appList").toggle();
        });
    });
</script>

<!-- 새 폴더 생성 -->
<script>
    // 아이디, 클래스에 부여할 count
    let count = 1;
    // 현재 폴더의 key 값( = 생성될 폴더, 파일의 parentKey)
    let parentKey = $("#parentKey").val();

    $("#newFolder").on('click',function (){
        let folderName = 'folderName'+count;

        let folderArea = $(
            "<li class='"+folderName+"'>"
            +
            "<input type='checkbox'>"
            +
            "<img src='/static/img/folderImg.png'>"
            +
            "<input type='text' value='새 폴더' id='"+folderName+"' class='printFileName' maxlength='10'>"
            +
            "</li>"
        ).css("background-color","orange");

        count++;

        $(".listThumb").prepend(folderArea);


        // 폴더 이름 변경
        let modifyText = folderArea.find("input:eq(1)");
        let modifiedName;

        // 폴더 이름에 자동 포커스
        modifyText.focus();

        // 폴더 이름 함수, 폴더 이름 가져가기
        modifyText.on("blur",function(){
            modifiedName = $(this).val();
            $(this).css("color","white").attr("disabled",true);

            let array =
            // 폴더 이름을 사용하고 있는지 조회 하고 결과 반환
            $.ajax({
                url:"/personalFolder/addFolder"
                ,data:({
                    "folderName":modifiedName,
                    "parentKey":parentKey
                })
            }).done(function(rsp){
                // rsp : true(사용할 수 있음), false(사용할 수 없음)
                if(!rsp) {
                    alert("드라이브 내에 이미 존재하는 이름입니다. 폴더 이름을 변경해주세요.");
                    modifyText.attr("disabled",false).css("color","red");
                }
            })

        })

        // 방금 만들어진 리스트 클릭 이벤트(동적 바인딩)
        folderArea.on("click",function(){
            location.href="/drive/detailDrive?resourceKey="+parentKey;
        })


    });

</script>

<!-- 파일 세부정보 -->
<script>

    $(".thisFolder").on("click",function(){
        let thisFolderSeq = $(this).data("folder");
        location.href = "/drive/detailDrive?resourceKey="+thisFolderSeq;
    })

</script>

<!-- 삭제 버튼 클릭 -->
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>

<!-- 파일 업로드 버튼 클릭 -->
<script>
    $("#uploadFile").on('change',fileCheck);

    function fileCheck(e) {
        if (e.target.files[0]) {
            $("#uploadFileForm").submit();
        } else {
            return;
        }
    }
</script>


</body>
</html>