<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.BasicFolderMapper">

    <!-- 회원가입 시 기본 폴더 생성 -->
    <insert id="newBasicFolder">
        insert into
            basic_folder
        values
            (#{basicFolderKey}, #{memberSeq}, #{memberName})
    </insert>

    <!-- basicFolder 테이블에서 멤버 번호로 key값 추출하기 -->
    <select id="myBasicFolder" resultType="String">
        select
            basic_folder_key
        from
            basic_folder
        where
            basic_folder_member_seq = #{memberSeq}
    </select>
</mapper>