<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.BasicFolderMapper">

    <!-- 회원가입 시 기본 폴더 생성 -->
    <insert id="newBasicFolder">
        insert into
            basic_folder
        values
            (#{basicFolderKey}, #{memberSeq}, #{memberName},0,'user',0)
    </insert>

    <!-- 팀 생성시 기본 폴더 생성 -->
    <insert id="newTeamBasicFolder">
        insert into
            basic_folder
        values
            (#{basicFolderKey}, 0, #{name},0,'team',#{seq})
    </insert>

    <!-- basicFolder 테이블에서 멤버 번호로 key값 추출하기 -->
    <select id="myBasicFolder" resultType="String">
        select
            basic_folder_key
        from
            basic_folder
        where
            basic_folder_member_seq = #{memberSeq}
    </select>

    <!-- 팀 번호로 key값 추출하기 -->
    <select id="myTeamFolderKey" resultType="String">
        select
            basic_folder_key
        from
            basic_folder
        where
            basic_folder_team_seq = #{value}
    </select>

    <!-- 개인 파일 업로드 용량 추가 -->
    <update id="uploadByte">
        update
            basic_folder
        set
            basic_folder_byte = basic_folder_byte + #{fileSize}
        where
            basic_folder_member_seq = #{memberSeq}
    </update>
    <!-- 팀 파일 업로드 용량 추가 -->
    <update id="uploadTeamByte">
        update
            basic_folder
        set
            basic_folder_byte = basic_folder_byte + #{fileSize}
        where
            basic_folder_key = #{key}
    </update>
    <!-- 내 현재 용량 -->
    <select id="myVolume" resultType="long">
        select
            basic_folder_byte
        from
            basic_folder
        where
            basic_folder_member_seq = #{value}
    </select>

    <!-- 용량 제거 -->
    <update id="deleteFileByte">
        update
            basic_folder
        set
            basic_folder_byte = basic_folder_byte -
                (select
                    personal_files_byte
                from
                    personal_files
                where
                    personal_files_folder_key = #{folderKey} and personal_files_key = #{key})
        where
            basic_folder_member_seq = #{memberSeq}
    </update>

    <!-- 폴더 삭제 시 폴더 용량, key로 삭제 -->
    <update id="deleteFolderByte">
        update
            basic_folder
        set
            basic_folder_byte = basic_folder_byte - #{byte}
        where
            basic_folder_member_seq = #{memberSeq}
    </update>

    <!-- 회원 탈퇴 시 기본 폴더 제거 -->
    <delete id="memberOut">
        delete from
            basic_folder
        where
            basic_folder_member_seq = #{value}
    </delete>

    <!-- 기본 파일 경로 -->
    <select id="selectBasicKey" resultType="String">
        select
            basic_folder_key
        from
            basic_folder
        where
            basic_Folder_member_seq = #{value}
    </select>

    <!-- 모든 기본파일 Key 출력 -->
    <select id="allBasicKey" resultType="map">
        select
            basic_folder_key
        from
            basic_folder
    </select>

    <!-- 팀 루트 용량 -->
    <select id="getTeamVolume" resultType="long">
        select
            basic_folder_byte
        from
            basic_folder
        where
            basic_folder_key = #{value}
    </select>

    <!-- 팀 기본 폴더 제거 -->
    <delete id="teamOut">
        delete from
            basic_folder
        where
            basic_folder_team_seq = #{value}
    </delete>
</mapper>