<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.CalMapper">
    <insert id="insertEvent" >
        insert into EVENT values (
        event_seq.nextval,
        #{memberSeq},
        #{teamSeq},
        #{eventName},
        #{eventWriter} ,
        #{eventType},
        #{eventStart},
        #{eventEnd},
        #{eventLocation},
        #{eventMemo},
        #{eventColor}
        )
    </insert>

    <select id="selectAll" resultType="com.fivet.buddy.dto.CalDTO">
<!--        이름 상관없이 값이 1개만 넘어오면 value 로 처리가능-->
        select * from event where "team_seq" = #{teamSeq}
    </select>


    <select id="selectTeam" resultType="com.fivet.buddy.dto.CalDTO">
        select * from event where "team_seq" = #{teamSeq} and "event_type" = '팀'
    </select>

    <select id="selectPrivate" resultType="com.fivet.buddy.dto.CalDTO">
        select * from event where "team_seq" = #{teamSeq} and "event_type" = '개인' and "member_seq" = #{memberSeq}
    </select>

    <select id="selectGrade" resultType="String">
        select GRADE from TEAM_MEMBER where "TEAM_MEMBER_NICKNAME" = #{value}
    </select>

    <delete id="deleteEvent">
        delete event where "event_seq" = #{eventSeq} and "member_seq" = #{memberSeq}
    </delete>

    <delete id="deleteUserEvent">
        delete event where "member_seq" = #{memberSeq}
    </delete>

    <delete id="deleteTeamMemberEvent">
        delete event where "member_seq" = #{memberSeq}  and "team_seq" =#{teamSeq}   </delete>

    <update id="updateEvent">
        update event set "event_type" = #{eventType}, "event_name" =#{eventName} ,
        "event_start"=#{eventStart}, "event_end" =#{eventEnd}, "event_location" =#{eventLocation}, "event_memo" =#{eventMemo},
        "event_color"=#{eventColor} where "event_seq" =#{eventSeq}

    </update>

    <update id="updateNickname">
        update event set "event_writer" = #{eventWriter} where  "member_seq" = #{memberSeq}  and "team_seq" = #{teamSeq}
    </update>

</mapper>