<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.ChatMemberMapper">

    <!-- 팀 합류시 기본생성되는 채팅방 목록 (생성포함)  -->
    <insert id="insertChatMember">
        insert into
            chat_member
        values
            (#{chatRoomSeq}, #{memberSeq}, #{teamSeq}, sysdate)
    </insert>

    <!-- 채팅방 멤버 출력 -->
    <select id="selectChatMember" resultType="com.fivet.buddy.dto.ChatMemberListDTO">
        select * from chat_member c inner join member_img i on c.member_seq=i.member_img_member_seq
        join team_member t on c.member_seq=t.member_seq
        where c.chat_room_seq= #{chatRoomSeq} and t.team_seq= #{teamSeq}
        order by case when t.grade='매니저' then 1
        when t.grade='부매니저' then 2
        when t.grade='팀원' then 3
        end, c.member_seq asc
    </select>

    <!--    채팅방 삭제에 따른 채팅방 회원 목록 삭제-->
    <delete id="delChatRoom">
        delete from chat_member where chat_room_seq = #{value}
    </delete>

    <!--    회원 채팅방 나가기-->
    <delete id="delChatMember">
        delete from chat_member where chat_room_seq = #{chatRoomSeq} and member_seq = #{memberSeq}
    </delete>

    <!-- 채팅방 멤버 프로필 이미지 -->
    <select id="selectChatMemberImg" resultType="string">
    select m.member_img_sysname from member_img m inner join chat_member c on m.member_img_member_seq=c.member_seq where c.member_seq = #{memberSeq} and c.chat_room_seq = #{chatRoomSeq}
    </select>

    <!--    회원의 팀 내 참여한 채팅방 목록-->
    <select id="selectMembersChatList" resultType="com.fivet.buddy.dto.ChatMemberDTO">
        select * from chat_member where team_seq = #{teamSeq} and member_seq = #{memberSeq}
    </select>

    <!--    회원이 팀 내 참여한 채팅방에서 제거-->
    <delete id="delTeamChatMember">
        delete from chat_member where team_seq = #{teamSeq} and member_seq = #{memberSeq}
    </delete>

    <!--    특정 회원 한명뿐인 채팅방 회원 목록 제거-->
    <delete id="delOnlyOneChatMember">
        delete from
            (select cm.*
            from chat_member cm
            left outer join team t
            on t.team_seq = cm.team_seq
            left outer join member m
            on t.team_owner_seq = m.member_seq
            where m.member_seq=#{memberSeq} and t.team_count = 1);
    </delete>

    <!--    특정 팀 삭제시, 팀 채팅방 회원 목록 모두 제거-->
    <delete id="delTeam">
        delete from chat_member where team_seq = {teamSeq}
    </delete>
</mapper>