<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.ChatMsgMapper">

    <!-- 새로 올라온 채팅메세지를 DB에 입력   -->
    <insert id="insertChatMsg">
        insert into
            chat_msg
        values
            (chat_msg_seq.nextval, #{chatRoomSeq}, #{teamMemberNickname}, #{chatContent}, #{memberSeq}, 1, #{chatMsgType},sysdate, #{memberImgSysName})
        <selectKey order="AFTER" keyProperty="chatDate" resultType="java.sql.Timestamp">
            select
                Max(chat_date)
            from
                chat_msg
            where
                chat_room_seq = #{chatRoomSeq}
        </selectKey>
    </insert>

    <insert id="insertFiles">
        insert into chat_files values(chat_files_seq.nextval, #{chatOriName}, #{chatSysName}, #{chatRoomSeq})
    </insert>

    <!-- 이전 메세지 불러오기   -->
    <select id="selectChatMsg" resultType="com.fivet.buddy.dto.ChatMsgDTO">
        select
            *
        from
            chat_msg
        where
            chat_room_seq = #{chatRoomSeq}
        order by
            1
    </select>

    <!--    채팅방 삭제에 따른 메세지 삭제-->
    <delete id="delChatRoom">
        delete from chat_msg where chat_room_seq = #{value}
    </delete>

</mapper>