<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.EmoticonMapper">

    <!-- 이모티콘 추가 -->
    <insert id="insertEmoticon">
        insert into emoticon values(emoticon_seq.nextval,#{emoticonOriName},#{emoticonSysName})
    </insert>

    <select id="selectEmoticon" resultType="com.fivet.buddy.dto.EmoticonDTO">
        select * from emoticon
    </select>
</mapper>