<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fivet.buddy.mapper.MemberMapper">
    <!-- 일반 회원가입 -->
    <insert id="signUp">
        insert into
            member
        values
            (member_seq.nextval, #{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, sysdate, #{memberLogtype})
        <selectKey order="AFTER" keyProperty="memberSeq" resultType="int">
            select
                member_seq.currval
            from
                dual
        </selectKey>
    </insert>

    <!-- 회원가입 시 아이디 체크 -->
    <select id="idCheck" resultType="boolean">
        select
            case when count(*) >= 1 then 1 else 0 end
        from
            member
        where
            member_id = #{value} and member_logtype = 'normal'
    </select>

    <!-- 계정 ID/PW 체크 -->
    <select id="isAccountExist" resultType="boolean">
        select
            case when count(*) >= 1 then 1 else 0 end
        from
            member
        where
            member_id = #{memberId} and member_pw = #{memberPw} and (member_logtype = 'normal' or member_logtype = 'admin')
    </select>

    <!-- 카카오 로그인 시 회원 체크-->
    <select id="isKakaoExist" resultType="boolean">
        select
            case when count(*) >= 1 then 1 else 0 end
        from
            member
        where
            member_id = #{memberId} and member_name = #{memberName} and member_logtype = #{memberLogtype}
    </select>

    <!-- 네이버 로그인 시 회원 체크 -->
    <select id="isNaverExist" resultType="boolean">
        select
            case when count(*) >= 1 then 1 else 0 end
        from
            member
        where
            member_id = #{memberId} and member_name = #{memberName} and member_logtype = 'naver'
    </select>

    <!-- 계정 정보 출력 -->
    <select id="selectAccountInfo" resultType="com.fivet.buddy.dto.MemberDTO">
        select
            *
        from
            member
        where
            member_id = #{memberId} and member_pw = #{memberPw} and (member_logtype = 'normal' or member_logtype = 'admin')
    </select>

    <!-- 계정 정보 출력(카카오 / 네이버) -->
    <select id="selectAccountInfoForNK" resultType="com.fivet.buddy.dto.MemberDTO">
        select
            *
        from
            member
        where
            member_id = #{memberId} and member_name = #{memberName} and member_logtype = #{memberLogtype}
    </select>

    <!-- 로그인 상태일 때 마이페이지로 돌려보내기 -->
    <select id="selectMyInfo" resultType="com.fivet.buddy.dto.MemberDTO">
        select
            *
        from
            member
        where
            member_seq = #{value}
    </select>

    <!-- 계정설정으로 이동 -->
    <select id="selectMyProfile" resultType="com.fivet.buddy.dto.MemberDTO">
        select * from member where member_seq = #{memberSeq}
    </select>

    <!-- 휴대전화 수정 -->
    <update id="updatePhone">
        update member set member_phone = #{memberPhone} where member_seq = #{memberSeq}
    </update>

    <!-- 현재비밀번호 일치여부 -->
    <select id="selectMyProfilePw" resultType="int">
        select count(*) from member where member_seq = #{memberSeq} and member_pw= #{memberPw}
    </select>

    <!-- 비밀번호 수정 -->
    <update id="updatePw">
        update member set member_pw = #{memberPw} where member_seq = #{memberSeq}
    </update>

    <!-- 회원가입 시 프로필 이미지 기본값으로 추가 -->
    <insert id="insertProfileImg">
        insert into member_img values(#{memberImgMemberSeq},'/static/img/defaultProfileImg.png','/static/img/defaultProfileImg.png')
    </insert>

    <!-- 프로필 이미지 출력 -->
    <select id="selectProfileImg" resultType="String">
        select member_img_sysname from member_img where member_img_member_seq = #{memberImgMemberSeq}
    </select>

    <!-- 프로필 이미지 업로드 -->
    <update id="updateProfileImg">
    update member_img set member_img_oriname = #{memberImgOriName}, member_img_sysname= #{memberImgSysName} where member_img_member_seq =#{memberImgMemberSeq}
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="deleteMember">
        delete member where member_seq=#{value}
    </delete>

    <!-- 회원 목록 출력 -->
    <select id="selectMembers" resultType="com.fivet.buddy.dto.MemberDTO">
        select * from member
    </select>

    <!-- 회원 검색 -->
    <select id="memberSearch" resultType="com.fivet.buddy.dto.MemberDTO">
        select
            *
        from
            member
        where ${searchPick} like '%'||#{memberSearchText}||'%'
    </select>

    <!-- 회원 강퇴 -->
    <delete id="memberKickOut">
        delete
            member
        where
            member_seq = #{value}
    </delete>

</mapper>