<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.NoticeMapper">

    <select id="select" resultType="com.fivet.buddy.dto.NoticeDTO">
        select * from notice_board order by notice_seq desc
    </select>

    <select id="selectDetail" resultType="com.fivet.buddy.dto.NoticeDTO">
        select * from notice_board where notice_seq = #{noticeSeq}
    </select>

    <select id="selectFile" resultType="com.fivet.buddy.dto.NoticeFileDTO">
        select * from notice_files where notice_seq = #{noticeSeq}
    </select>

    <select id="selectFileDetail" resultType="com.fivet.buddy.dto.NoticeFileDTO">
        select * from notice_files where notice_seq = #{noticeSeq}
    </select>

</mapper>