<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.NoticeBoardMapper">

    <!-- 공지글 내역 출력   -->
    <select id="selectNotice" resultType="com.fivet.buddy.dto.NoticeBoardDTO">
        select * from notice_board order by notice_seq desc
    </select>
    
    <insert id="insertNotice">
        insert into notice_board values(notice_seq.nextval, #{noticeWriterSeq}, #{noticeWriterName}, #{noticeTitle}, #{noticeContents}, sysdate)
    </insert>

    <!--    공지글 삭제-->
    <delete id="deleteNotice">
        delete from notice_board where notice_seq = #{value}
    </delete>

    <!-- 공지글 보기   -->
    <select id="noticeDetail" resultType="com.fivet.buddy.dto.NoticeBoardDTO">
        select * from notice_board where notice_seq = #{value}
    </select>
</mapper>