<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fivet.buddy.mapper.PersonalFolderMapper">
    <!-- 내 폴더 불러오기 -->
    <select id="selectMyFolders" resultType="com.fivet.buddy.dto.PersonalFolderDTO">
        select
            *
        from
            personal_folder
        where
            personal_folder_parent_key =
                (select
                    personal_folder_key
                from
                    personal_folder
                where
                    personal_folder_member_seq = #{memberSeq}
                and
                    personal_folder_parent_key = #{basicKey})
        order by
            personal_folder_date desc
    </select>

    <!-- 폴더 생성 -->
    <insert id="insertNewFolder">
        insert into
            personal_folder
        values
            (#{personalFolderKey}, #{personalFolderName}, #{personalFolderMemberSeq},#{personalFolderParentKey},#{personalFolderPath},sysdate,'N',0)
    </insert>

    <!-- 폴더 존재 유무 체크 -->
    <select id="isFolderExists" resultType="boolean">
        select
            case when count(*) >= 1 then 1 else 0 end
        from
            personal_folder
        where
            personal_folder_member_seq = #{personalFolderMemberSeq} and personal_folder_name = #{personalFolderName}
    </select>

    <!-- 회원가입시 개인 폴더 생성 -->
    <insert id="newPersonalFolder">
        insert into
            personal_folder
        values
            (#{newKey}, #{memberName}, #{memberSeq}, #{basicFolderKey}, #{path}, sysdate,'N')
    </insert>

    <!-- 부모폴더 경로 찾기-->
    <select id="searchPath" resultType="String">
        select
            personal_folder_path
        from
            personal_folder
        where
            personal_folder_key = #{value}
    </select>

    <!-- personal_folder 테이블에서 내 기본 폴더번호 추출 -->
    <select id="myBasicFolder" resultType="String">
        select
            personal_folder_key
        from
            personal_folder
        where
            personal_folder_parent_key =
                (select
                    basic_folder_key
                from
                    basic_folder
                where
                    basic_folder_member_seq = ${value})
    </select>

    <!-- 자식 폴더 정보 -->
    <select id="selectChildFolders" resultType="com.fivet.buddy.dto.PersonalFolderDTO">
        select
            *
        from
            personal_folder
        where
            personal_folder_parent_key = #{value}
        order by
            personal_folder_date desc
    </select>

    <!-- 현재 폴더 이름 -->
    <select id="nowFolder" resultType="String">
        select
            personal_folder_name
        from
            personal_folder
        where
            personal_folder_key = #{value}
    </select>

    <!-- 폴더 변경 -->
    <delete id="deleteFolder" parameterType="java.util.List">
        delete
            from personal_folder
        where
            personal_folder_key in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.key}
        </foreach>
    </delete>

    <!-- 선택된 폴더 경로 -->
    <select id="myPath" resultType="String">
        select
            personal_folder_path
        from
            personal_folder
        where
            personal_folder_key = #{value}
    </select>

    <!-- 폴더 경로로 폴더들 삭제 -->
    <delete id="deleteFolderByPath">
        delete
            from personal_folder
        where
            personal_folder_path like '%'||#{value}||'%'
    </delete>

    <!-- 폴더 경로에 있는 모든 byte 추출 -->


    <!-- 하위 폴더들이 있는지 확인 -->
    <select id="subIsExist" resultType="boolean">
        select
            case when count(*) >= 1 then 1 else 0 end
        from
            personal_folder
        where
            personal_folder_parent_key = #{value}
    </select>

    <!-- 폴더 소유자/공유 여부 확인 -->
    <select id="getFolderOwner" resultType="com.fivet.buddy.dto.PersonalFolderDTO">
        select
            *
        from
            personal_folder
        where
            personal_folder_key = #{value}
    </select>

    <!-- 접근 권한 -->
    <update id="accessStatus">
        update
            personal_folder
        set
            personal_folder_shared = #{access}
        where
            personal_folder_key = #{key}
    </update>

    <!-- 파일 업로드 시 byte추가 -->
    <update id="updateMyFolderByte">
        update
            personal_folder
        set
            personal_folder_byte = personal_folder_byte + #{fileSize}
        where
            personal_folder_key = #{key}
    </update>

    <!-- 내 폴더 정보 가져오기 -->
    <select id="myFolderInfo" resultType="com.fivet.buddy.dto.PersonalFolderDTO">
        select
            *
        from
            personal_folder
        where
            personal_folder_key = #{value}
    </select>
</mapper>