<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fivet.buddy.mapper.PersonalFileMapper">
    <!-- 파일 업로드 하기 -->
    <insert id="uploadFile">
        insert into
            personal_files
        values
            (#{personalFilesKey}, #{personalFilesOriname}, #{personalFilesSysname}, #{personalFilesMemberSeq}, #{personalFilesFolderKey}, #{personalFilesPath}, #{personalFilesByte},sysdate)
    </insert>

    <!-- 내 폴더 불러오기 -->
    <select id="selectMyFiles" resultType="com.fivet.buddy.dto.PersonalFileDTO">
        select
            *
        from
            personal_files
        where
            personal_files_folder_key =
                (select
                    personal_folder_key
                from
                    personal_folder
                where
                    personal_folder_member_seq = #{memberSeq}
                and
                    personal_folder_parent_key = #{basicKey})
    </select>

    <!-- 하위 폴더 파일 가져오기 -->
    <select id="selectChildFiles" resultType="com.fivet.buddy.dto.PersonalFileDTO">
        select
            *
        from
            personal_files
        where
            personal_files_folder_key = #{value}
    </select>

    <!-- 파일 삭제하기 -->
    <delete id="deleteFile" parameterType="java.util.List">
        delete
            from personal_files
        where
            personal_files_key in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.key}
        </foreach>
    </delete>

    <!-- 파일 경로 불러오기 -->
    <select id="myPath" resultType="String">
        select
            personal_folder_path
        from
            personal_folder
        where
            personal_folder_key = #{value}
    </select>

    <!-- 경로로 삭제 -->
    <delete id="deleteByPath">
        delete from
            personal_files
        where
            personal_files_path like '%'||#{value}||'%'
    </delete>

    <!-- 파일 다운로드 경로  -->
    <select id="getFilePath" resultMap="selectMapFile">
        select
            personal_files_path,personal_files_sysname, personal_files_oriname
        from
            personal_files
        where
            personal_files_key in
        <foreach collection="list" item="list" open="(" separator="," close=")">
            #{list.key}
        </foreach>
    </select>
    <resultMap id="selectMapFile" type="map">
        <result column="personal_files_path" property="path" />
        <result column="personal_files_sysname" property="sysName" />
        <result column="personal_files_oriname" property="oriName" />
    </resultMap>

    <!-- oriName -->
    <select id="thisOriName" resultType="String">
        select
            personal_files_oriname
        from
            personal_files
        where
            personal_files_key = #{value}
    </select>

    <!-- 파일 정보 -->
    <select id="myFileInfo" resultType="com.fivet.buddy.dto.PersonalFileDTO">
        select
            *
        from
            personal_files
        where
            personal_files_key = #{value}
    </select>

    <!-- 회원 탈퇴 시 멤버번호로 삭제 -->
    <delete id="memberOut">
        delete from
            personal_files
        where
            personal_files_member_seq = #{value}
    </delete>
</mapper>