<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fivet.buddy.mapper.PersonalFolderMapper">
    <!-- 내 폴더 불러오기 -->
    <select id="selectMyFolders" resultType="com.fivet.buddy.dto.PersonalFolderDTO">
        select
            *
        from
            personal_folder
        where
            personal_folder_parent_key =
                (select
                    personal_folder_key
                from
                    personal_folder
                where
                    personal_folder_member_seq = #{memberSeq}
                and
                    personal_folder_parent_key = #{basicKey})
        order by
            personal_folder_date desc
    </select>

    <!-- 폴더 생성 -->
    <insert id="insertNewFolder">
        insert into
            personal_folder
        values
            (#{personalFolderKey}, #{personalFolderName}, #{personalFolderMemberSeq},#{personalFolderParentKey},#{personalFolderPath},sysdate)
    </insert>

    <!-- 폴더 존재 유무 체크 -->
    <select id="isFolderExists" resultType="boolean">
        select
            case when count(*) >= 1 then 1 else 0 end
        from
            personal_folder
        where
            personal_folder_member_seq = #{personalFolderMemberSeq} and personal_folder_name = #{personalFolderName}
    </select>

    <!-- 회원가입시 개인 폴더 생성 -->
    <insert id="newPersonalFolder">
        insert into
            personal_folder
        values
            (#{newKey}, #{memberName}, #{memberSeq}, #{basicFolderKey}, #{path}, sysdate)
    </insert>

    <!-- 부모폴더 경로 찾기-->
    <select id="searchPath" resultType="String">
        select
            personal_folder_path
        from
            personal_folder
        where
            personal_folder_key = #{value}
    </select>

    <!-- personal_folder 테이블에서 내 기본 폴더번호 추출 -->
    <select id="myBasicFolder" resultType="String">
        select
            personal_folder_key
        from
            personal_folder
        where
            personal_folder_parent_key =
                (select
                    basic_folder_key
                from
                    basic_folder
                where
                    basic_folder_member_seq = ${value})
    </select>

    <!-- 자식 폴더 정보 -->
    <select id="selectChildFolders" resultType="com.fivet.buddy.dto.PersonalFolderDTO">
        select
            *
        from
            personal_folder
        where
            personal_folder_parent_key = #{value}
        order by
            personal_folder_date desc
    </select>
</mapper>