<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.QnaBoardMapper">

    <insert id="insert">
        insert into qna_board values(qna_seq.nextval,#{qnaWriterSeq}, #{qnaWriterId}, #{qnaTitle},#{qnaContents},sysdate,#{qnaType})

        <selectKey order="AFTER" keyProperty="qnaSeq" resultType="int">
            select qna_seq.currval from dual
        </selectKey>
    </insert>

    <!-- 문의글 삭제  -->
    <delete id="delete">
        delete from qna_board where qna_seq = #{qnaSeq}
    </delete>
    <!-- 회원 본인의 문의글 출력   -->
    <select id="select" resultType="com.fivet.buddy.dto.QnaBoardDTO">
        select * from qna_board where qna_writer_Seq = #{qnaWriterSeq} order by qna_seq desc
    </select>

    <!--    문의글 본문보기-->
    <select id="selectDetail" resultType="com.fivet.buddy.dto.QnaBoardDTO">
        select * from qna_board where qna_seq = #{qnaSeq}
    </select>

    <!--    1:1문의내역 페이지에 맞춰 보기(관리자)-->
    <select id="selectQnaBoardPage" resultType="com.fivet.buddy.dto.QnaBoardDTO">
        select * from (select qna_board.*, row_number() over(order by 1 desc) rn from qna_board) where rn between #{start} and #{end}
    </select>

    <!--    Qna 전체 글 수 출력-->
    <select id="totalCount" resultType="int">
        select count(*) from qna_board
    </select>

    <!--    관리자에서 Qna 이메일검색-->
    <select id="selectQnaSearch" resultType="com.fivet.buddy.dto.QnaBoardDTO">
        select
            *
        from
            (select qna_board.*, row_number() over(order by 1 desc) rn from qna_board)
        where
            (rn between #{start} and #{end})
            and
            qna_writer_id = #{qnaWriterId}
    </select>
</mapper>