<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.QnaCommentMapper">

    <!--    댓글출력-->
    <select id="selectComment" resultType="com.fivet.buddy.dto.QnaCommentDTO">
        select * from qna_comment where qna_seq = #{qnaSeq}
    </select>

    <!--    댓글삭제-->
    <delete id="deleteComment">
        delete from qna_board where qna_seq = #{qnaSeq}
    </delete>

    <!--    댓글작성-->
    <insert id="insertComment">
        insert into
            qna_comment
        values
            (qna_comment_seq.nextval,
            #{qnaCommentWriter},
            #{qnaCommentContents},
            sysdate,
            #{qnaSeq})
        <selectKey order="AFTER" keyProperty="qnaCommentSeq" resultType="int">
            select qna_comment_seq.currval from dual
        </selectKey>
    </insert>

    <!--    댓글 갯수 출력-->
    <select id="count" resultType="int">
        select count(*) from qna_comment where qna_seq = #{value}
    </select>

</mapper>