<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.TeamMapper">

<!--    팀 생성-->
    <insert id="insert">
        insert into team values(team_seq.nextval, #{teamName}, #{teamOwnerSeq}, 1, sysdate)
    </insert>

</mapper>