<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.TeamMapper">

<!--    팀 생성 후 teamSeq값을 teamDto에 set-->
    <insert id="insertTeam">
        insert into
            team
        values
            (team_seq.nextval, #{teamName}, #{teamOwnerSeq}, 1, sysdate)
        <selectKey order="AFTER" keyProperty="teamSeq" resultType="int">
            select team_seq.currval from dual
        </selectKey>
    </insert>

<!--    회원이 속한 팀 출력-->
    <select id="selectMemberTeam" resultType="com.fivet.buddy.dto.TeamDTO">
        select
            t.TEAM_SEQ, t.TEAM_NAME, t.TEAM_OWNER_SEQ
        from
            TEAM t
            join TEAM_MEMBER tm
            on t.TEAM_SEQ = tm.team_seq
        where
            member_seq = #{memberSeq}
        order by 1
    </select>

    <!--팀 관리 멤버 출력 -->
    <select id="managementTeamSelectTeamMember" resultType="com.fivet.buddy.dto.TeamMemberDTO">
        select * from team_member where team_seq = #{value}
        order by case
        when grade='manager' then 1
        when grade='subManager' then 2
        when grade='coworker' then 3
        end, member_seq asc
    </select>

    <!-- 팀 관리 팀 이름 출력-->
    <select id="managementTeamSelectTeam" resultType="com.fivet.buddy.dto.TeamDTO">
        select team_name, team_seq from team where team_seq = #{value}
    </select>

    <!-- 팀 관리 팀 이름 수정 -->
    <update id="managementUpdateTeamName">
        update team set team_name = #{teamName} where team_seq = #{teamSeq}
    </update>

    <!-- 팀 삭제 -->
    <delete id="deleteTeam">
        delete from team where team_seq = #{value}
    </delete>
</mapper>