<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivet.buddy.mapper.TeamMemberMapper">

    <!-- 초대코드 입력 시 팀 입장 -->
    <insert id="enterTeam">
        insert into
            team_member
        values
            (#{teamSeq}, #{memberSeq}, #{memberId}, #{teamMemberNickname}, 'coworker', sysdate)
    </insert>

    <!-- 팀 생성자가 팀 생성시, 팀 멤버 목록에 추가 -->
    <insert id="createTeam">
        <selectKey order="BEFORE" keyProperty="memberId" resultType="string">
            select
                member_id
            from
                member
            where member_seq = #{memberSeq}
        </selectKey>
        insert into
            team_member
        values
            (#{teamSeq}, #{memberSeq}, #{memberId}, #{teamMemberNickname}, 'manager', sysdate)
    </insert>

    <!--    회원 번호를 이용하여 팀 DTO값을 불러옴.-->
    <select id="selectOne" resultType="com.fivet.buddy.dto.TeamMemberDTO">
        select
            *
        from
            team_member
        where
            member_seq = #{memberSeq} and team_seq = #{teamSeq}
    </select>

    <!--    채팅방 참여자 목록을 출력 -->
    <select id="selectChatMember" resultType="com.fivet.buddy.dto.TeamMemberDTO">
        select
            tm.member_seq, team_member_nickname, grade
        from
            team_member tm
        inner join
            chat_member cm
        on
            tm.member_seq = cm.member_seq
        where
            chat_room_seq = #{chatRoomSeq}
    </select>


</mapper>