<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Profile</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/myProfile.css" />
  <link rel="stylesheet" href="/static/css/m-myprofile.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script src="/static/js/jQueryCheck.js"></script>
</head>
<body>
<div class="wrap">
  <div class="logo">
    <img src="" alt="" />
  </div>


    <div class="myProfile">
      <p class="title" id="titleImg">프로필 이미지</p>
      <div class="profileImg" id="pImg">
        <img src="" alt="" class="myImg" id="myImg" name="myImg" />
        <input type="file" name="file" id="updateImg"/>
        <input type="hidden" name="memberSeq" id="memberSeq" th:value="${myProfile.memberSeq}">
        <button class="updateBtn" id="deleteImg">삭제</button>
      </div>


    <div class="update" id="updateName">
      <p class="title">이름</p>
      <input
              type="text"
              th:value="${myProfile.memberName}"
              class="valName"
              name="myName"
              id="inputName"
              disabled
      />
    </div>

    <div class="update" id="updateEmail">
      <p class="title">이메일</p>
      <input
              type="text"
              th:value="${myProfile.memberId}"
              class="valEmail"
              name="myEmail"
              disabled
      />
    </div>

      <div class="update" id="updatePhone">
        <p class="title">휴대전화</p>
        <input
                type="text"
                th:value="${myProfile.memberPhone}"
                class="valPhone"
                name="myPhone"
                id="idPhone"
                disabled
        /><button class="toggle" id="PhoneToggle" type="button" >tog</button>
      </div>
      <div class="hidden" id="hidn2" >
        <p>변경할 휴대전화</p>
        <p class="comment">
          휴대폰 번호는 '-'를 제외하고 입력해주세요.
        </p>

        <form method="post" id="updatePhoneForm">
        <input
                type="text"
                value=""
                name="memberPhone"
                id="inputPhone"
                class="inputPhone"
                maxlength='12'
        />
        </form>

        <button type="button" id="sendSms">인증문자발송</button>
        <input
                type="text"
                value=""
                name="newPhone"
                id="phoneCheckVal"
                class="inputPhone"
                placeholder="인증번호를 입력하세요."
        />
        <label for="Timer" id="timerLabel">남은 시간:</label>
        <input id="Timer" type="text" class="inputPhone" value="" readonly/>
        <button type="button" id="phoneConfirm" >인증번호 확인</button>
      </div>

      <th:block th:if="${myProfile.memberLogtype == 'normal'}">
    <div class="update" id="updatePw">
      <p class="title">비밀번호 변경</p>
      <button type="button" class="toggle" id="pwToggle">tog</button>
    </div>
    <div class="hidden" id="hidn3">
      <p>현재 비밀번호</p>
      <input
              type="password"
              name="oriPw"
              id="oriPw"
              class="inputPw"
      />
      <span id="oriCheck"></span>
      <p id="newComment1">변경할 비밀번호</p>
      <p id="comment" class="comment">
        영문,숫자,특수문자를 모두 포함한 8~14자로 입력하세요.
      </p>
      <input
              type="password"
              value=""
              name="newPw"
              id="newPw"
              class="inputPw"
      />
      <p id="newComment2">비밀번호 확인</p>
      <form method="post" id="updatePwForm">
      <input type="password" value="" id="checkPw" class="inputPw" name="memberPw" />
      <span id="pwStatus"></span>
      <button class="updateBtn" id="floatBtn">수정</button>
      </form>
    </div>
      </th:block>

</div>

<strong><a href="/member/loginIndex" id="goBack">뒤로가기</a></strong>
  <p class="cancel">
    회원탈퇴 하시겠습니까? <a href="#" onclick="delClick();"><strong>탈퇴</strong></a>
  </p>
</div>

<script>

  $(document).ready(function(){
      $("#PhoneToggle").click(function() {
          $("#hidn2").toggle();
      })
    $("#pwToggle").click(function() {
      $("#hidn3").toggle();
    })
    pwDisNone();



    $.ajax({
      url:"/member/selectProfileImg",
      success : function (){
      },error : function (){
      }
    }).done(function (rsp){
      $("#myImg").attr("src",rsp);
    })
  })

  function delClick(){
    if(confirm("회원 탈퇴 하시겠습니까?")){
      location.href = "/member/deleteMember";
      return true;
    } else {
      return false;
    }
  }
  $("#myImg").click(function (){
    $("#updateImg").click();
    $("#updateImg").on("change", readURL);
  })

  function readURL(e) {
    if (e.target.files[0]) {
      if(e.target.files[0].size>(20*1024*1024)){
        alert("파일 사이즈는 10MB 이내로 등록해주세요.")
        return;
      }

      let ext = $("#updateImg").val().split('.').pop().toLowerCase();
      if($.inArray(ext, ['jpg','jpeg','png']) == -1){
        alert("확장자는 jpg, png, jpeg만 가능합니다.");
        return;
      }

        $("#updateImg").attr("src",e.target.files[0]);
      const formData = new FormData();
      formData.append("file",  e.target.files[0]);
      $.ajax({
        url:"/member/updateProfileImg",
        processData: false,
        contentType: false,
        data: formData,
        type:"post",
        success : function (){
        },error : function (){
        }
      }).done(function (){
      })
    }
    let reader = new FileReader();
    reader.onload = function(e) {
      if(reader.readyState === 2){
        $("#myImg").attr("src", reader.result);
      }
    }
    console.log(e.target.files[0]);
    reader.readAsDataURL(e.target.files[0]);
    $("#updateImg").val("");
  }

  $("#deleteImg").click(function (){
    const formData = new FormData();
    let memberSeq =$("#memberSeq").val();
    formData.append("memberSeq", memberSeq);
    $.ajax({
      url:"/member/defaultProfileImg",
      type: 'post',
      data: formData,
      contentType: false,
      processData: false,
      success : function (){
      },error : function (){
      }
    }).done(function (){
      $("#myImg").attr("src", "/static/img/defaultProfileImg.png");
    })
  });

</script>

<script>
  // 휴대폰
  function phoneDisBlock(){
    $("#phoneCheckVal").css("display","inline-block");
    $("#phoneConfirm").css("display","block");
    $("#Timer").css("display","block");
    $("#timerLabel").css("display","block");
  }

  function phoneDisNone(){
    $("#phoneCheckVal").css("display","none");
    $("#phoneConfirm").css("display","none");
    $("#Timer").css("display","none");
    $("#timerLabel").css("display","none");
    $("#sendSms").css("display","none");
  }

  let phoneChkResult = false;
  const Timer = document.getElementById('Timer'); //스코어 기록창-분
  let time= 180000;
  let min=3;
  let sec=60;

  // 문자 인증
  let sendSms = $("#sendSms");
  let inputPhone = $("#inputPhone");
  const phoneRegex = /^010\d{4,4}?\d{4}$/;

  sendSms.on("click",function(){
    let inputPhoneVal = inputPhone.val();
    let phoneResult = phoneRegex.test(inputPhoneVal);

    if(inputPhone.val() == "") {
      alert("휴대폰 번호를 입력하세요"); // 휴대폰 번호 regex해야됨
      phoneChkResult = false;

    }else if(!phoneResult) {
      alert("휴대폰 번호 양식을 확인해주세요.");
      phoneChkResult = false;
      return false;

    }else if(phoneResult){
      sendSms.attr("disabled",false); // 문자 발송 버튼 비활성화(3분간)
      inputPhone.attr("readonly",true);

      // 타이머
      alert("인증번호가 발송되었습니다.");

      sendSms.attr("disabled", true); // 발송 버튼 비활성화

      Timer.value = min + ":" + '00';

      function TIMER() {
        PlAYTIME = setInterval(function () {
          time = time - 1000;
          min = time / (60 * 1000);

          if (sec > 0) {
            sec = sec - 1;
            Timer.value = Math.floor(min) + ':' + sec;

          }
          if (sec === 0) {
            sec = 60;
            Timer.value = Math.floor(min) + ':' + '00'
          }

        }, 1000);
      }
      TIMER();
      setTimeout(function(){
        alert("인증시간이 경과되었습니다. 다시 요청해주세요.");
        clearInterval(PlAYTIME);
        sendSms.attr("disabled",false); // 3분이 지나면 버튼 활성화
        phoneChkResult = false;
        phoneDisNone();
      },180000);// 1분이 되면 타이머를 삭제

      let param = {"to":inputPhoneVal};
      // 문자 발송
      $.ajax({
        url : "/sms/send",
        type : "post",
        contentType: 'application/json',
        data : JSON.stringify(param)
        ,success: function(){
          $("#phoneCheckVal").css("display","inline-block");
          phoneDisBlock();
        }
        ,error: function () {
          alert("인증문자 전송에 실패하였습니다. 휴대폰 번호를 다시 확인해주세요.");
          $("#inputPhone").attr("readonly",false);
          $("#sendSms").attr("disabled",false);
        }
      }).done(function (rsp){
        // rsp : 문자 번호
        let smsNum = rsp;
        $("#phoneConfirm").on("click",function (){
          if(smsNum == $("#phoneCheckVal").val()){
            alert("인증번호가 일치합니다.");
            alert("휴대전화 변경이 완료되었습니다.");
            phoneChkResult = true;
            $("#updatePhoneForm").attr("action","/member/updatePhone").submit();
          }else{
            alert("인증번호가 일치하지 않습니다. 다시 확인 해주세요.");
            phoneChkResult = false;
          }
        })

      })

    }
  });
</script>

<script>
  // 비밀번호
  let newPw = $("#newPw");
  let pwStatus = $("#pwStatus");
  let checkPw = $("#checkPw");
  const pwRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,14}$/;
  let resultCheck = false;

  function pwDisNone(){
    $("#newComment1").css("display","none");
    $("#comment").css("display","none");
    $("#newPw").css("display","none");
    $("#newComment2").css("display","none");
    $("#checkPw").css("display","none");
    $("#pwStatus").css("display","none");
    $("#floatBtn").css("display","none");
  }

  function pwDisBlock(){
    $("#newComment1").css("display","block");
    $("#comment").css("display","block");
    $("#newPw").css("display","block");
    $("#newComment2").css("display","block");
    $("#checkPw").css("display","block");
    $("#pwStatus").css("display","block");
    $("#floatBtn").css("display","block");
  }

  $("#oriPw").on("input",function () {
    let oriCheck = $("#oriPw").val();
    if ($("#oriPw").length == 0) {
      $("#oriCheck").html("");
    } else {
      $.ajax({
        url: "/member/myProfileCheckPw",
        data: {"memberPw": oriCheck},
        success: function () {
        }, error: function () {
        }
      }).done(function (rsp) {
        if (rsp == "true") {
          $("#oriCheck").html("일치합니다");
          resultCheck=true;
          pwDisBlock();
        } else {
          $("#oriCheck").html("일치하지 않습니다.");
          resultCheck=false;
          pwDisNone();
          $("#newPw").val("");
          $("#checkPw").val("");
          pwStatus.html("");
        }
      })
    }
  });


  newPw.on("blur",function(){
    let newPwVal = $("#newPw").val();
    let checkPwVal = $("#checkPw").val();
    let pwResult = pwRegex.test(newPwVal);

    if(newPwVal == ""){
      pwStatus.html("비밀번호를 입력해주세요.");
      pwChkResult = false;
    }else if(!pwResult){
      pwStatus.html("비밀번호는 영문,숫자,특수문자를 모두 포함한 8~14자로 입력하세요.");
      pwChkResult = false;
    }else{
      pwStatus.html("");
      if(newPwVal == "" && checkPwVal == ""){
        pwStatus.html("");
        pwChkResult = false;
      }else if(newPwVal != checkPwVal){
        pwStatus.html("패스워드가 일치하지 않습니다.");
        pwChkResult = false;
      }else if(newPwVal == checkPwVal){
        pwStatus.html("패스워드가 일치합니다.");
        pwChkResult = true;
      }
    }
  });

  checkPw.on("blur",function(){
    let newPwVal = $("#newPw").val();
    let checkPwVal = $("#checkPw").val();
    let pwResult = pwRegex.test(newPwVal);

    if(checkPwVal == ""){
      pwStatus.html("비밀번호를 입력해주세요.");
      pwChkResult = false;
    }else if(!pwResult){
      pwStatus.html("비밀번호는 영문,숫자,특수문자를 모두 포함한 8~14자로 입력하세요.");
      pwChkResult = false;
    }else{
      pwStatus.html("");
      if(newPwVal == "" && checkPwVal == ""){
        pwStatus.html("");
        pwChkResult = false;
      }else if(newPwVal != checkPwVal){
        pwStatus.html("패스워드가 일치하지 않습니다.");
        pwChkResult = false;
      }else if(newPwVal == checkPwVal){
        pwStatus.html("패스워드가 일치합니다.");
        pwChkResult = true;
      }
    }
  });

  $("#floatBtn").on("click",function (){
    let pwResult = pwRegex.test($("#newPw").val());
    if(resultCheck && pwResult && pwChkResult){
      alert("비밀번호 변경이 완료되었습니다.");
      $("#updatePwForm").attr("action","/member/updatePw").submit();
    }else{
      alert("비밀번호를 다시 확인해주세요. ");
      return false;
    }
  })
</script>
</body>
</html>
