.wrap {
    width: 100%;

}

.header {
    width: 100%;
    height: 160px;
    background: purple;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header * {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}


form {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    min-width: 340px;
    max-width: 720px;
}

p {
    width: 100%;
    font-size: 1rem;
    margin: 10px 0;
}

textarea {
    width: 100%;
    height: 300px;
}

.inputTitle {
    width: 100%;
    height: 40px;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
}

.btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .header {
        height: 14vh;
    }

    .header h1 {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        line-height: 10vh;
    }

    textarea
    {
        height: 50vh;
    }


}
