@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #8621F7;
    --sub-color: #B2B2B2;
    --sub-color2 : #1a252f;
    --back-color: #F8F8F8;
    --border: 1px solid rgba(0,0,0,0.3);
    --border2: 1px solid rgba(0,0,0,0.1);
    --shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}


.wrap {
    width: 100%;
    padding: 20px;
}

.header {
    width: 100%;
    height: 160px;
    background: var(--main-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.header * {
    font-size: 1.7rem;
    color: #fff;
}


form {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    min-width: 340px;
    max-width: 720px;
}

p {
    width: 100%;
    font-size: 1rem;
    margin: 10px 0;
    font-weight: bold;
    padding-left: 10px;

}

textarea {
    width: 100%;
    height: 300px;
    border: var(--border);
    border-radius: 5px;
}

.qnaTitle {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    height: 40px;
    border: var(--border);
    border-radius: 5px;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 20px;
    background: var(--main-color);
    color: #fff;
    border: none;
}
button:hover {
    opacity: 0.8;
}

button:nth-child(2){
    margin-left: 5px;
    background: none;
    border: var(--border);
    color: #333;
}
.btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 600px) {

    .wrap{
        padding: 20px;
    }
    .header {
        height: 14vh;
    }

    .header h1 {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        line-height: 10vh;
    }

    .qnaTitle {
        max-width: 200px;
    }

    textarea
    {
        height: 50vh;
    }


}
