@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #8621F7;
    --sub-color: #B2B2B2;
    --sub-color2 : #1a252f;
    --back-color: #F8F8F8;
    --border: 1px solid rgba(0,0,0,0.3);
    --border2: 1px solid rgba(0,0,0,0.1);
    --shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.wrap {
    width: 100vh;
    height: 100vh;
    position: relative;
    z-index: 0;
}
.header {
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    z-index: 10;
    margin-left: 10px;
}

.logoImg{

    display: inline-block;
    float: left;

}
#logoTitle {
    font-size: 1rem;
    display: inline-block;
}
.logo {
    width: 400px;
    height: 50px;
    margin-right: 10px;
    display: flex;
}
.logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 50px;
}
.logo img {
    width: 120px;
    margin-right: 5px;
    display: inline-block;
}

.secondLogo{
    width:100px;
    height: 100%;
    border: 1px solid blue;
}

#dropdownList {
    display: none;
    border: 1px solid blue;
}

.hiddenList ul > li {
    width: 100%;
    height: 50px;
    line-height: 45px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.iconMenu {
    width: 50px;
    height: 50px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

.main {
    width: 100vw;
    height: 100%;
    padding-top: 50px;
    border: 1px solid black;
    z-index: 1;
    display: flex;
}

aside {
    min-width: 280px;
    width: 280px;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-right:black;
}

.asideTitle {
    width: 100%;
    min-height: 50px;
    display: flex;
    border-top:0.5px solid black;
    border-bottom:0.5px solid black;
    background-color:#8723f7;
    color:white;
}

.asideTitle h3 {
    padding-left: 10px;
    line-height: 50px;
}

.asideTitle h3 a{
    color:white;
}
#alarmView {
    width: 60px;
}
.toggle {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    right: 10px;
    position: absolute;
}
.asideItem {
    width: 100%;
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    /* -ms-overflow-style: none; */
}
.asideItem::-webkit-scrollbar {
    width: 5px; /*스크롤바의 너비*/
    height:5px;
}

.asideItem::-webkit-scrollbar-thumb {
    /*스크롤바의 색상*/
    background-color: #666666;
    border-radius: 10px;
}

.asideItem::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}

#listArea::-webkit-scrollbar {
    width: 5px; /*스크롤바의 너비*/
    height:5px;
}
#listArea::-webkit-scrollbar-thumb {
    /*스크롤바의 색상*/
    background-color: #666666;
    border-radius: 10px;
}
#listArea::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}


@media (max-height: 800px) {
    .asideItem {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid black;
        -ms-overflow-style: none;
    }
}

.asideItem ul > li {
    width: 100%;
    height: 40px;
    border: 1px solid black;
}

.asideTool {
    width: 100%;
    position: absolute;
    bottom: 70px;
    text-align: center;
}

.asidePassage{
    position: absolute;
    bottom: 30px;
    left:50%;
    transform:translateX(-50%);
}
.asidePassage a:hover{
    font-weight: bolder;
}

.appToggle {
    width: 100%;
}

#appList {
    display: none;
    height: 60px;
    background: white;
}

.app {
    width: 120px;
    margin-top: 10px;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000;

    display: inline-block;
    text-align: center;
}
#asideClose {
    display: none;
}

.fileSection {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-left:1px solid black;
}
.fileHeader {
    width: 100%;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom:1px solid #000;
    display: flex;
    position: relative;
}

.fileHeader h1 {
    line-height: 40px;
    margin-left: 10px;
}

#memberView {
    width: 49px;
    height: 49px;
    right: 0px;
    position: absolute;
    border: 1px solid #000;
}



.subItem {
    width: 100%;
    border: 1px solid #000;
    background: white;
    position: relative;
}

.subItem h1 {
    height: 40px;
    text-align: center;
    border: 1px solid #000;
    line-height: 30px;
}

#memberList {
    display: none;
}

#memberList li {
    padding: 10px;
    height: 60px;
    border: 1px solid #000;
    display: flex;
}

#memberList li img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #000;
}

#memberList li span {
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
}

#memberList li span:last-child {
    min-width: 50px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    border: 1px solid red;
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

#resultList {
    top: 0;
    position: absolute;
    display: none;
}

#resultList li {
    margin: 10px;
    border: 1px solid #000;
}
#alarmList {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    overflow-y: scroll;
    top: 50px;
    background: white;
    position: absolute;
    display: none;
    z-index: 1;
}

#alarmList li {
    margin: 10px;
    height: 40px;
    border: 1px solid #000;
}
/* 파일 메인 place */
.fileMainPlace {
    width: 100%;
    height: 100%;
}

/* 파일 리스트 들어갈 구간 */
#listArea{
    width: 80%;
    height: 90%;
    float: left;
    margin:7px 0 0 35px;
    padding: 30px 25px 16px 0px;
    overflow-y: scroll;
}

@media(max-width: 1300px) {
    #listArea{
        width:95%;
    }
}

.menuList {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 200px;
    border: 1px solid #000;
    z-index: 10;
    display: none;
    background: white;
}

.menuList ul li {
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
}

.menuList ul li:hover {
    font-weight: bold;
}

/* 헤더 버튼 공간*/
.attachBtnArea{
    width:100%;
    height:40px;
    padding: 7px 0px 7px 25px;
}

/* 본문 파일 정보 */
#fileInfo{
    right:0px;
    height:100%;
    width:15vw;
    position: absolute;
    margin-right:20px;
    margin-bottom: 20px;
    background-color:#efefef;
    position:fixed;
}
#fileInfo img{
    width:100px;
    height:100px;
    position: absolute;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    display: block;
}
#fileInfo h3{
    text-align: center;
    position: absolute;
    top:100px;
    left:50%;
    transform: translateX(-50%);
    display: block;
}
@media(max-width: 1300px) {
    #fileInfo{
        display:none;
    }
}
#fileInfoText{
    position: absolute;
    left: 10%;
    top: 400px;
    font-size:small;
    font-weight: bold;
}
.information{
    display: inline-block;
    margin-bottom: 10px;
}
.infoContents{
    margin-left:120px;
}
.infoDate{
    margin-left:55px;
}
/* 파일 라벨, 새 폴더 */
.fileLabel,.mainButton{
    width:80px;
    cursor: pointer;
    margin-right:6px;
    font-weight: normal;
    background-color: #969696;
    font-size:15px;
    border-radius: 5px;
    padding:0 10px;
    line-height: normal;
    border: none;
    color:white;
}

.fileLabel{
    height:10px;
    background-color:#4078ff;
    color:white;
    padding:5px 10px;
}

.fileLabel,.mainButton,#backBtn{
    vertical-align: middle;
}


.mainButton{
    height:32px;
}

#uploadFile,#deleteBtn,#downloadBtn{
    display:none;
}

.mainButton:hover{
    background-color: #5e5e5e;
}

.fileLabel:hover{
    color:white;
    background-color: #1661ff;
}

#backBtn{
    border:none;
    background-color:#ffffff;
    position:relative;
    top:-5px;
    left:-15px;
}

/* 폴더 및 파일 */
.listThumb li{
    list-style: none;
    padding:10px 20px 20px 25px;
    margin:0px 20px 20px 0px;
    border-radius: 5px;
    background-color: #e5ecff;
    width:150px;
    height:240px;
    float:left;
    cursor: pointer;
    z-index:50;
}

.listThumb li img {
    width:100px;
    height:100px;
}
.listThumb li .printFileName {
    width:90%;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.listThumb li:hover{
    background-color:#4078ff;
}

/* 공유 버튼 */
.shareUrl{
    margin-top:7px;
    display: inline-block;
    width:110px
}

.copyUrl{
    display: inline-block;
    width:120px;
}
.nowShare{
    width:100px;
}
.bubble{
    z-index: 100;
}
.copy{
    width:50px;
    display: inline-block;
}
/* 폴더, 파일 이름 */
.printFolderName,.printFileName{
    border:none;
    text-align:center;
    width:100px;
    background-color:white;
    border-radius: 5px;
}

/* 사이드 폴더 */
.sideList{
    display: inline;
    cursor: pointer;
    font-size: 15px;
}
.sideList:hover{
    font-weight: bolder;
}
.fa-solid{
    margin: 10px 0px 0px 20px;
    cursor: pointer;
    width: 20px;
}
#main{
    cursor: pointer;
    margin: 5px 0px 0px 10px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 0.3px solid black;
}
#folderList{
    overflow-x:scroll;
}
/* 서브 폴더 */
.sub{
    display: block;
}
.newer{
    margin-left:20px;
}



/* 용량 */
.volumeLog{
    width: 210px;
    height:5px;
    margin:auto;
    border:1px solid black;
    border-radius: 10px;
    overflow:hidden;
    display: inline-block;
}
.volumeBar{
    width:0px;
    height:100%;
    background-color: #8723f7;
}
.myVolume{
    font-size:small;
    display: inline-block;
}
.volumeTitle{
    text-align: left;
    font-size: small;
    display: inline-block;
}
/* 공유 실패 */
#reduceAccess{
    width:100%;
    height:100%;
    text-align: center;
    padding:30% 0% 50% 0%;
}
/* 드래그 드랍 */
#dropArea {
    width: 80%;
    height: 90%;
    border: 2px dashed #1661ff;
    padding: 20px;
    text-align: center;
    position:absolute;
    display:none;
}

#dropArea.active {
    background: lightblue;
    opacity:0.7;
}

#dropArea p{
    position: absolute;
    top:80%;
    transform: translateY(-80%);
    left:50%;
    transform: translateX(-50%);
    font-size:20px;
    background-color:#1661ff;
    border-radius: 5px;
    color:white;
    opacity:1;
    padding:10px;
}
#dropFile{
    display: none;
}
.shareUrlText{
    width:50px;
    display:inline-block;
}
.nowFolderShare{
    width:120px;
}