@import url(reset.css);

@font-face {
  font-family: 'GyeonggiBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #8621F7;
  --sub-color: #B2B2B2;
  --sub-color2 : #1a252f;
  --back-color: #F8F8F8;
  --border: 1px solid rgba(0,0,0,0.3);
  --border2: 1px solid rgba(0,0,0,0.1);
  --shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

*{
  font-family: 'Noto Sans KR', sans-serif;
}

body {
}
a {
  text-decoration: none;
}
.wrap {
  width: 100%;
  margin-top: 10vh;
}


.logo {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 1px dashed red;
}

.slogan {
  text-align: center;
  font-size: 20px;
  font-family: GyeonggiBatang;
  font-weight: bold;
  color: black;
}


form {
  margin: 0 auto;
  margin-top: 16px;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}

input[class^="login"] {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: var(--border);
  display: block;
}

.loginId {
  margin-bottom: 10px;
}
a[class^="a"] {
  font-size: 15px;
  color: #222;
  margin-top: 5px;
  margin-bottom: 10px;
}

.aLeft {
  float: left;
  margin-left: 10px;
}

.aRight {
  float: right;
  margin-right: 10px;
}
.loginBtn {
  width: 95%;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #fff;
  background: var(--main-color);
  border:none;
}

#adminPage {
  border: var(--border);
  background: none;
  color: #999;
  position: absolute;
  top: 20px;
  right: 20px;
}

.floatBtn {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  background: var(--main-color);
  color: #fff;
  right: 10px;
  top: 30px;
  border: none;
}

.floatBtn:hover {

  opacity: 0.8;
}


.snsLogin {
  width: 240px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border: none;
}

#naverIdLogin {
  max-width: 170px;
  width: 100%;
  height: 64px;
  margin-left: 12%;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
#kakao {
  max-width: 170px;
  width: 100%;
  height: 64px;
  display: inline-block;
  border-radius: 5px;
  background: #FFE500;
  line-height: 64px;
  text-align: center;
  font-weight: bold;
}


#goSignup {
  color: #000;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.contentWrap {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  max-width: 650px;
  min-width: 360px;
  padding: 20px;
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--shadow);
  background: var(--back-color);
}
div[class*="Box"] {
  width: 100%;
  max-width: 780px;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1rem;
}

*[class*="Profile"] {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
}
.teamProfile {
  margin-bottom: 10px;
}

.addTeam {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}


img[class*="Img"] {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 35px;
  border: var(--border);
  float: left;
}
.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#myprofile{
  right: 120px;
  background: none;
  border: var(--border);
  color: #333;
}

#managementTeam{
  right: 120px;
  background: none;
  border: var(--border);
  color: #333;
}

#insertInviteCode {
  display: block;
  margin: 0 auto;
  border: none;
  background: none;
}