
@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .wrap {
        display: none;
    }

    .mobileView {
        height: 100%;
        display: block;
        position: relative;
        border: 1px dashed #000;
        text-align: center;
    }
    .logo {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-top: 5vh;
        border: 1px dashed red;
    }

    h1 {
        margin-top: 40px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #000;
        font-size: 1.5rem;
    }

    button {
        width: 80%;
        height: 40px;
        margin-top: 20px;
        border-radius: 20px;
    }
}
