@media (max-width: 600px) {
  body {
    background: #fff;
  }

  .wrap {
    width: 100%;
    margin-top: 20vw;

  }

  .floatBtn {
    height: 25px;
    line-height: 20px;
    padding: 0px;
  }




  .contentWrap {
    border: none;
    box-shadow: none;
    background: none;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .slogan {
    font-size: 1rem;
    font-weight: bold;
  }
  form {
    margin-top: 20px;
    width: 90vw;
  }

  input[class^="login"] {
    width: 100%;
    height: 50px;
  }

  .loginId {
    margin-bottom: 10px;
  }

  a[class^="a"] {
    font-size: 0.9rem;
    color: #222;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .aLeft {
    float: left;
    margin-left: 10px;
  }

  .aRight {
    float: right;
    margin-right: 10px;
    font-size: 1rem;
  }
  .loginBtn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }


  #naverIdLogin {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    float: none;
  }
  #kakao {
    display: block;
    clear: both;
    margin: 0 auto;

  }

  #goSignup {
    color: #000;
    font-size: 1rem;
    display: block;
    text-align: center;
  }
  #myprofile{
    top: 20px;
    right: 10px;
  }
  #logout {
    top: 50px;
  }

  #managementTeam{
    top: 20px;
    right: 10px;
  }
  #goTeam {
    top: 50px;
  }


}
