@media (max-width: 600px) {
  body {
    background: thistle;
  }
  .wrap {
    margin-top: 4vh;
    width: 100%;
  }
  h1 {
    font-size: 1.8rem;
  }
  form {
    width: 90%;
  }

  p[class^="title"] {
    font-size: 1.1rem;
  }
  p[class^="comment"] {
    font-size: 0.8rem;
  }

  input {
    height: 5.5vh;
  }
}
