@media (max-width: 600px) {
    .wrap {
        margin-top: 10vh;
        padding: 0 10px;
    }
    .memberProfile > form > .article {
        height: 120px;
        position: relative;
    }

    .contentWrap {
        border: none;
        box-shadow: none;
        padding: 10px;
        background: none;
    }
    .btns {
        right: 10px;
        bottom: 10px;
        display: flex;
        position: absolute;
        justify-content: center;
    }

    .modalWrap {
        width: 70vw;
    }

    .modalWrap1 {
        width: 70vw;
    }

    .modalWrap2 {
        width: 70vw;
    }

    #teamName {
        width: 160px;
        overflow-x: scroll;
    }

    .gradeBtn {
        position: absolute;
        top: -35px;
        border: none;
        right: 0;
    }

}