@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #8621F7;
    --sub-color: #B2B2B2;
    --sub-color2 : #1a252f;
    --back-color: #F8F8F8;
    --border: 1px solid rgba(0,0,0,0.3);
    --border2: 1px solid rgba(0,0,0,0.1);
    --shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    width: 100vw;
    height: 100vh;
    margin-top: 20vh;
    text-align: center;
}

.title {
    margin: 40px 0px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.inputName {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block;
    padding: 10px;
    border: var(--border);
}

.success {
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: var(--main-color);
    color: white;
    border: none;
}

@media (max-width: 600px) {
    .wrap {
        margin-top: 10vh;
    }
}
