@font-face {
  font-family: 'GyeonggiBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #8621F7;
  --sub-color: #B2B2B2;
  --sub-color2: #1a252f ;
  --back-color: #F8F8F8;
  --border: 1px solid rgba(0,0,0,0.3);
  --shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}
.header {
  width: 100%;
  height: 50px;
  border: var(--border);
  display: flex;
  position: fixed;
  z-index: 10;
}

#headerToggle {
  border: none;
  height: 50px;
  background: none;
}
#headerToggle span {
  line-height: 50px;
  color: var(--main-color);
}
.logo {
  width: 120px;
  height: 100%;
  margin-right: 10px;
}

.teamList {
  width: 150px;
}

.teamList ul > li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.teamName {
  height: 50px;
  display: inline-block;
  float: left;
}

#dropdownList {
  width: 300px;
  display: none;
  margin-top: 1px;
  padding: 10px;
  background: #fff;
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
#dropdownTitle {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: var(--border);
}
.goTeam{
  background: none;
  border-bottom: var(--border);
  padding-left: 10px;
}




#teamMember {
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  right: 40px;
  border: none;
  background: none;
}

#teamMember {
  color: var(--sub-color);
}

.teamMemberList {
  width: 300px;
  border: var(--border);
  box-shadow: var(--shadow);

  border-radius: 10px;
  position: absolute;
  padding: 10px;
  right: 1px;
  top: 50px;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  background: #fff;
}

.teamMemberList::-webkit-scrollbar {
  display: none;
}

.teamMemberList h1 {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.1rem;
  border-bottom: var(--border);
}
.teamMemberList li {
  height: 60px;
  padding: 10px;
  border-bottom: var(--border);
  position: relative;

}

.teamMemberList li > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  border: var(--border);
}
.teamMemberList li > span:nth-child(2) {
  line-height: 40px;
}
.teamMemberList li > span:nth-child(3) {
  position: absolute;
  top: 33%;
  right: 10px;
  border: 1px solid var(--main-color);
  display: inline-block;
  width: 50px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: var(--main-color);
}
.iconMenu {
  width: 50px;
  height: 50px;
  right: 0px;
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
}

.iconMenu span {
  color: var(--sub-color);
  line-height: 50px;
}

.main {
  width: 100vw;
  height: 100%;
  padding-top: 50px;
  border: 1px solid black;
  z-index: 1;
  display: flex;
}

aside {
  min-width: 280px;
  width: 280px;
  height: 100%;
  border-right: var(--border);
  background: var(--back-color);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.asideTitle {
  width: 100%;
  min-height: 50px;
  display: flex;
  border-bottom: var(--border);
}

.asideTitle h3 {
  padding-left: 10px;
  line-height: 50px;
}
#alarmView {
  width: 60px;
}

.createBtn {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  right: 45px;
  position: absolute;
  border: none;
  background: none;
}
.createBtn span {
  text-align: center;
}
.toggle {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  right: 10px;
  position: absolute;
  border:none;
  background: none;
}
.asideItem {
  width: 100%;
  max-height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.asideItem::-webkit-scrollbar {
  display: none;
}
/*.asideItem::-webkit-scrollbar {*/
/*  width: 10px; !*스크롤바의 너비*!*/
/*}*/

/*.asideItem::-webkit-scrollbar-thumb {*/
/*  !*스크롤바의 색상*!*/
/*  background-color: black;*/
/*  border-radius: 20px;*/
/*}*/

/*.asideItem::-webkit-scrollbar-track {*/
/*  background-color: transparent; !*스크롤바 트랙 색상*!*/
/*}*/

@media (max-height: 800px) {
  .asideItem {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
  }
}
.asideItem ul {
  width: 100%;
}
.asideItem ul > li {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-bottom: var(--border);
}

.asideTool {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.appToggle {
  width: 100%;
  background: var(--main-color);
  color: #fff;
  border:none;
}

#appList {
  height: 60px;
  background: white;
}

.app {
  width: 110px;
  margin-top: 10px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  border: 1px solid var(--main-color);
  background: #fff;
  display: inline-block;
  text-align: center;
}


.app > a{
  color: var(--main-color);
  line-height: 30px;
}

.app > a:hover 
{
  font-weight: bold;
}
#asideClose {
  display: none;
}

.msgSection {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.chatHeader {
  width: 100%;
  height: 50px;
  border-bottom: var(--border);
  display: flex;
  position: relative;
}

.chatHeader h1 {
  line-height: 50px;
  margin-left: 10px;
}

#memberView {
  width: 49px;
  height: 49px;
  right: 0px;
  position: absolute;
  border: none;
  background: none;
  color: var(--sub-color);
}

#memberView:hover {
  color: var(--main-color);
}
#memberView span {
  line-height: 50px;
}

#searchMsg {
  width: 200px;
  height: 39px;
  padding-left: 10px;
  top: 4px;
  border-radius: 5px;
  position: absolute;
  right: 80px;
}

#subSection {
  top: 52px;
  right: 0;
  width: 300px;
  height: auto;
  background: #fff;
  position: absolute;
}
.subItem {
  width: 100%;
  border-radius: 10px;
  border: var(--border);
  background: white;
  box-shadow: var(--shadow);
  padding: 10px;
  position: relative;
}


#memberList {
  display: none;
}
#memberList h1 {
  font-size: 1.2rem;
  height: 50px;
  line-height: 50px;
  border-bottom: var(--border);
  text-align: center;
}

#memberList li {
  padding: 10px;
  height: 60px;
  display: flex;
  border-bottom: var(--border);

}

#memberList li img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: var(--border);
}

#memberList li span {
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
}

#memberList li span:last-child {
  min-width: 50px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  font-size: 0.8rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  margin-top: 10px;
}

#resultList {
  top: 0;
  position: absolute;
  display: none;
}

#resultList li {
  margin: 10px;
  border: 1px solid #000;
}
#alarmList {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
  top: 50px;
  background: white;
  position: absolute;
  display: none;
  z-index: 1;
}

#alarmList li {
  margin: 10px;
  height: 40px;
  border: 1px solid #000;
}

.msgView {
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
  overflow: scroll;
}
.msg {
  max-width: 80%;
  min-width: auto;
  width: 100%;
  margin: 10px;
  height: auto;
  display: flex;

}

.msgData{
  max-width: 100%;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: var(--border);
  display: inline-block;
}

.teamMemberNickname {
  font-size: 0.9rem;
  font-weight: bold;
}

.chaDate {
  font-size: 0.7rem;
  color: var(--sub-color);
}
.memberImg{
  width: 40px;
  margin-right: 10px;

}
.memberImg img {
  width: 40px;
  border: var(--border);
  border-radius: 50%;
}
.memberImg p {
  font-size: 1.2rem;
}

.msgSend {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 120px;
  background: var(--back-color);
  border-top: var(--border);
}
.inputMsg {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: var(--border);
  border-radius: 10px;
}
.msgTool ul {
  width: 300px;
  display: flex;
  padding-left: 10px;
}
.msgTool ul li {
  margin-right: 8px;
}

.msgTool button {
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.menuList {
  position: absolute;
  top: 52px;
  padding: 10px;
  right: 2px;
  width: 200px;
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: 10px;
  z-index: 10;
  display: none;
  background: white;
}

.menuList ul li {
  padding: 5px;
  height: 40px;
  line-height: 40px;
  border-bottom: var(--border);
  cursor: pointer;
  text-align: center;

}

.menuList ul li:hover {
  font-weight: bold;
}
.menuList ul li:last-child{
  border: none;
}

.createView {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  z-index: 1000;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
}
.createView > .wrap > div{
}
.createView > .wrap{
  max-width: 600px;
  width: 90vw;
  height: auto;
  border-radius: 10px;
  background: #fff;
  margin: 0 auto;
  margin-top: 20vh;
  min-height: 230px;
  padding: 10px;
  text-align: center;
  box-shadow: var(--shadow);
}

.createView > .wrap ul {
  height: 100%;
}
.createView > .wrap h1 {
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px;
}
.createView .list {
  width: 100%;
  padding: 10px;
}
.createView .list > li{
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
}

.createView .list > li > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.createView .list > li > span {
  font-size: 1rem;
  line-height: 40px;
  border: 1px dashed black;
  display: inline-flex;
  margin-left: 10px;
}

.createView .list > li > span.tag {
  display: inline-block;
  font-size: 12px;
  width: 80px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 33%;
  right: 10px;
  border: 1px solid red;
  border-radius: 10px;
}

.topicTitle {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid var(--main-color);
  outline: none;
  color: var(--main-color);
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.insertTopic {
  margin: 0 auto;
  width: 200px;
  height: 40px;
  display: block;
  border-radius: 20px;
  text-align: center;
  border: none;
  background: var(--main-color);
  color: #fff;
}

#insertTopic:hover {
  opacity: 0.8;
}

#topicRename {
  border: none;
  display: none;
}

.topicRename{
  border: none;
  background: none;
}
.topicDel {
  border: none;
  background: none;

}

.chatRename{
  border: none;
  background: none;
}
.chatOut {
  border: none;
  background: none;

}

#makeChatTitle {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid var(--main-color);
  outline: none;
  color: var(--main-color);
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
}
#chatMemberUl  {
  margin-top: 10px;
}

#chatMemberUl li {
  margin-bottom: 10px;
}

#chatMemberUl li > img {
  border: var(--border);
}

#chatMemberUl li > span {
  border: none;
  line-height: 38px;
}



.makeTeamMember {
  border-top: var(--border);
  border-bottom: var(--border);
  margin-bottom: 5px;
  padding: 10px;
}


#startChat {
  margin: 0 auto;
  width: 200px;
  height: 40px;
  display: block;
  border-radius: 20px;
  text-align: center;
  border: none;
  background: var(--main-color);
  color: #fff;
}

.closeBtn {
  height: 40px;
  border: none;
  background: none;
  opacity:  0.5;
  position: absolute;
  top: 0;
  right: 10px;
}
.closeBtn:hover {
  opacity: 1;
}

.fileView{
  border-radius: 10px;
  bottom: 125px;
  padding: 10px;
  left: 5px;
  width: 300px;
  height: 110px;
  background-color: white;
  box-shadow: var(--shadow);
  display: none;
  position: absolute;
}

.fileView ul{
  width: 100%;
  line-height : 40px;
}

.fileView h3{
  width: 100%;
  text-align: center;

}
#uploadfile{
  width: 70%;
}
.fileContents{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
}

@media (max-width: 800px) {

}
#fileIcon{
  margin-left: 30px;
  margin-top: 8px;
  width: 25px;
  height: 25px;
}
.emoticonView{
  bottom: 125px;
  left: 5px;
  width: 298px;
  height: 200px;
  padding: 10px;
  background-color: white;
  display: none;
  position: absolute;
  box-shadow: var(--shadow);
  border-radius: 10px;

}

/*이모티콘 리스트*/
#emoticonList{
  margin-top: 1px;
  width: 295px;
  height: 197px;
  overflow-y: auto;
}
/*이모티콘 출력시 사이즈*/
.emoticonImg{
  width: 92px;
  height: 92px;
  cursor: pointer;
}

/*이모티콘 선택하면 뜨는 div창*/
#emoticonClickView{
  bottom: 119px;
  left: -1px;
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  background-color: #ffffff80;
  display: none;
  position: absolute;
}

/*선택된 이모티콘*/
#emoticonClickImg{
  margin-top: 3px;
  margin-left: 10px;
  width: 92px;
  height: 92px;
}
#profile {
  padding: 10px;
}
#profileView{
  width: 100%;
  text-align: left;
  line-height: 50px;
  margin-left: 10px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

#profileViewDiv{
  left: 283px;
  width: 220px;
  padding: 10px;
  border: var(--border);
  border-radius: 10px;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1;
}

#profileImg{
  width: 220px;
  height: 220px;
}

#myImg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: var(--border);
  margin-left: 10px;
}

#nickNameDiv {
  text-align: center;
}

#updateNickNameBtn {
  margin-top: 5px;
  width: 60%;
  border-radius: 15px;
  background: var(--sub-color2);
  color: #fff;
  border: none;
}
#updateNickNameBtn:hover {
  opacity: 0.8;

}

#inputNickName {
  width: 100%;
  border: none;
  text-align: center;
}

#gradeDiv {
  width: 50%;
  margin: 0 auto;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
  color: var(--main-color);
}
.loading {
  width: 200px;
  margin: 0 auto;
  margin-top:28vh;
  text-align: center;
  opacity: 0.5;
}

.loading p {
  font-size: 1rem;
}