body {
    overflow: hidden;
}

.wrap {
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    border: 1px dashed #000;
    z-index: 0;
}

.title {
    margin: 40px 0px;
    text-align: center;
}

.content_wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    min-width: 360px;
    border: 1px dashed red;
}

div[class*="_profile"] {
    width: 100%;
    border: 1px solid #000;
}
.team_profile {
    height: 110px;
}

.member_profile {
    margin-top: 20px;
}

.sub_title {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}

.article {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid magenta;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profileImg {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
}

.input_text {
    font-size: 1.2rem;
    font-weight: bold;
    background: transparent;
    border: 1px solid #000;
}

.meta_data {
    height: 100%;
    justify-items: center;
    display: flex;
    flex-direction: row;
}

.texts {
    margin-top: 5px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button[class*="_btn"] {
    width: 70px;
    height: 30px;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid #000;
}

#edit_team {
    top: 30%;
    right: 85px;
    position: absolute;
}

#change_team {
    top: 30%;
    right: 10px;
    position: absolute;
}


.modal {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
}

/* modal 창을 띄운 뒤에는 body 의 overflow 속성을 hidden 으로 잡아야함  */

.modal_wrap {
    margin: 0 auto;
    margin-top: 25vh;
    padding: 20px;
    width: 400px;
    height: 320px;
    border-radius: 15px;
    background: #fff;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal_wrap h3 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

.modal_wrap button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    margin-bottom: 10px;
    font-weight: normal;
}

.modal_wrap button:hover {
    font-weight: bold;
}

#go_back {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0;
    border: none;
    background: transparent;
}

.btns {
    border: 1px solid #000;
    display: flex;
    align-items: center;
}
