@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #8621F7;
    --sub-color: #B2B2B2;
    --sub-color2 : #1a252f;
    --back-color: #F8F8F8;
    --border: 1px solid rgba(0,0,0,0.3);
    --border2: 1px solid rgba(0,0,0,0.1);
    --shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow: hidden;
}

.wrap {
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    z-index: 0;
}

.logoTitle {
    font-size: 1.2rem;
    font-weight: bold;
    /*font-family: GyeonggiBatang, serif;*/
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}


.contentWrap {
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    min-width: 360px;
    padding: 20px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    background: var(--back-color);
}

div[class*="Profile"] {
    width: 100%;
}
.teamProfile {
    height: 110px;
}

.memberProfile {
    margin-top: 20px;
}

.subTitle {
    padding-left: 10px;
    height: 40px;
    line-height: 30px;
    border-bottom: var(--border);
    display: block;

}

.article {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: var(--border);
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profileImg {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    border: var(--border);
    display: inline-block;
}

.inputText {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background: transparent;
    border: none;
    outline: none;
}
.inputEmail {
    width: 100%;
    border: none;
    background: none;
}
.metaData {
    height: 100%;
    justify-items: center;
    display: flex;
    flex-direction: row;
}

.texts {
    width: calc(100% - 80px);
    margin-top: 5px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button[class*="Btn"] {
    width: 70px;
    height: 30px;
    margin-left: 5px;
    border-radius: 15px;
    color: #fff;
    border: none;
    background: var(--main-color);
}

#editTeam {
    top: 30%;
    right: 85px;
    position: absolute;
}

#updateTeamNameBtn {
    top: 30%;
    right: 10px;
    position: absolute;
}

#changeTeam {
    top: 30%;
    right: 10px;
    position: absolute;
}

.gradeBtn {
    background: none;
    color: var(--sub-color2);
    border: 1px solid var(--sub-color2);
}

.modal {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
}

/* modal 창을 띄운 뒤에는 body 의 overflow 속성을 hidden 으로 잡아야함  */

.modalWrap {
    margin: 0 auto;
    margin-top: 25vh;
    padding: 20px;
    width: 400px;
    height: 320px;
    border-radius: 15px;
    background: #fff;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modalWrap h3 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

.modalWrap button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    margin-bottom: 10px;
    font-weight: normal;
}

.modalWrap button:hover {
    font-weight: bold;
}

#goBack {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0;
    border: none;
    background: transparent;
}

.btns {
    display: flex;
    align-items: center;
    position: relative;
}

/*#teamName{*/
/*    background-color: white;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/


/* ==================등급 선택 modal1창 css ========================*/
.modal1 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
}

.modalWrap1 {
    margin: 0 auto;
    margin-top: 25vh;
    padding: 20px;
    width: 400px;
    height: 320px;
    border-radius: 15px;
    background: #fff;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modalWrap1 h3 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

.modalWrap1 button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    margin-bottom: 10px;
    font-weight: normal;
}

.modalWrap1 button:hover {
    font-weight: bold;
}

#goBack1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0;
    border: none;
    background: transparent;
}

/* ==================팀원 강퇴 modal2창 css ========================*/
.modal2 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
}

.modalWrap2 {
    margin: 0 auto;
    margin-top: 25vh;
    padding: 20px;
    width: 400px;
    height: 320px;
    border-radius: 15px;
    background: #fff;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modalWrap2 h3 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}
.modalWrap2 button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: normal;
}

.modalWrap2 button:hover {
    opacity: 0.8;
}

#no{
    border: var(--border);
    background: none;
    color: #333;
}

#goBack2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0;
    border: none;
    background: transparent;
}

#loginIndex {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    display: block;
}

#loginIndex:hover {
    opacity: 0.8;
}

.cancel {
    margin-top: 80px;
    text-align: center;

}

