@import url(reset.css);

.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}
.header {
  width: 100%;
  height: 50px;
  border: 1px dashed #000;
  display: flex;
  position: fixed;
  z-index: 10;
}
.logo {
  width: 120px;
  height: 100%;
  margin-right: 10px;
  border: 1px solid magenta;
}

.teamList {
  width: 150px;
  border: 1px solid magenta;
}

.teamList ul > li {
  width: 100%;
  height: 50px;
  line-height: 45px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

#dropdownList {
  display: none;
  border: 1px solid blue;
}

.hiddenList ul > li {
  width: 100%;
  height: 50px;
  line-height: 45px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

#teamMember {
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  right: 50px;
}

.teamMemberList {
  width: 300px;
  border: 1px solid;
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  background: #fff;

}

.teamMemberList::-webkit-scrollbar {
  display: none;
}

.teamMemberList h1 {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.1rem;
}
.teamMemberList li {
  height: 60px;
  padding: 10px;
  border: 1px solid black;
  position: relative;
}

.teamMemberList li > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  border: 1px solid black;
}
.teamMemberList li > span:nth-child(2) {
  line-height: 40px;
}
.teamMemberList li > span:nth-child(3) {
  position: absolute;
  top: 33%;
  right: 10px;
  border: 1px solid red;
  display: inline-block;
  width: 50px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}
.iconMenu {
  width: 50px;
  height: 50px;
  right: 0px;
  border: 1px solid magenta;
  position: absolute;
  cursor: pointer;
}

.main {
  width: 100vw;
  height: 100%;
  padding-top: 50px;
  border: 1px solid black;
  z-index: 1;
  display: flex;
}

aside {
  min-width: 280px;
  width: 280px;
  height: 100%;
  border: 1px dashed #000;
  background: silver;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.asideTitle {
  width: 100%;
  min-height: 50px;
  border: 1px solid magenta;
  display: flex;
}

.asideTitle h3 {
  padding-left: 10px;
  line-height: 50px;
}
#alarmView {
  width: 60px;
}

.createBtn {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  right: 45px;
  position: absolute;
}

.toggle {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  right: 10px;
  position: absolute;
}
.asideItem {
  width: 100%;
  max-height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid magenta;
  /* -ms-overflow-style: none; */
}
.asideItem::-webkit-scrollbar {
  width: 10px; /*스크롤바의 너비*/
}

.asideItem::-webkit-scrollbar-thumb {
  /*스크롤바의 색상*/
  background-color: black;
  border-radius: 20px;
}

.asideItem::-webkit-scrollbar-track {
  background-color: transparent; /*스크롤바 트랙 색상*/
}

@media (max-height: 800px) {
  .asideItem {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid magenta;
    -ms-overflow-style: none;
  }
}

.asideItem ul > li {
  width: 100%;
  height: 40px;
  border: 1px solid magenta;
}

.asideTool {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.appToggle {
  width: 100%;
}

#appList {
  display: none;
  height: 60px;
  background: white;
}

.app {
  width: 120px;
  margin-top: 10px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #000;

  display: inline-block;
  text-align: center;
}
#asideClose {
  display: none;
}

.msgSection {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.chatHeader {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  position: relative;
}

.chatHeader h1 {
  line-height: 40px;
  margin-left: 10px;
}

#memberView {
  width: 49px;
  height: 49px;
  right: 0px;
  position: absolute;
  border: 1px solid #000;
}

#searchMsg {
  width: 200px;
  height: 39px;
  padding-left: 10px;
  top: 4px;
  border-radius: 5px;
  position: absolute;
  right: 80px;
}

#subSection {
  top: 50px;
  right: 0;
  width: 300px;
  border: 1px solid #000;
  position: absolute;
}
.subItem {
  width: 100%;
  border: 1px solid #000;
  background: white;
  position: relative;
}

.subItem h1 {
  height: 40px;
  text-align: center;
  border: 1px solid #000;
  line-height: 30px;
}

#memberList {
  display: none;
}

#memberList li {
  padding: 10px;
  height: 60px;
  border: 1px solid #000;
  display: flex;
}

#memberList li img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #000;
}

#memberList li span {
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #000;
}

#memberList li span:last-child {
  min-width: 50px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  border: 1px solid red;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

#resultList {
  top: 0;
  position: absolute;
  display: none;
}

#resultList li {
  margin: 10px;
  border: 1px solid #000;
}
#alarmList {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
  top: 50px;
  background: white;
  position: absolute;
  display: none;
  z-index: 1;
}

#alarmList li {
  margin: 10px;
  height: 40px;
  border: 1px solid #000;
}

.msgView {
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
  overflow: scroll;
}
.msg {
  width: 200px;
  margin-bottom: 10px;
  height: 50px;
  border: 1px solid #000;
}

.msgSend {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 120px;
  border: 1px solid magenta;
  background: #999;
}
.inputMsg {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.msgTool ul {
  width: 300px;
  border: 1px solid #000;
  display: flex;
}
.msgTool ul li {
  margin-right: 8px;
}

.menuList {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 200px;
  border: 1px solid #000;
  z-index: 10;
  display: none;
  background: white;
}

.menuList ul li {
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

.menuList ul li:hover {
  font-weight: bold;
}

.createView {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  z-index: 1000;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
}

.createView > .wrap{
  max-width: 600px;
  width: 90vw;
  height: auto;
  border-radius: 10px;
  background: #fff;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  border: 1px solid red;
}

.createView > .wrap ul {
  height: 100%;
}
.createView > .wrap h1 {
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px;
}
.createView .list {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}
.createView .list > li{
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid magenta;
  display: flex;
  position: relative;
}

.createView .list > li > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.createView .list > li > span {
  font-size: 1rem;
  line-height: 40px;
  border: 1px dashed black;
  display: inline-flex;
  margin-left: 10px;
}

.createView .list > li > span.tag {
  display: inline-block;
  font-size: 12px;
  width: 80px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 33%;
  right: 10px;
  border: 1px solid red;
  border-radius: 10px;
}

.fileView{
  bottom: 55px;
  left: 169px;
  width: 250px;
  height: 150px;
  border: 1px solid #000;
  background-color: white;
  display: none;
  position: absolute;
}

.fileView ul{
  width: 248px;
  line-height : 40px;
}

.fileView h3{
  text-align: center;
  width: 248px;
}
#uploadfile{
  width: 70%;
}
.fileContents{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

@media (max-width: 800px) {
  .fileView{
    bottom: 55px;
    left: 169px;
    width: 230px;
    height: 150px;
    border: 1px solid #000;
    background-color: white;
    display: none;
    position: absolute;
  }
  .fileView ul{
    width: 228px;
    line-height : 40px;
  }

  .fileView h3{
    text-align: center;
    width: 228px;
  }
}