<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>당신의 동료, 영원한 친구 buddy</title>
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/m-home.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrap">
      <div class="logo">
        <img src="" alt="" />
      </div>
      <p class="slogan">당신의 동료, 영원한 친구</p>
      <form action="" id="">
        <input type="text" name="" id="id" class="loginId" />
        <input type="text" name="loginPw" id="pw" class="loginPw" />
        <a href="" id="sessionEmail" class="aLeft">이메일 기억하기</a>
        <a href="" id="findPw" class="aRight">비밀번호 찾기</a>
        <button type="" id="loginBtn" class="loginBtn">
          <a href="mypage.html">로그인</a>
        </button>
        <button type="" id="naver" class="snsLogin">
          <a href="mypage.html">네이버</a>
        </button>
        <button type="" id="kakao" class="snsLogin">
          <a href="mypage.html">카카오</a>
        </button>
        <a href="signup.html" id="goSignup"
          >아직 회원이 아니신가요? <strong>회원가입</strong></a
        >
      </form>
    </div>
  <a href="/member/test">컨트롤러 테스트(콘솔에 1이 넘어오면 정상작동중)</a>
  </body>
</html>
