<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>당신의 동료, 영원한 친구 buddy</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/mypage.css" />
    <link rel="stylesheet" href="/static/css/m-home.css" />
    <link rel="stylesheet" href="/static/css/m-mypage.css" />
    <script src="/static/js/jQueryCheck.js"></script>
  </head>
  <body>
  <th:block th:if="${#strings.isEmpty(session.memberSeq)}">
    <div class="wrap">
      <div class="logo">
        <img src="" alt="" />
      </div>
      <p class="slogan">당신의 동료, 영원한 친구</p>
      <form action="/member/login" method="post" id="loginForm">
        <input type="text" name="memberId" id="id" class="loginId" placeholder="이메일"/>
        <input type="password" name="memberPw" id="pw" class="loginPw" placeholder="비밀번호"/>
        <a href="" id="sessionEmail" class="aLeft">이메일 기억하기</a>
        <a href="" id="findPw" class="aRight">비밀번호 찾기</a>
        <button type="button" id="loginBtn" class="loginBtn">로그인</button>

        <!-- 네이버 로그인 / div로 설정해야 작동함-->
        <div id="button_area"></div>
        <div id="naverIdLogin"></div>

        <!-- 카카오 로그인 -->
<!--        <button type="" id="kakao" class="snsLogin">-->
        <a href="javascript:kakaoLogin();"><img src="/static/img/kakao_login_medium_narrow.png" alt="카카오계정 로그인" style="height: 100px;"/></a>
<!--        </button>-->
        <a href="javascript:secession();">회원탈퇴</a>

        <a href="/member/toSignUp" id="goSignup"
          >아직 회원이 아니신가요? <strong>회원가입</strong></a
        >
      </form>
      <a href="/member/logout">테스트 돌아가기</a>
      <a href="/invite/test">테스트 이메일</a>
    </div>
  </th:block>
  <th:block th:if="${not #strings.isEmpty(session.memberSeq)}">
    <!-- 마이페이지 -->
    <div class="wrap">
      <div class="logo">
        <img src="" alt="" />
      </div>

      <div id="profileBox" class="profileBox">
        <p class="title">profile</p>
        <div class="myProfile">
          <img src="" alt="" id="myImg" class="profileImg" />
          <div class="info">
            <!-- 세션에 뿌려진 값으로 해결하기 -->
            <a href="/invite/test">초대테스트 페이지로</a>
            <h1 id="myName" class="name" th:text="${session.memberName}">userName</h1>
            <p id="myEmail" class="email" th:text="${session.memberLogtype}">userEmail</p>
          </div>
          <button type="button" id="myprofile" class="floatBtn">
            계정설정
          </button>
          <button type="button" id="logout" class="floatBtn">
            로그아웃
          </button>
        </div>
        <th:block th:if="${#strings.equals(session.memberLogtype,'admin')}">
          <button type="button" id="adminPage" class="floatBtn">
            관리자페이지
          </button>
        </th:block>
      </div>
      <div class="temListBox" th:if="${teamDtoList!=null}">
        <p class="title">팀 리스트</p>
        <div class="teamProfile" th:each="teamDtoList : ${teamDtoList}">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name" th:text="${teamDtoList.teamName}"></h1>
          </div>
          <form action="/team/goTeam" method="post">
            <input type="hidden" th:value="${teamDtoList.teamSeq}" th:name="teamSeq">
            <button id="goTeam" class="floatBtn">
              팀으로 가기
            </button>
          </form>
          <form action="/team/goTeamSetting" method="post">
          <input type="hidden" th:value="${teamDtoList.teamSeq}" th:name="teamSeq">
          <button id="managementTeam" class="floatBtn" th:if="${teamDtoList.teamOwnerSeq==session.memberSeq}">
            팀 관리
          </button>
          </form>
        </div>
      </div>

        <div class="addTeam">
          <a href="/team/add">
            팀 생성 하기
          </a>
        </div>
      </div>
    </div>
  </th:block>

    <!-- 로그인 폼 -->
    <script>

      function getLogin(){
        let id = $('#id').val();
        let pw = $('#pw').val();

        if(id == "" || pw == ""){
          alert("아이디, 비밀번호를 모두 입력해야 합니다.");
        }else{
          $("#loginForm").submit();
        }
      }

      $(function(){
        let loginBtn = $("#loginBtn");

        loginBtn.on("click",function(){
          getLogin();
        });

        $("#pw").on("keydown",function(e){
            if (e.keyCode == 13) {
              getLogin();
            }
        });
      })

    </script>

    <!-- 카카오 로그인 script -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript">


      window.Kakao.init('7916c939205e8db616216bc236bc79c3');

      function kakaoLogin() {
        window.Kakao.Auth.login({
          scope: 'profile_nickname, account_email', //동의항목 페이지에 있는 개인정보 보호 테이블의 활성화된 ID값을 넣습니다.
          success: function(response) {
            console.log(response) // 로그인 성공하면 받아오는 데이터
            window.Kakao.API.request({ // 사용자 정보 가져오기
              url: '/v2/user/me',
              success: (res) => {
                console.log(res);
                const kakao_account = res.kakao_account;
                const kakao_properties = res.properties;

                let id = kakao_account.email;
                let name = kakao_properties.nickname;

                location.href = "/member/kakaoLogin?memberId="+id+"&memberName="+name+"&memberLogtype=kakao";
              }
            });
          },
          fail: function(error) {
            console.log(error);
          }
        });
      }

      // 카카오 탈퇴
      function secession() {
        Kakao.API.request({
          url: '/v1/user/unlink',
          success: function(response) {
            console.log(response);
            //callback("탈퇴 완료"); //연결끊기(탈퇴)성공시 서버에서 처리할 함수
            window.location.href='/'
          },
          fail: function(error) {
            console.log('탈퇴 미완료')
            console.log(error);
          },
        });
      };
    </script>

    <!-- 네이버 로그인 script -->
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script type="text/javascript">

      const naverLogin = new naver.LoginWithNaverId(
              {
                clientId: "MPvUbOX30trYmVJWI5qi",
                callbackUrl: "http://43.201.133.173//",
                loginButton: {color: "green", type: 2, height: 40}
              }
      );

      naverLogin.init();
      naverLogin.getLoginStatus(function (status) {
        if (status) {
          const name = naverLogin.user.getName();
          const email = naverLogin.user.getEmail();
          let phone = naverLogin.user.getMobile();

          if(name===null||name===undefined ){
            alert("정보제공을 동의해주세요.");
            naverLogin.reprompt();
            return ;
          }else{
            setLoginStatus();
            console.log(name);
            console.log(email);
            console.log(phone);
            location.href="/member/naverLogin?memberId="+ email + "&memberName="+ name + "&memberPhone=" + phone + "&memberLogtype=naver";
          }
        }
      });

      function setLoginStatus(){
        const message_area=document.getElementById('message');

        const name = naverLogin.user.getName();
        const email = naverLogin.user.getEmail();
        let phone = naverLogin.user.getMobile();

        phone = phone.replace(/\-/g,''); // 전화번호 '-' 제거 (정규표현식 사용)

        console.log(naverLogin.user.getName());
      }

    </script>
    <!-- 로그아웃 (일반 / kakao / naver) -->
    <script type="text/javascript">
      $("#logout").on("click",function(){
        let loginType = $("#loginType").val();
        if(confirm("로그아웃 하시겠습니까?")){
          if(loginType == "normal"){
            location.href="/member/logout";
          }else if(loginType == "kakao"){
            kakaoLogout();

            function kakaoLogout() {
              if (!Kakao.Auth.getAccessToken()) {
                return;
              }
              Kakao.Auth.logout(function(response) {
                alert(response +' logout');
                window.location.href="/member/logout";
              });
            };
          }else{
            naverLogin.logout();
            location.href="/member/logout";
            //location.href = "http://nid.naver.com/nidlogin.logout";//logout()이 작동되지 않으면 이거 사용
          }
        }
      });

      $('#myprofile').on("click",function (){
          location.href="/member/goMyProfile";
      });
    </script>

    <!-- 관리자 페이지로 이동 -->
  <script>
    $("#adminPage").on("click",function(){
      location.href = "/admin/toAdminPage";
    });
  </script>

  </body>
</html>
