<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>당신의 동료, 영원한 친구 buddy</title>
    <link rel="stylesheet" href="/static/css/mypage.css" />
    <link rel="stylesheet" href="/static/css/moblie/m-mypage.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <div class="wrap">
      <div class="logo">
        <img src="" alt="" />
      </div>

      <div id="profileBox" class="profileBox">
        <p class="title">profile</p>
        <div class="myProfile">
          <img src="" alt="" id="myImg" class="profileImg" />
          <div class="info">
            <h1 id="myName" class="name" th:text="${userInfo.getMemberName()}">userName</h1>
            <p id="myEmail" class="email" th:text="${userInfo.getMemberId()}">userEmail</p>
            <input type="hidden" th:value="${userInfo.getMemberLogtype()}" name="memberLogtype" id="loginType">
          </div>
          <button type="button" id="logout" class="floatBtn">
            로그아웃
          </button>
        </div>
      </div>
      <div class="temListBox">
        <p class="title">list</p>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
      </div>
    </div>
  <!-- 로그아웃 (일반 / kakao / naver) -->
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
  <script type="text/javascript">
    $("#logout").on("click",function(){
      let loginType = $("#loginType").val();

      if(confirm("로그아웃 하시겠습니까?")){
        if(loginType == "normal"){
          location.href="/member/logout";
        }else if(loginType == "kakao"){
          window.Kakao.init('7916c939205e8db616216bc236bc79c3');

          kakaoLogout();

          function kakaoLogout() {
            if (!Kakao.Auth.getAccessToken()) {
              console.log('Not logged in.');
              return;
            }
            Kakao.Auth.logout(function(response) {
              alert(response +' logout');
              window.location.href="/member/logout";
            });
          };
        }else{
          naverLogin.logout();
          location.href="/member/logout";
          //location.href = "http://nid.naver.com/nidlogin.logout";//logout()이 작동되지 않으면 이거 사용
        }
      }
    });
  </script>
  </body>
</html>
