<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>당신의 동료, 영원한 친구 buddy</title>
    <link rel="stylesheet" href="css/mypage.css" />
    <link rel="stylesheet" href="css/moblie/m-mypage.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrap">
      <div class="logo">
        <img src="" alt="" />
      </div>

      <div id="profileBox" class="profileBox">
        <p class="title">profile</p>
        <div class="myProfile">
          <img src="" alt="" id="myImg" class="profileImg" />
          <div class="info">
            <h1 id="myName" class="name">userName</h1>
            <p id="myEmail" class="email">userEmail</p>
          </div>
          <button type="button" id="logout" class="floatBtn">
            <a href="home.html">로그아웃</a>
          </button>
        </div>
      </div>
      <div class="temListBox">
        <p class="title">list</p>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
        <div class="teamProfile">
          <img src="" alt="" id="teamImg" class="profileImg" />
          <div class="info">
            <h1 id="teamName" class="name">teamName</h1>
            <p id="teamEmail" class="email">teamEmail</p>
          </div>
          <button type="button" id="goTeam" class="floatBtn">
            <a href="">팀으로 가기</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
