<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/signup.css" />
    <link rel="stylesheet" href="/static/css/m-signup.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="logo">
        <img src="" alt="" />
      </div>
      <h1>회원가입</h1>
      <form method="post" id="form">
        <p id="titleName" class="titleName">이름</p>
          <th:block th:if="${userInfo.getMemberLogtype() != 'normal'}">
            <input type="text" name="memberName" class="inputName" th:value="${userInfo.getMemberName()}" readonly/>
            <input type="hidden" name="memberLogtype" th:value="${userInfo.getMemberLogtype()}" id="typeCheck" >
            <input type="hidden" name="memberPw" value="">
          </th:block>
          <th:block th:if="${userInfo.getMemberLogtype() == 'normal'}">
            <input type="text" name="memberName" class="inputName" id="inputName" maxlength='6'/>
            <span id="nameStatus"></span>
            <input type="hidden" name="memberLogtype" value="normal">
          </th:block>

        <p id="titleEmail" class="titleEmail">이메일</p>
          <th:block th:if="${userInfo.getMemberLogtype() != 'normal'}">
            <input type="text" name="memberId" class="inputEmail"  th:value="${userInfo.getMemberId()}" readonly/>
          </th:block>
          <th:block th:if="${userInfo.getMemberLogtype() == 'normal'}">
            <input type="text" name="memberId" class="inputEmail" id="inputId" maxlength='30' placeholder="이메일을 입력해주세요."/>
            <button type="button" id="emailSend">인증 이메일 발송</button>
            <input type="test" id="emailCheckVal" placeholder="인증번호를 입력하세요.">
            <button type="button" id="emailConfirm" >인증</button>
            <!-- 타이머 생성 -->
            <label for="emailTimer" id="emailTimerLabel">남은 시간:</label>
            <input id="emailTimer" type="text" value="" readonly/>
            <br>
            <span id="idStatus"></span>
          </th:block>

        <th:block th:if="${userInfo.getMemberLogtype() == 'normal'}">
          <p id="titlePw" class="titlePw">비밀번호</p>
          <p id="comment" class="comment">
            비밀번호는 영문,숫자,특수문자를 모두 포함한 8~14자로 입력하세요.
          </p>
          <input type="password" name="memberPw" id="inputPw" class="inputPw" maxlength='15' placeholder="비밀번호는 영문,숫자,특수문자를 모두 포함한 8~14자로 입력하세요."/>
          <p id="titleTest" class="titleTest">비밀번호 확인</p>
          <input type="password" name="testPw" id="testPw" class="testPw" maxlength='15' placeholder="비밀번호를 다시 입력해주세요."/>
          <span id="pwStatus"></span>
        </th:block>

        <p class="titlePhone" >휴대전화</p>

        <th:block th:if="${userInfo.getMemberLogtype() == 'normal' || userInfo.getMemberLogtype() == 'kakao'}">
          <p class="comment">
            휴대폰 번호는 '-'를 제외하고 입력해주세요.
          </p>
          <input type="text" name="memberPhone" class="inputPhone" id="inputPhone" maxlength='12'/>
          <!-- 휴대폰 인증 -->
          <button type="button" id="sendSms">인증문자발송</button>
          <input type="test" id="phoneCheckVal" placeholder="인증번호를 입력하세요.">
          <!-- 타이머 생성 -->
          <label for="Timer" id="timerLabel">남은 시간:</label>
          <input id="Timer" type="text" value="" readonly/>
          <button type="button" id="phoneConfirm" >인증번호 확인</button>
        </th:block>
        <th:block th:if="${userInfo.getMemberLogtype() == 'naver'}">
          <input type="text" name="memberPhone" class="inputPhone" th:value="${userInfo.getMemberPhone()}" readonly/>
        </th:block>

          <button id="signupBtn" class="signupBtn" >회원가입</button>
        <th:block th:if="${userInfo.getMemberLogtype() != 'naver'}">
          <p class="goLogin">
            이미 가입 하셨나요? <a href="/"><strong>로그인</strong></a>
          </p>
        </th:block>
      </form>
    </div>

    <!-- 버튼 생성/제거 함수-->
    <script>
      // 이메일
      function emailDisBlock(){
        $("#emailCheckVal").css("display","inline-block");
        $("#emailConfirm").css("display","block");
        $("#emailTimer").css("display","block");
        $("#emailTimerLabel").css("display","block");
      }

      function emailDisNone(){
        $("#emailCheckVal").css("display","none");
        $("#emailConfirm").css("display","none");
        $("#emailTimer").css("display","none");
        $("#emailTimerLabel").css("display","none");
      }
      // 휴대폰
      function phoneDisBlock(){
        $("#phoneCheckVal").css("display","inline-block");
        $("#phoneConfirm").css("display","block");
        $("#Timer").css("display","block");
        $("#timerLabel").css("display","block");
      }

      function phoneDisNone(){
        $("#phoneCheckVal").css("display","none");
        $("#phoneConfirm").css("display","none");
        $("#Timer").css("display","none");
        $("#timerLabel").css("display","none");
      }
    </script>
    <!-- 회원가입 유효성 검사 -->
    <script>
      let nameChkResult = false;
      let idChkResult = false;
      let pwChkResult = false;

      // 이름 체크
      const nameRegex = /^[가-힣]{1,5}$/;
      let nameStatus = $("#nameStatus");
      let inputName = $("#inputName");

      inputName.on("blur",function (){
        let inputNameVal = $("#inputName").val();
        let nameResult = nameRegex.test(inputNameVal);

        if(inputNameVal == ""){
          nameStatus.html("이름을 입력해주세요.");
          nameChkResult = false;
        }else if(!nameResult){
          nameStatus.html("이름은 1~5자 한글로 입력해주세요.");
          nameChkResult = false;
        }else{
          nameStatus.html("");
          nameChkResult = true;
        }
      });

      // 비밀번호 확인
      let inputPw = $("#inputPw");
      let pwStatus = $("#pwStatus");
      let testPw = $("#testPw");
      const pwRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,14}$/;

      inputPw.on("blur",function(){
        let inputPwVal = $("#inputPw").val();
        let testPwVal = $("#testPw").val();
        let pwResult = pwRegex.test(inputPwVal);

        if(inputPwVal == ""){
          pwStatus.html("비밀번호를 입력해주세요.");
          pwChkResult = false;
        }else if(!pwResult){
          pwStatus.html("비밀번호는 영문,숫자,특수문자를 모두 포함한 8~14자로 입력하세요.");
          pwChkResult = false;
        }else{
          pwStatus.html("");
          if(inputPwVal == "" && testPwVal == ""){
            pwStatus.html("");
            pwChkResult = false;
          }else if(inputPwVal != testPwVal){
            pwStatus.html("패스워드가 일치하지 않습니다.");
            pwChkResult = false;
          }else if(inputPwVal == testPwVal){
            pwStatus.html("패스워드가 일치합니다.");
            pwChkResult = true;
          }
        }
      });

      testPw.on("blur",function(){
        let inputPwVal = $("#inputPw").val();
        let testPwVal = $("#testPw").val();
        let pwResult = pwRegex.test(inputPwVal);

        if(testPwVal == ""){
          pwStatus.html("비밀번호를 입력해주세요.");
          pwChkResult = false;
        }else if(!pwResult){
          pwStatus.html("비밀번호는 영문,숫자,특수문자를 모두 포함한 8~14자로 입력하세요.");
          pwChkResult = false;
        }else{
          pwStatus.html("");
          if(inputPwVal == "" && testPwVal == ""){
            pwStatus.html("");
            pwChkResult = false;
          }else if(inputPwVal != testPwVal){
            pwStatus.html("패스워드가 일치하지 않습니다.");
            pwChkResult = false;
          }else if(inputPwVal == testPwVal){
            pwStatus.html("패스워드가 일치합니다.");
            pwChkResult = true;
          }
        }
      });
    </script>

    <!-- 이메일 인증 regex -->
    <script>
      // 아이디(이메일) 중복 체크
      const idRegex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
      let idStatus = $("#idStatus");
      let inputId = $("#inputId");
      let idDulCheck = false;


      // 이메일 발송 / 타이머
      const emailTimer = document.getElementById('emailTimer');


      $("#emailSend").on("click",function (){
        let inputIdVal = $("#inputId").val();
        let idResult = idRegex.test(inputIdVal);

        if(inputIdVal == ""){
          idStatus.html("이메일을 입력해주세요.");
          idDulCheck = false;
        }else if(!idResult) {
          idStatus.html("이메일 양식을 확인해주세요.");
          idDulCheck = false;
        }else if(idResult){
          $.ajax({
            url : "/member/idCheck",
            data : {
              "id" : inputIdVal
            }
          }).done(function(rsp){
            if(rsp){
              idStatus.html("사용 가능한 이메일입니다.");
              idDulCheck = true;

              if(idDulCheck){
                $("#inputId").attr("readonly",true);
                $("#emailSend").attr("disabled",true);

                emailSend();
                TIMER();

                setTimeout(function(){
                  alert("인증시간이 경과되었습니다. 다시 요청해주세요.");
                  clearInterval(PlAYTIME);
                  emailDisNone();
                  $("#inputId").attr("readonly",false);
                  $("#emailSend").attr("disabled",false); // 3분이 지나면 버튼 활성화
                  idChkResult = false;
                },180000);//3분이 되면 타이머를 삭제

              }else{
                alert("이메일을 다시 확인해주세요.(중복된 이메일 또는 유효하지 않은 이메일입니다.");
              }

            }else{
              idStatus.html("이미 사용 중인 이메일입니다.");
              idDulCheck = false;
            }
          })
        }


      })

      // 타이머 함수
      function TIMER() {
        let time= 180000;
        let min=3;
        let sec=60;

        emailTimer.value = min + ":" + '00';
        PlAYTIME = setInterval(function () {
          time = time - 1000;
          min = time / (60 * 1000);

          if (sec > 0) {
            sec = sec - 1;
            emailTimer.value = Math.floor(min) + ':' + sec;

          }
          if (sec === 0) {
            sec = 60;
            emailTimer.value = Math.floor(min) + ':' + '00'
          }

        }, 1000);
      }

      // 이메일 난수(6)생성 함수
      let serialNo;

      function emailRan(){
        $.ajax({
          url: "/email/emailProve"
          ,type: "post"
          ,async: false
        }).done(function(rsp){
          serialNo = rsp;
        })
      }

      // 이메일 발송 함수
      function emailSend() {
        emailRan();
        let subject = "[Buddy] 회원가입 인증번호 입니다.";
        let body = "안녕하세요 buddy 입니다. \n 회원가입 인증번호는 \n" + serialNo + " \n입니다.";
        let emailAdd = $("#inputId").val();
        let emailConfirmBtn = $("#emailConfirm");

        var params = {
          userId: emailAdd
          , subject: subject
          , body: body
        }

        $.ajax({
          url: "/email/sendEmail"
          , type: "POST"
          , accept: "application/json"
          , contentType: "application/json; charset=utf-8"
          , data: JSON.stringify(params)
          , dataType: "json"
          ,success: function(){
            emailDisBlock();
          }
          ,error: function () {
            alert("이메일 전송에 실패하였습니다. 이메일을 다시 확인해주세요.");
            $("#inputId").attr("readonly",true);
            $("#emailSend").attr("disabled",false);
          }
        }).done(function(){
          emailConfirmBtn.on("click",function(){
            if(serialNo == $("#emailCheckVal").val()){
              alert("인증번호가 일치합니다.");
              idChkResult = true;
              emailDisNone();
              $("#inputId").attr("readonly",true);
              $("#emailSend").attr("disabled",true);
            }else{
              alert("인증번호가 일치하지 않습니다. 다시 확인해주세요.");
            }
          })

        })
      }

    </script>
    <!-- 문자인증 문자인증 regex -->
    <script>
      let phoneChkResult = false;
      const Timer = document.getElementById('Timer'); //스코어 기록창-분
      let time= 180000;
      let min=3;
      let sec=60;

      // 문자 인증
      let sendSms = $("#sendSms");
      let inputPhone = $("#inputPhone");
      const phoneRegex = /^010\d{4,4}?\d{4}$/;

      sendSms.on("click",function(){
        let inputPhoneVal = inputPhone.val();
        let phoneResult = phoneRegex.test(inputPhoneVal);

        if(inputPhone.val() == "") {
          alert("휴대폰 번호를 입력하세요"); // 휴대폰 번호 regex해야됨
          phoneChkResult = false;

        }else if(!phoneResult) {
          alert("휴대폰 번호 양식을 확인해주세요.");
          phoneChkResult = false;
          return false;

        }else if(phoneResult){
          sendSms.attr("disabled",false); // 문자 발송 버튼 비활성화(3분간)
          inputPhone.attr("readonly",true);

          // 타이머
          alert("인증번호가 발송되었습니다.");

          sendSms.attr("disabled", true); // 발송 버튼 비활성화

          Timer.value = min + ":" + '00';

          function TIMER() {
            PlAYTIME = setInterval(function () {
              time = time - 1000;
              min = time / (60 * 1000);

              if (sec > 0) {
                sec = sec - 1;
                Timer.value = Math.floor(min) + ':' + sec;

              }
              if (sec === 0) {
                sec = 60;
                Timer.value = Math.floor(min) + ':' + '00'
              }

            }, 1000);
          }
          TIMER();
          setTimeout(function(){
            alert("인증시간이 경과되었습니다. 다시 요청해주세요.");
            clearInterval(PlAYTIME);
            sendSms.attr("disabled",false); // 3분이 지나면 버튼 활성화
            phoneChkResult = false;
            phoneDisNone();
          },180000);// 1분이 되면 타이머를 삭제

          let param = {"to":inputPhoneVal};
          // 문자 발송
          $.ajax({
            url : "/sms/send",
            type : "post",
            contentType: 'application/json',
            data : JSON.stringify(param)
            ,success: function(){
            $("#phoneCheckVal").css("display","inline-block");
              phoneDisBlock();
          }
            ,error: function () {
            alert("인증문자 전송에 실패하였습니다. 휴대폰 번호를 다시 확인해주세요.");
            $("#inputPhone").attr("readonly",false);
            $("#sendSms").attr("disabled",false);
          }
          }).done(function (rsp){
            // rsp : 문자 번호
            let smsNum = rsp;
            $("#phoneConfirm").on("click",function (){
              if(smsNum == $("#phoneCheckVal").val()){
                alert("인증번호가 일치합니다.");
                phoneChkResult = true;
                phoneDisNone();
              }else{
                alert("인증번호가 일치하지 않습니다. 다시 확인 해주세요.");
                phoneChkResult = false;
              }
            })

          })

        }
      });
    </script>

    <!-- 카카오 네이버 구분 -->
    <script>
      if($("#typeCheck").val() == "naver"){
        nameChkResult = true;
        idChkResult = true;
        pwChkResult = true;
        phoneChkResult = true;
      }else if($("#typeCheck").val() == "kakao"){
        nameChkResult = true;
        idChkResult = true;
        pwChkResult = true;
      }
    </script>
    <!-- 회원가입 -->

    <script>
      let signupBtn = $("#signupBtn");

      signupBtn.on("click",function(){
        if(!nameChkResult || !idChkResult || !pwChkResult || !phoneChkResult){
          alert("이름, 이메일, 비밀번호, 휴대폰인증을 모두 완료해주세요.");
          return false;
        }else{
          alert("회원가입이 완료되었습니다.");
          $("#form").attr("action","/member/signUp").submit();
        }
      })
    </script>

  </body>
</html>
