<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
<input type="text" id="userId">
<button type="button" id="send">이메일 보내기</button>
<button type="button" id="check">체크</button>
<script>


    document.getElementById('check').addEventListener("click", function (){
        $.ajax({
            url:"/email/sendEmail"
            ,type: "POST"
            ,accept: "application/json"
            ,contentType: "application/json; charset=utf-8"
            ,data: JSON.stringify("params")
            ,dataType: "json"
        }).done(function (e){
            console.log(e);
        })

    })

  document.getElementById('send').addEventListener("click", function (){
    emailSend();
  })


  function emailSend(){
    var serialNo = 123456;
    var subject = "[Buddy] 회원가입 인증번호 입니다.";
    var body = "안녕하세요 chats 입니다. \n 회원가입 인증번호는" +serialNo+ " 입니다.";

    var params = {
      userId : $("#userId").val()
      ,subject : subject
      ,body : body
    }

    if(serialNo == ""){
      alert("인증번호를 입력해주세요.");
      return false;
    }

    $.ajax({
      url: "/email/sendEmail"
      ,type: "POST"
      ,accept: "application/json"
      ,contentType: "application/json; charset=utf-8"
      ,data: JSON.stringify(params)
      ,dataType: "json"
      ,success: function(data) {

          console.log("success");
        //시리얼번호 db에 저장
        // saveSerialNo(serialNo)
      },

      error: function(jqXHR,textStatus,errorThrown) {
        alert("이메일 전송에 실패하였습니다.");
      }
    });
  }
</script>
</body>
</html>