<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script src="/js/jQueryCheck.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/customer.css">

</head>
<body>
    <div class="wrap">
        <div class="header">
         <h1>buddy 고객센터</h1>
        </div>
        <div class="main">
            <nav class="nav">
                <ul>
                    <li class="thead" id="qna"><a >1:1 문의</a></li>
                    <li class="thead" id="news"><a >공지사항</a></li>
                    <li class="thead"><a >업데이트</a></li>
                    <input type="search" name="" id="searchNews" placeholder="공지사항 검색" >
                    <a href="" class="writeBtn">글쓰기</a>
                </ul>
            </nav>
            <div class="board">
                <ul>
                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>

                    <li class="article">
                        <span class="tag">공지</span>
                        <a href="" class="title">게시판 목록의 제목1입니다.</a>
                        <span class="date">날짜 : 2022-12-12</span>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <script>

       $("#qna").click(function (){
           this.style.borderBottom = "4px solid purple";
           $(this).hover().css("opacity","100%");
           $("#news").css("border","none");
           $("#searchNews").css("display","none");
           $(".writeBtn").css("display","block");

       })

       $("#news").click(function (){
           this.style.borderBottom = "4px solid purple";
           $(this).hover().css("opacity","100%");
           $("#qna").css("border","none");
           $("#searchNews").css("display","block");
           $(".writeBtn").css("display","none");
       })
       // when you move thead > please print another list

       $("")





    </script>
</body>
</html>