<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"
    ></script>
    <script src="/static/js/jQueryCheck.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/customer.css">
    <link rel="stylesheet" href="/static/css/m-customer.css">

    <style>
        .qnaContent {
            border: 1px solid;
        }

        .noticeContent {
            border: 1px solid;
        }

        .btnDelete {
            float: right;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="header">
        <h1>buddy 고객센터</h1>
        <input type="search" name="" id="searchBar" placeholder="검색">
    </div>
    <div class="main">
        <nav class="nav">
            <ul>
                <li class="thead" id="qna"><a>1:1 문의</a></li>
                <li class="thead" id="news"><a>공지사항</a></li>
                <li class="thead" onclick="mainOut()"><a>메인으로</a></li>
                <a href="/qna/write" class="writeBtn">글쓰기</a>
            </ul>
        </nav>

        <div class="boardQna" th:if="${qna != null}">
            <ul th:each="qna : ${qna}">
                <li class="articleQna" onclick="toggle(this)">
                    <span class="tag">문의</span>
                    <a class="title" onclick="toggle(this)">
                        <input type="hidden" th:value="${qna.qnaSeq}" class="qnaSeq">
                        <span th:text="${qna.qnaTitle}"></span>
                    </a>
                    <span class="date">날짜 : [[${qna.qnaWriteDate}]]</span>
                    <div class="hidden">
                        <img src="" class="qnaSysName" style="width: 500px">
                        <div class="qnaContent" contenteditable="false" th:text="${qna.qnaContents}">
                        </div>
                        <a href="" class="downloadFiles" style="color: blue"></a>
                        <p class="qnaCmt">답변 : </p>
                        <a href="" class="deleteBtn">삭제</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="boardNews" th:if="${notice != null}">
            <ul th:each="notice : ${notice}">
                <li class="articleNotice" onclick="toggle(this)">
                    <span class="tag">공지</span>
                    <a class="title" onclick="toggle(this)">
                        <input type="hidden" th:value="${notice.noticeSeq}" class="noticeSeq">
                        <span th:text="${notice.noticeTitle}"></span>
                    </a>
                    <span class="date">날짜 : [[${notice.noticeWriteDate}]]</span>
                    <div class="hidden">
                        <img src="" class="noticeSysName" style="width: 500px">
                        <div class="noticeContent" contenteditable="false" th:utext="${notice.noticeContents}">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>

    $("#qna").click(function () {
        this.style.borderBottom = "4px solid purple";
        $(this).hover().css("opacity", "100%");
        $("#news").css("border", "none");
        $(".writeBtn").css("display", "block");
        $(".boardQna").css("display", "block");
        $(".boardNews").css("display", "none");
    })

    $("#news").click(function () {
        this.style.borderBottom = "4px solid purple";
        $(this).hover().css("opacity", "100%");
        $("#qna").css("border", "none");
        $(".writeBtn").css("display", "none");
        $(".boardQna").css("display", "none")
        $(".boardNews").css("display", "block");
    })

    function mainOut(e){
        location.href ="/member/loginIndex";
    }

    // when you move thead > please print another list

    function toggle(arg) {
        $(arg).children(".hidden").toggle();
    }

    $(".hidden").on("click", function () {
        $(".hidden").css("display", "none");
    })

    $(".articleQna").on("click", function () {
        let qnaSeq = $(this).children("a").find($(".qnaSeq")).val();
        let qnaCmt = $(this).children($(".hidden")).find($(".qnaCmt"));
        let qnaSysName = $(this).children($(".hidden")).find($(".qnaSysName"));
        let downloadFiles = $(this).children($(".hidden")).find($(".downloadFiles"));
        let deleteBtn = $(this).children($(".hidden")).find($(".deleteBtn"));

        $.ajax({
            url: "/qna/detail",
            type: "post",
            data: {"qnaSeq": qnaSeq},
            success: function () {
            }, error: function () {
            }
        }).done(function (rsp) {

            if (rsp.length == 0) {
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq);
                deleteBtn.on("click", function () {
                    if(confirm("정말 삭제 하시겠습니까?")){
                        return true;
                    } else {
                        return false;
                    }
                })
            }
            if (rsp[0].qnaCommentContents != null && rsp[0].qnaSysName == null) {
                qnaCmt.text("답변 : " + rsp[0].qnaCommentContents);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq);
            } else if (rsp[0].qnaCommentContents == null) {
                qnaSysName.attr("src", "/qnaImg/" + rsp[0].qnaSysName);
                downloadFiles.attr("href", "/qna/download?sysName=" + rsp[0].qnaSysName + "&oriName=" + rsp[0].qnaOriName);
                downloadFiles.text(rsp[0].qnaOriName);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq + "&qnaSysName=" + rsp[0].qnaSysName);

            } else if (rsp[1].qnaCommentContents != null && rsp[1].qnaSysName == null) {
                qnaCmt.text("답변 : " + rsp[1].qnaCommentContents);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq);

            } else if (rsp[1].qnaCommentContents == null) {
                qnaSysName.attr("src", "/qnaImg/" + rsp[1].qnaSysName);
                downloadFiles.attr("href", "/qna/download?sysName=" + rsp[1].qnaSysName + "&oriName=" + rsp[1].qnaOriName);
                downloadFiles.text(rsp[1].qnaOriName);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq + "&qnaSysName=" + rsp[1].qnaSysName);

            } else if (rsp[2].qnaCommentContents != null && rsp[2].qnaSysName == null) {
                qnaCmt.text("답변 : " + rsp[2].qnaCommentContents);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq);

            } else if (rsp[2].qnaCommentContents == null) {
                qnaSysName.attr("src", "/qnaImg/" + rsp[2].qnaSysName);
                downloadFiles.attr("href", "/qna/download?sysName=" + rsp[2].qnaSysName + "&oriName=" + rsp[2].qnaOriName);
                downloadFiles.text(rsp[2].qnaOriName);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq + "&qnaSysName=" + rsp[2].qnaSysName);
            }
            if (rsp[0].qnaSysName != null && rsp[0].qnaCommentContents == null) {
                qnaSysName.attr("src", "/qnaImg/" + rsp[0].qnaSysName);
                downloadFiles.attr("href", "/qna/download?sysName=" + rsp[0].qnaSysName + "&oriName=" + rsp[0].qnaOriName);
                downloadFiles.text(rsp[0].qnaOriName);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq + "&qnaSysName=" + rsp[0].qnaSysName);

            } else if (rsp[1].qnaSysName != null && rsp[1].qnaCommentContents == null) {
                qnaSysName.attr("src", "/qnaImg/" + rsp[1].qnaSysName);
                downloadFiles.attr("href", "/qna/download?sysName=" + rsp[1].qnaSysName + "&oriName=" + rsp[1].qnaOriName);
                downloadFiles.text(rsp[1].qnaOriName);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq + "&qnaSysName=" + rsp[1].qnaSysName);

            } else if (rsp[2].qnaSysName != null && rsp[2].qnaCommentContents == null) {
                qnaSysName.attr("src", "/qnaImg/" + rsp[2].qnaSysName);
                downloadFiles.attr("href", "/qna/download?sysName=" + rsp[2].qnaSysName + "&oriName=" + rsp[2].qnaOriName);
                downloadFiles.text(rsp[2].qnaOriName);
                deleteBtn.attr("href", "/qna/delete?qnaSeq=" + qnaSeq + "&qnaSysName=" + rsp[2].qnaSysName);
            }

            deleteBtn.on("click", function () {
                if(confirm("정말 삭제 하시겠습니까?")){
                    return true;
                } else {
                    return false;
                }
            })

        })
    });

    $(".articleNotice").on("click", function () {
        let noticeSeq = $(this).children("a").find($(".noticeSeq")).val();
        let noticeSysName = $(this).children($(".hidden")).find($(".noticeSysName"));
        console.log(noticeSeq);
        console.log(noticeSysName);
        $.ajax({
            url: "/notice/detail",
            type: "post",
            data: {"noticeSeq": noticeSeq},
            success: function () {
            }, error: function () {
            }
        }).done(function (rsp) {
            noticeSysName.attr("src", "/noticeImg/" + rsp[0].noticeSysName);
        })
    });
</script>
</body>
</html>
