<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>당신의 동료, 영원한 친구 buddy</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/team.css" />
  <link rel="stylesheet" href="/static/css/m-team.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script src="/static/js/jQueryCheck.js"></script>
</head>
<body>

<script th:inline="javascript">
  // 타임리프로 서버에서 전달받은 변수를 자바스크립트에서 사용하기 위해 변수로 선언한 공간.
  /*<![CDATA[*/
  let chatRoomSeq = [[${chatRoomSeq}]];
  let teamMemberNickname = [[${session.teamMemberNickname}]];
  let memberSeq = [[${session.memberSeq}]];
  /*]]>*/
</script>

<script>

  function updateScroll(){
    var element = $(".msgView")[0];
    element.scrollTop = element.scrollHeight;
  }

  $(function () {
    // 웹소켓 영역 시작
    // webSocket 인스턴스 생성
    let ws = new WebSocket("ws://localhost/chat/" + chatRoomSeq);

    //채팅방 목록을 출력해주는 ajax
    $.ajax({
      type:"post",
      url:"/chatRoom/chatRoomList",
    }).done(function (resp) {

      let chatRoomList = JSON.parse(resp);

      for (let i=0; i<chatRoomList.length; i++) {
        let chatRoomListLi = $("<li>");
        let chatRoomListForm = $("<form>");
        let chatRoomInput = $("<input>");
        chatRoomInput.attr("type","hidden");
        chatRoomInput.val(chatRoomList[i].chatRoomSeq);
        chatRoomInput.attr("name","chatRoomSeq");
        chatRoomListForm.append(chatRoomInput);
        chatRoomListLi.text(chatRoomList[i].chatTitle);
        chatRoomListLi.append(chatRoomListForm);
        $("#chatListUl").append(chatRoomListLi);
      }
    });

    //팀목록을 출력해주는 ajax호출
    $.ajax({
      type:"post",
      url:"/team/teamList"
    }).done(function (resp){
      let teamList = JSON.parse(resp);
      for (let i=0; i<teamList.length; i++) {
        let teamListLi = $("<li>");
        let teamListForm = $("<form>");
        let teamListInput = $("<input>");
        teamListInput.attr("type","hidden");
        teamListInput.val(teamList[i].teamSeq);
        teamListInput.attr("name", "teamSeq");
        teamListForm.attr("action", "/team/goTeam");
        teamListForm.attr("method", "post");
        teamListForm.append(teamListInput);
        teamListLi.text(teamList[i].teamName);
        teamListLi.append(teamListForm);
        teamListLi.addClass("goTeam");
        $("#dropdownList").append(teamListLi);
      }
    });

    //팀 이동 클릭이벤트
    $(document).on("click", ".goTeam",function (){
      //console.log();
      $(this).children("form").submit();
    })


    ws.onmessage = function (e){
      let data = JSON.parse(e.data);
      let msg = $("<div>");
      msg.addClass("msg");
      msg.append(data.teamMemberNickname);
      msg.append("<br>");
      msg.append(data.chatContent);
      msg.append("<br>");
      msg.append(data.chatDate);
      $(".msgView").append(msg);
      updateScroll();
    }

    $("#inputMsg").on("keydown", function(e) {
      if (e.keyCode == 13) {

        // Json 생성
        let wsJson = {
          "chatRoomSeq" : chatRoomSeq,
          "teamMemberNickname" : teamMemberNickname,
          "chatContent" : $(this).val(),
          "memberSeq" : memberSeq,
        };
        //JSON 전송
        $(this).val("");
        ws.send(JSON.stringify(wsJson));
        return false;
      }
    });

  })

</script>
<div class="wrap">
  <div class="header">
    <div class="logo">
      <a href="../index.html">
        <img src="" alt="" />
        logo
      </a>
    </div>
    <div id="teamList" class="teamList">
      <ul>
        <li>
          <a href="team.html" th:text="${session.teamName}"></a
          ><button id="headerToggle">toggle</button>
        </li>
      </ul>
      <ul id="dropdownList">
      </ul>
    </div>

    <button id="menu" class="iconMenu">menu</button>
    <button id="asideClose">aside</button>
  </div>
  <div class="main">
    <aside>
      <div id="profile" class="asideTitle">
        <img src="" alt="" />
        <h3><a href="../member/myProfile.html" th:text="${session.teamMemberNickName}"></a></h3>
        <button id="alarmView" class="toggle">알람</button>
      </div>
      <ul id="alarmList" class="subItem">
        <h1>알림</h1>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
      </ul>

      <div id="topic" class="asideList">
        <div class="asideTitle">
          <h3>토픽</h3>
          <button id="topicToggle" class="toggle">v</button>
        </div>
        <div id="topicList" class="asideItem">
          <ul>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
          </ul>
        </div>
      </div>

      <div id="chat" class="asideList">
        <div class="asideTitle">
          <h3>채팅</h3>
          <button id="chatToggle" class="toggle">v</button>
        </div>
        <div id="chatList" class="asideItem">
          <ul id="chatListUl">
          </ul>
        </div>
      </div>

      <div class="asideTool">
        <button id="appToggle" class="appToggle">앱 toggle</button>
        <div id="appList">
          <button class="app" id="appDrive"><a href="">드라이브</a></button>
          <button class="app" id="appCal"><a href="">캘린더</a></button>
        </div>
      </div>
    </aside>
    <section class="msgSection">
      <div class="chatHeader">
        <h1>team-list</h1>
        <input type="search" placeholder="검색" id="searchMsg" />
        <button id="memberView">멤버</button>
      </div>
      <div class="msgView">
        <div id="subSection">
          <ul id="memberList" class="subItem">
            <h1>member</h1>
            <th:block th:each="chatMemberList: ${chatMemberList}">
            <li>
              <img src="" alt="" />
              <span th:text="${chatMemberList.teamMemberNickname}"></span>
              <span th:text="${chatMemberList.grade}"></span>
            </li>
            </th:block>
          </ul>

          <ul id="resultList" class="subItem">
            <h1>검색결과</h1>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div>
        <th:block th:each="chatMsgList : ${chatMsgList}">
          <div class="msg">
            [[${chatMsgList.teamMemberNickname}]]
            <br>
            [[${chatMsgList.chatContent}]]
            <br>
            [[${chatMsgList.chatDate}]]
          </div>
        </th:block>
      </div>
      <div class="msgSend">
          <input
                  type="text"
                  name="inputMsg"
                  id="inputMsg"
                  class="inputMsg"
                  placeholder="input Msg"
          />
        <div class="msgTool">
          <ul>
            <li><button id="test" onclick="clickevnet()">1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>5</button></li>
            <li><button>6</button></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="menuList" class="menuList">
  <ul>
    <li><a href="/member/logout">logout</a></li>
    <li><a href="/team/teamOut">버디 메인으로</a></li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
  </ul>
</div>

<script>
  $(document).ready(function () {
    $("#headerToggle").click(function () {
      $("#dropdownList").toggle();
    });

    $("#menu").click(function () {
      $("#menuList").toggle();
    });

    $("#topicToggle").click(function () {
      $("#topicList").toggle();
    });

    $("#chatToggle").click(function () {
      $("#chatList").toggle();
    });

    $("#asideClose").click(function () {
      $("aside").toggle();
    });

    $("#appToggle").click(function () {
      $("#appList").toggle();
    });
    $("#searchMsg").keypress(function enterEvent(e) {
      if (e.keyCode == 13) {
        $("#resultList").toggle();
        $("#memberList").css("display", "none");
      }
    });

    $("#memberView").click(function () {
      $("#memberList").toggle();
    });

    $("#alarmView").click(function () {
      $("#alarmList").toggle();
    });
  });
</script>

<!-- 드라이브 버튼 클릭시 fileDrive 페이지로 이동 -->
<script>
  $("#appDrive").on("click",function(){
    location.href="/drive/toFileDrive";
  });
</script>


</body>
</html>
