<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>당신의 동료, 영원한 친구 buddy</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/team.css" />
  <link rel="stylesheet" href="/static/css/m-team.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script src="/static/js/jQueryCheck.js"></script>
</head>
<body>
<div class="wrap">
  <div class="header">
    <div class="logo">
        <img src="" alt="" />
        logo
      </a>
    </div>
    <div id="teamList" class="teamList">
      <ul>
        <li>
          <a th:text="${session.teamName}"></a
          ><button id="headerToggle">toggle</button>
        </li>
      </ul>
      <ul id="dropdownList">
      </ul>
    </div>

    <button id="menu" class="iconMenu">menu</button>
    <button id="asideClose">aside</button>
    <button id="teamMember">team</button>
    <ul id="teamMemberList" class="teamMemberList">
      <h1>팀원 목록</h1>
    </ul>
  </div>
  <div class="main">
    <aside>
      <div id="profile" class="asideTitle">
        <img src="" alt="" />
        <h3><a href="../member/myProfile.html" th:text="${session.teamMemberNickname}"></a></h3>
        <button id="alarmView" class="toggle">알람</button>
      </div>
      <ul id="alarmList" class="subItem">
        <h1>알림</h1>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
      </ul>

      <div id="topic" class="asideList">
        <div class="asideTitle">
          <h3>토픽</h3>
          <button id="topicToggle" class="toggle">v</button>
          <button id="topicCreate" class="createBtn">+</button>
        </div>
        <div id="topicList" class="asideItem">
          <ul>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
          </ul>
        </div>
      </div>

      <div id="chat" class="asideList">
        <div class="asideTitle">
          <h3>채팅</h3>
          <button id="chatCreate" class="createBtn">+</button>
          <button id="chatToggle" class="toggle">v</button>
        </div>
        <div id="chatList" class="asideItem">
          <ul th:if="${chatRoomList!=null}">
            <th:block th:each="chatRoomList : ${chatRoomList}">
            <li>
              <a th:href="@{/chatRoom/join/(chatRoomSeq=${chatRoomList.chatRoomSeq})}" th:text="${chatRoomList.chatTitle}"></a>
            </li>
            </th:block>
          </ul>
        </div>
      </div>

      <div class="asideTool">
        <button id="appToggle" class="appToggle">앱 toggle</button>
        <div id="appList">
          <button class="app" id="appDrive"><a href="">드라이브</a></button>
          <button class="app" id="appCal"><a href="">캘린더</a></button>
        </div>
      </div>
    </aside>
    <section class="msgSection">
      <div class="chatHeader">
        <h1>team-list</h1>
        <input type="search" placeholder="검색" id="searchMsg" />
        <button id="memberView">멤버</button>
      </div>
      <div class="msgView">
        <div id="subSection">
          <ul id="memberList" class="subItem">
            <h1>member</h1>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
          </ul>

          <ul id="resultList" class="subItem">
            <h1>검색결과</h1>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
      </div>
      <div class="msgSend">
          <input
                  type="text"
                  name="inputMsg"
                  id="inputMsg"
                  class="inputMsg"
                  placeholder="input Msg"
          />
        <div class="msgTool">
          <ul>
            <li><button id="test" onclick="clickevnet()">1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>5</button></li>
            <li><button>6</button></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="menuList" class="menuList">
  <ul>
    <li><a href="/member/logout">logout</a></li>
    <li><a href="/team/teamOut">버디 메인으로</a></li>
    <li><a href="/qna/main">문의하기 및 news</a></li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
  </ul>
</div>


<div class="createView">
  <div class="wrap">
    <form action="" class="chatForm">
      <h1>😀채팅 시작하기</h1>
    <ul class="list">
      <li><input type="text" placeholder="채팅방 이름"></li>
    <li><img src="" alt=""><span>이름</span><span class="tag">직책</span><input type="text" name="memberSeq"></li>
    <li><img src="" alt=""><span>이름</span><span class="tag">직책</span><input type="text" name="memberSeq"></li>
    <li><img src="" alt=""><span>이름</span><span class="tag">직책</span><input type="text" name="memberSeq"></li>
    <li><img src="" alt=""><span>이름</span><span class="tag">직책</span><input type="text" name="memberSeq"></li>
    <li><img src="" alt=""><span>이름</span><span class="tag">직책</span><input type="text" name="memberSeq"></li>
    </ul>
    <button type="submit" >대화 시작하기</button>
    <button type="button" class="closeBtn" onclick="closer(this)">취소</button>
    </form>

    <form action="" class="topicForm">
        <h1>✨토픽 생성하기</h1>
      <ul class="list">
        <li><input type="text" placeholder="토픽 이름" ></li>
      </ul>
      <button type="submit" >토픽 생성하기</button>
      <button type="button" class="closeBtn" onclick="closer(this)">취소</button>

    </form>
  </div>
</div>

<!-- 팀원 목록 출력 ajax -->
<script th:inline="javascript">
  $(function (){
    $.ajax({
      url:"/team/teamMemberList",
      success : function (){
      },error : function (){
      }
    }).done(function (rsp){
      let MemberImg = JSON.parse(rsp);
      for (let i=0; i<MemberImg.length; i++) {
        let teamMemberListLi = $("<li>");
        let teamMemberListImg = $("<img>");
        let teamMemberListSpan1 = $("<span>");
        let teamMemberListSpan2 = $("<span>");
        teamMemberListImg.attr("src",MemberImg[i].memberImgSysName=='/static/img/defaultProfileImg.png' ? '/static/img/defaultProfileImg.png' : '/member/selectProfileImg/' + MemberImg[i].memberImgSysName);
        teamMemberListLi.append(teamMemberListImg);
        teamMemberListSpan1.text(MemberImg[i].teamMemberNickname);
        teamMemberListLi.append(teamMemberListSpan1);
        teamMemberListSpan2.text(MemberImg[i].grade);
        teamMemberListLi.append(teamMemberListSpan2);
        $("#teamMemberList").append(teamMemberListLi);
      }
    })
  })
</script>

<script>
  //팀목록을 출력해주는 ajax호출
  $.ajax({
    type:"post",
    url:"/team/teamList"
  }).done(function (resp){
    let teamList = JSON.parse(resp);
    for (let i=0; i<teamList.length; i++) {
      let teamListLi = $("<li>");
      let teamListForm = $("<form>");
      let teamListInput = $("<input>");
      teamListInput.attr("type","hidden");
      teamListInput.val(teamList[i].teamSeq);
      teamListInput.attr("name", "teamSeq");
      teamListForm.attr("action", "/team/goTeam");
      teamListForm.attr("method", "post");
      teamListForm.append(teamListInput);
      teamListLi.text(teamList[i].teamName);
      teamListLi.append(teamListForm);
      teamListLi.addClass("goTeam");
      $("#dropdownList").append(teamListLi);
    }
  });

  //팀원 목록을 출력해주는 ajax호출
  // $.ajax({
  //   type:"post",
  //   url:"team/teamMemberList",
  // });

  //팀 이동 클릭이벤트
  $(document).on("click", ".goTeam", function (){
    //console.log();
    $(this).children("form").submit();
  })

  $(".chatRoomList").on("click", function() {
    $(this).find(".chatForm").submit();
  })
</script>

<script>
  $(document).ready(function () {
    $("#headerToggle").click(function () {
      $("#dropdownList").toggle();
    });

    $("#menu").click(function () {
      $("#menuList").toggle();
    });

    $("#topicToggle").click(function () {
      $("#topicList").toggle();
    });

    $("#chatToggle").click(function () {
      $("#chatList").toggle();
    });

    $("#asideClose").click(function () {
      $("aside").toggle();
    });

    $("#appToggle").click(function () {
      $("#appList").toggle();
    });
    $("#searchMsg").keypress(function enterEvent(e) {
      if (e.keyCode == 13) {
        $("#resultList").toggle();
        $("#memberList").css("display", "none");
      }
    });

    $("#memberView").click(function () {
      $("#memberList").toggle();
    });

    $("#alarmView").click(function () {
      $("#alarmList").toggle();
    });

    $("#teamMember").click(function (){
      $("#teamMemberList").toggle();
    })

    $("#chatCreate").click(function (){
      $(".createView").css("display","block");
      $(".chatForm").css("display","block");
      $(".topicForm").css("display","none");
    })

    $("#topicCreate").click(function (){
      $(".createView").css("display","block");
      $(".chatForm").css("display","none");
      $(".topicForm").css("display","block");
    })


  });
</script>

<!-- 드라이브 버튼 클릭시 fileDrive 페이지로 이동 -->
<script>
  $("#appDrive").on("click",function(){
    location.href="/drive/toFileDrive";
  });


  function closer(arg) {
    $(arg).parent().parent().parent().css("display","none");
  }
</script>
</body>
</html>
