<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>팀 생성하기</title>
  <link rel="stylesheet" href="/static/css/reset.css" />
  <link rel="stylesheet" href="/static/css/teamAdd.css" />
  <script src="/js/jQeuryCheck.js"></script>
</head>
<body>
<div class="wrap">
  <h1 class="title">팀 생성</h1>
  <form action="">
    <input type="text" name="teamName" id="teamName" class="inputName" />
    <button type="submit" class="sucess">완료</button>
  </form>
  <p class="cancel">
    팀 생성을 취소할까요? <a href=""><strong>취소</strong></a>
  </p>
</div>
</body>
</html>
