<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>당신의 동료, 영원한 친구 buddy</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/team.css" />
  <link rel="stylesheet" href="/static/css/m-team.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script src="/static/js/jQueryCheck.js"></script>
</head>
<body>
<div class="wrap">
  <div class="header">
    <div class="logo">
      <a href="../index.html">
        <img src="" alt="" />
        logo
      </a>
    </div>
    <div id="teamList" class="teamList">
      <ul>
        <li>
          <a href="" th:text="${session.teamName}"></a
          ><button id="headerToggle">toggle</button>
        </li>
      </ul>
      <ul id="dropdownList">
        <li><a href="team.html">teamList2</a></li>
        <li><a href="team.html">teamList2</a></li>
        <li><a href="../admin/adminMain.html">admin</a></li>
      </ul>
    </div>

    <button id="menu" class="iconMenu">menu</button>
    <button id="asideClose">aside</button>
  </div>
  <div class="main">
    <aside>
      <div id="profile" class="asideTitle">
        <img src="" alt="" />
        <h3><a href="../member/myProfile.html" th:text="${session.teamMemberNickname}"></a></h3>
        <button id="alarmView" class="toggle">알람</button>
      </div>
      <ul id="alarmList" class="subItem">
        <h1>알림</h1>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
      </ul>

      <div id="topic" class="asideList">
        <div class="asideTitle">
          <h3>토픽</h3>
          <button id="topicToggle" class="toggle">v</button>
        </div>
        <div id="topicList" class="asideItem">
          <ul>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
          </ul>
        </div>
      </div>

      <div id="chat" class="asideList">
        <div class="asideTitle">
          <h3>채팅</h3>
          <button id="chatToggle" class="toggle">v</button>
        </div>
        <div id="chatList" class="asideItem">
          <ul th:if="${chatRoomList!=null}">
            <th:block th:each="chatRoomList : ${chatRoomList}">
            <li>
              <a th:href="@{/chatRoom/join/(chatRoomSeq=${chatRoomList.chatRoomSeq})}" th:text="${chatRoomList.chatTitle}"></a>
            </li>
            </th:block>
          </ul>
        </div>
      </div>

      <div class="asideTool">
        <button id="appToggle" class="appToggle">앱 toggle</button>
        <div id="appList">
          <button class="app" id="appDrive"><a href="">드라이브</a></button>
          <button class="app" id="appCal"><a href="">캘린더</a></button>
        </div>
      </div>
    </aside>
    <section class="msgSection">
      <div class="chatHeader">
        <h1>team-list</h1>
        <input type="search" placeholder="검색" id="searchMsg" />
        <button id="memberView">멤버</button>
      </div>
      <div class="msgView">
        <div id="subSection">
          <ul id="memberList" class="subItem">
            <h1>member</h1>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
            <li>
              <img src="" alt="" />
              <span>이름</span>
              <span>직책</span>
            </li>
          </ul>

          <ul id="resultList" class="subItem">
            <h1>검색결과</h1>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
        <div class="msg">Msg</div>
      </div>
      <div class="msgSend">
          <input
                  type="text"
                  name="inputMsg"
                  id="inputMsg"
                  class="inputMsg"
                  placeholder="input Msg"
          />
        <div class="msgTool">
          <ul>
            <li><button id="test" onclick="clickevnet()">1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>5</button></li>
            <li><button>6</button></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="menuList" class="menuList">
  <ul>
    <li><a href="/member/logout">logout</a></li>
    <li><a href="/team/teamOut">버디 메인으로</a></li>
    <li><a href="/qna/main">문의하기 및 news</a></li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
    <li>list</li>
  </ul>
</div>

<script>
  //채팅방 목록에서 채팅방 클릭시 해당 채팅방으로 이동
  // $(".chatRoomList").on("click", function() {
  //     console.log($(this).text());
  //     let chatForm = $("<form>");
  //     chatForm.attr("method","post");
  //     chatForm.attr("action","/chatRoom/join");
  //     let inputJoin = $("<input>");
  //     inputJoin.attr("type","hidden");
  //     inputJoin.attr("name","chatRoomSeq");
  //     inputJoin.attr("value", $(this).text());
  //     chatForm.append(inputJoin);
  //     console.log(chatForm);
  //     chatForm.submit();
  // })
  $(".chatRoomList").on("click", function() {
    $(this).find(".chatForm").submit();
  })
</script>

<script>
  $(document).ready(function () {
    $("#headerToggle").click(function () {
      $("#dropdownList").toggle();
    });

    $("#menu").click(function () {
      $("#menuList").toggle();
    });

    $("#topicToggle").click(function () {
      $("#topicList").toggle();
    });

    $("#chatToggle").click(function () {
      $("#chatList").toggle();
    });

    $("#asideClose").click(function () {
      $("aside").toggle();
    });

    $("#appToggle").click(function () {
      $("#appList").toggle();
    });
    $("#searchMsg").keypress(function enterEvent(e) {
      if (e.keyCode == 13) {
        $("#resultList").toggle();
        $("#memberList").css("display", "none");
      }
    });

    $("#memberView").click(function () {
      $("#memberList").toggle();
    });

    $("#alarmView").click(function () {
      $("#alarmList").toggle();
    });
  });
</script>

<!-- 드라이브 버튼 클릭시 fileDrive 페이지로 이동 -->
<script>
  $("#appDrive").on("click",function(){
    location.href="/drive/toFileDrive";
  });
</script>

</body>
</html>
