<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>당신의 동료, 영원한 친구 buddy</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/team.css"/>
    <link rel="stylesheet" href="/static/css/m-team.css"/>
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"
    ></script>
    <script src="/static/js/jQueryCheck.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

<script th:inline="javascript">
    // 타임리프로 서버에서 전달받은 변수를 자바스크립트에서 사용하기 위해 변수로 선언한 공간.
    /*<![CDATA[*/
    let chatRoomSeq = [[${chatRoomSeq}]];
    let teamMemberNickname = [[${session.teamMemberNickname}]];
    let memberSeq = [[${session.memberSeq}]];
    let memberImgSysName = [[${memberImgSysName}]];
    /*]]>*/

</script>

<!--세션 및 각종 변수를 담아 쓰는 input-->
<input type="hidden"
       th:data-sessionMemberSeq="${session.memberSeq}"
       th:data-team="${session.teamSeq}"
       th:data-grade="${teamMemberInfo.grade}"
       th:data-teamSeq="${session.teamSeq}"
       id="infoData"
>

<script>

    function updateScroll() {
        var element = $(".msgView")[0];
        element.scrollTop = element.scrollHeight;
    }

    $(function () {
        // 웹소켓 영역 시작
        // webSocket 인스턴스 생성
        let ws = new WebSocket("ws://localhost/chat/" + chatRoomSeq);

        //채팅방 목록을 출력해주는 ajax
        $.ajax({
            type: "post",
            url: "/chatRoom/chatRoomList",
        }).done(function (resp) {

            let chatRoomList = JSON.parse(resp);

            for (let i = 0; i < chatRoomList.length; i++) {
                let chatRoomListLi = $("<li>");
                let chatRoomListForm = $("<form>");
                let chatRoomInput = $("<input>");
                chatRoomInput.attr("type", "hidden");
                chatRoomInput.val(chatRoomList[i].chatRoomSeq);
                chatRoomInput.attr("name", "chatRoomSeq");
                chatRoomListForm.append(chatRoomInput);
                chatRoomListForm.attr("action", "/chatRoom/join");
                chatRoomListForm.attr("method", "get");
                chatRoomListLi.text(chatRoomList[i].chatTitle);
                chatRoomListLi.append(chatRoomListForm);
                chatRoomListLi.addClass("chatRoom");
                $("#chatListUl").append(chatRoomListLi);
            }
        });

        //팀목록을 출력해주는 ajax호출
        $.ajax({
            type: "post",
            url: "/team/teamList"
        }).done(function (resp) {
            let teamList = JSON.parse(resp);
            for (let i = 0; i < teamList.length; i++) {
                let teamListLi = $("<li>");
                let teamListForm = $("<form>");
                let teamListInput = $("<input>");
                teamListInput.attr("type", "hidden");
                teamListInput.val(teamList[i].teamSeq);
                teamListInput.attr("name", "teamSeq");
                teamListForm.attr("action", "/team/goTeam");
                teamListForm.attr("method", "post");
                teamListForm.append(teamListInput);
                teamListLi.text(teamList[i].teamName);
                teamListLi.append(teamListForm);
                teamListLi.addClass("goTeam");
                $("#dropdownList").append(teamListLi);
            }
        });

        //팀 이동 클릭이벤트
        $(document).on("click", ".goTeam", function () {
            $(this).children("form").submit();
        })

        //채팅방 이동 클릭이벤트
        $(document).on("click", ".chatRoom", function () {
            $(this).children("form").submit();
        })

        // 메세지 수신시 메세지 출력
        ws.onmessage = function (e) {
            let data = JSON.parse(e.data);
            let msg = $("<div>");
            let memberImg = $("<div>");
            let msgData = $("<div>");

            let pTag = $("<p>");
            let content = $("<div>");
            let chatDate = $("<p>");

            pTag.addClass("teamMemberNickname");
            pTag.append(data.teamMemberNickname);
            content.append(data.chatContent);

            chatDate.addClass("chaDate");
            chatDate.append(data.chatDate);

            msg.addClass("msg");
            memberImg.addClass('memberImg');
            memberImg.append(data.memberImgSysName);
            msgData.addClass('msgData');
            msgData.append(pTag);
            msgData.append(content);
            msgData.append(chatDate);


            msg.append(memberImg);
            msg.append(msgData);
            //msgData.append(data.teamMemberNickname);
            //msgData.append(data.chatContent);
            //msgData.append(data.chatDate);

            $(".msgView").append(msg);
            updateScroll();
        }

        let file = $("#uploadfile").val();
        $("#inputMsg").on("keydown", function (e) {
            if (e.keyCode == 13 && !e.shiftKey) {
                if(file == "") {
                    // Json 생성
                    let wsJson = {
                        "memberImgSysName":"<img src="+memberImgSysName+"/>",
                        "chatRoomSeq": chatRoomSeq,
                        "teamMemberNickname": teamMemberNickname,
                        "chatContent": $(this).val(),
                        "memberSeq": memberSeq,
                        "chatMsgType": 0
                    };
                    //JSON 전송
                    $(this).val("");
                    ws.send(JSON.stringify(wsJson));
                    return false;
                }
            }
        });

        $("#uploadfile").on('change', attachType);

        function attachType(e) {
            if (e.target.files[0]) {
                if (e.target.files[0].size > (1 * 1024 * 1024)) {
                    alert("파일 사이즈는 1MB 이내로 등록해주세요.");
                    this.value = "";
                }
            }
        }

        $(".fileSubmitBtn").on('click', function () {
            $.ajax({
                type: "POST",
                url: "/chatFile/insert",
                data: new FormData($("#uploadfileForm")[0]),
                processData: false,
                contentType: false,
                success: function (rsp) {
                    let chatSysName = rsp.chatSysName;
                    let chatOriName = rsp.chatOriName;
                    let ext = chatOriName.split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['jpg', 'jpeg', 'png', 'gif']) != -1) {
                        let wsJson = {
                            "memberImgSysName":"<img src="+memberImgSysName+"/>",
                            "chatRoomSeq": chatRoomSeq,
                            "teamMemberNickname": teamMemberNickname,
                            "chatContent": "<img src='/chatImg/"+chatSysName+"' style='width: 200px'><br><a href='/chatFile/download?chatSysName=" + chatSysName + "&chatOriName=" + chatOriName + "' style='color: blue'>" + chatOriName + "</a>",
                            "memberSeq": memberSeq,
                            "chatMsgType": 1
                        };
                        //JSON 전송
                        $("#uploadfile").val("");
                        $(".fileView").toggle();
                        ws.send(JSON.stringify(wsJson));
                        return false;
                    } else {
                        let wsJson = {
                            "memberImgSysName":"<img src="+memberImgSysName+"/>",
                            "chatRoomSeq": chatRoomSeq,
                            "teamMemberNickname": teamMemberNickname,
                            "chatContent": "<img src='/static/img/fileImg.png 'style='width: 200px'><br><a href='/chatFile/download?chatSysName=" + chatSysName + "&chatOriName=" + chatOriName + "' style='color: blue'>" + chatOriName + "</a>",
                            "memberSeq": memberSeq,
                            "chatMsgType": 1
                        };
                        //JSON 전송
                        $("#uploadfile").val("");
                        $(".fileView").toggle();
                        ws.send(JSON.stringify(wsJson));
                        return false;
                    }
                }
            });
        })

        //이모티콘 클릭 시 이모티콘 보내기
        let clickEmoticon;
        $(document).on("click",".emoticonImg",function(){
            clickEmoticon=$(this).data("sysname");
            clickEmoticon="/emoticon/"+clickEmoticon;
            //이모티콘만 보내기
            if(clickEmoticon.length!=""){
                let wsJson = {
                    "memberImgSysName":"<img src='"+memberImgSysName+">",
                    "chatRoomSeq": chatRoomSeq,
                    "teamMemberNickname": teamMemberNickname,
                    "chatContent": "<img src='"+clickEmoticon+"'style='width: 160px'>",
                    "memberSeq": memberSeq,
                    "chatMsgType": 1
                };
                //JSON 전송
                $(this).val("");
                $("#emoticonClickImg").attr("src","");
                $(".emoticonView").hide();
                ws.send(JSON.stringify(wsJson));
                return false;
            }
        })
    });

    //채팅방 멤버들 출력
    $.ajax({
        url:"/chatRoom/selectChatMember",
        data:{"chatRoomSeq": chatRoomSeq},
        success : function (){
        },error : function (){
        }
    }).done(function (rsp){
        let JsonChatMemberList = JSON.parse(rsp);
        for (let i=0; i<JsonChatMemberList.length; i++) {
            let ChatMemberListLi = $("<li>");
            let ChatMemberListImg = $("<img>");
            let ChatMemberListSpan1 = $("<span>");
            let ChatMemberListSpan2 = $("<span>");
            ChatMemberListImg.attr("src",JsonChatMemberList[i].memberImgSysName=='/static/img/defaultProfileImg.png' ? '/static/img/defaultProfileImg.png' : '/member/selectProfileImg/' + JsonChatMemberList[i].memberImgSysName);
            ChatMemberListLi.append(ChatMemberListImg);
            ChatMemberListSpan1.text(JsonChatMemberList[i].teamMemberNickname);
            ChatMemberListLi.append(ChatMemberListSpan1);
            ChatMemberListSpan2.text(JsonChatMemberList[i].grade);
            ChatMemberListLi.append(ChatMemberListSpan2);
            $("#memberList").append(ChatMemberListLi);
        }
    });

</script>

<div class="wrap">
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="/static/img/logo_m2.png" alt=""/>
            </a>
        </div>
        <div id="teamList" class="teamList">
            <ul>
                <li>
                    <span class="teamName" href="team.html" th:text="${session.teamName}"></span
                    >
                    <button id="headerToggle">
                        <span class="material-symbols-outlined">
arrow_drop_down
</span></button>
                </li>
            </ul>
            <ul id="dropdownList">
                <h1 id="dropdownTitle">
                    팀리스트
                </h1>
            </ul>
        </div>

        <button id="menu" class="iconMenu"><span class="material-symbols-outlined">
menu
</span></button>
        <button id="asideClose"><img src="/static/img/logo_emotion.png" alt="" ></button>
        <button id="teamMember"><span class="material-symbols-outlined">
group
</span></button>
        <ul id="teamMemberList" class="teamMemberList">
            <h1>팀원 목록</h1>
        </ul>

    </div>

    <div class="main">
        <aside>
            <div id="profile" class="asideTitle">
                <img id="myImg" th:src="${memberImgSysName}" alt="" />
                <div id="profileView" th:text="${teamMemberInfo.getTeamMemberNickname()}"></div>
            </div>

            <div id="topic" class="asideList">
                <div class="asideTitle">
                    <h3>토픽 <span id="topicCount">[[${topicCount}]]</span><span> / 4</span></h3>
                    <button id="topicToggle" class="toggle">➖</button>
                    <th:block th:if="${teamMemberInfo.grade=='매니저'||teamMemberInfo.grade=='부매니저'}">
                        <button id="topicCreate" class="createBtn">➕</button>
                    </th:block>
                </div>
                <div id="topicList" class="asideItem">
                    <ul th:each="topicList : ${topicList}">
                        <li>
                            <a th:href="@{/chatRoom/join/(chatRoomSeq=${topicList.chatRoomSeq})}">[[${topicList.chatTitle}]]</a>
                            <button type="button" class="topicRename" th:data-index="${topicList.chatRoomSeq}">✏️</button>
                            <button type="button" class="topicDel" th:data-index="${topicList.chatRoomSeq}">❌</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="chat" class="asideList">
                <div class="asideTitle">
                    <h3>채팅</h3>
                    <button id="chatCreate" class="createBtn">➕</button>
                    <button id="chatToggle" class="toggle">➖</button>
                </div>
                <div id="chatList" class="asideItem">
                    <ul th:if="${chatRoomList!=null}">
                        <th:block th:each="chatRoomList : ${chatRoomList}">
                            <li>
                                <a th:href="@{/chatRoom/join/(chatRoomSeq=${chatRoomList.chatRoomSeq})}"
                                   th:text="${chatRoomList.chatTitle}"></a>
                                <button th:if="${#strings.equals(chatRoomList.chatType,'normal')}"
                                        class="chatRename" th:data-index="${chatRoomList.chatRoomSeq}">
                                    ✏️
                                </button>
                                <button th:if="${#strings.equals(chatRoomList.chatType,'normal')}"
                                        class="chatOut" th:data-index="${chatRoomList.chatRoomSeq}">
                                    ❌
                                </button>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>

            <div class="asideTool">
                <button id="appToggle" class="appToggle">buddy App</button>
                <div id="appList">
                    <button class="app" id="appDrive"><a href="/drive/toFileDrive">📁드라이브</a></button>
                    <button class="app" id="appCal"><a href="/calendar/moveCalendar">📅캘린더</a></button>
                </div>
            </div>
        </aside>
        <div id="profileViewDiv" class="check">
            <img id="profileImg" class="check" th:src="${memberImgSysName}"><br/>
            <div id="nickNameDiv" class="check">
          <span id="nickNameSpan" class="check" th:text="${teamMemberInfo.getTeamMemberNickname()}" onclick="nickNameSpanClick()">
            nickname
          </span>
                <button id="updateNickNameBtn" class="check elseCheck">수정</button>
            </div>
            <div id="gradeDiv" class="check">
        <span id="pGrade" class="check" th:text="${teamMemberInfo.grade}">
          등급
          </span>
            </div>
        </div>
        <section class="msgSection">
            <div class="chatHeader">
                <h1 th:text="${chatRoomName}"></h1>
                <button id="memberView">
                    <span class="material-symbols-outlined">
face
</span>
                </button>
            </div>
            <div class="msgView">

                <div id="subSection">
                    <ul id="memberList" class="subItem">
                        <h1>채팅멤버</h1>
                    </ul>
                </div>

                <th:block th:each="chatMsgList : ${chatMsgList}">
                    <div class="msg">
                        <div  class="memberImg" th:utext="${chatMsgList.memberImgSysName}">
                        </div>
                        <div class="msgData">
                            <p class="teamMemberNickname">[[${chatMsgList.teamMemberNickname}]]</p>
                            <div th:if="${chatMsgList.chatMsgType == 0}" th:text="${chatMsgList.chatContent}"></div>
                            <div th:if="${chatMsgList.chatMsgType == 1}" th:utext="${chatMsgList.chatContent}"></div>
                            <p class="chaDate">[[${chatMsgList.chatDate}]]</p>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="msgSend">
                <input
                        type="text"
                        name="inputMsg"
                        id="inputMsg"
                        class="inputMsg"
                        placeholder="메세지를 입력해주세요"
                />
                <div class="msgTool">
                    <ul>

                        <li><button type="button" id="emoticonBtn">😊</button></li>
                        <div class="emoticonView">
                            <div id="emoticonList">

                            </div>
                        </div>
                        <li>
                            <button type="button" id="fileSelect" class="aside">@</button>
                        </li>
                    </ul>
                    <form action="/chatFile/insert" method="post" enctype="multipart/form-data" id="uploadfileForm">
                        <div class="fileView">
                            <input type="hidden" th:value="${chatRoomSeq}" name="chatRoomSeq">
                            <ul>

                                <h3>
                                    ✅내 컴퓨터에서 업로드</h3>
                            </ul>
                            <div class="fileContents">
                                <input
                                        type="file"
                                        name="uploadfile"
                                        id="uploadfile"
                                        class="uploadfile"
                                        accept=".txt,.xls,.ppt,.hwp,.jpg,.png,.gif,.mp4,.mp3,.zip"/>

                                <button type="button" class="fileSubmitBtn" style="height: 30px">보내기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="menuList" class="menuList">
    <ul>
        <li><a href="/member/logout">logout</a></li>
        <li><a href="/team/teamOut">버디 메인으로</a></li>
        <li><a href="/qna/main">문의하기 및 news</a></li>
        <li id="teamWithdraw">팀 탈퇴</li>
        <li class="inviteMember">팀원초대</li>
    </ul>
</div>

<div class="createView" id="createView">
    <div class="wrap">
        <div class="chatForm" id="chatForm">
            <h1>😀채팅 시작하기</h1>
            <ul class="list" id="chatMemberUl">
                <li><input type="text" placeholder="채팅방 이름" id="makeChatTitle"></li>
            </ul>
            <button type="button" id="startChat">대화 시작하기</button>
            <button type="button" class="closeBtn" id="closeBtn" onclick="closer(this)">나가기</button>
        </div>


        <div class="topicForm" id="topicForm">
            <h1>✨토픽 생성하기</h1>
            <ul class="list">
                <li><input class="topicTitle" id="topicTitle" type="text" placeholder="토픽 이름" ></li>
            </ul>
            <button type="button" class="insertTopic" id="insertTopic">토픽 생성하기</button>
            <button type="button" class="closeBtn" onclick="closer(this)">나가기</button>
        </div>
    </div>

    </div>

<div class="renameView" id="renameView">
    <div class="wrap2">

        <div class="renameForm" id="renameTopic" >
            <h1>토픽 이름 변경</h1>
            <input type="text" id="modifyTopicTitle" class="modifyTitle" placeholder=" 토픽/채팅방 제목변경">
            <button type="button" id="modifyTopicConfirm" class="modifyBtn">변경하기</button>
            <button type="button" id="modifyCancel" class="closeBtn" onclick="closer(this)">나가기</button>
        </div>

        <div class="renameForm" id="renameChat" >
            <h1>채팅 이름 변경</h1>
            <input type="text" id="modifyChatTitle" class="modifyTitle" placeholder=" 토픽/채팅방 제목변경">
            <button type="button" id="modifyChatConfirm" class="modifyBtn">변경하기</button>
            <button type="button" id="modifyCancel2" class="closeBtn" onclick="closer(this)">나가기</button>
        </div>

    </div>
</div>
    <script th:inline="javascript">
        $(function (){
        $.ajax({
            url:"/team/teamMemberList",
            success : function (){
            },error : function (){
            }
        }).done(function (rsp){
            let JsonTeamMemberList = JSON.parse(rsp);
            //팀 화면에서 팀 목록을 출력
            for (let i=0; i<JsonTeamMemberList.length; i++) {
                let teamMemberListLi = $("<li>");
                let teamMemberListImg = $("<img>");
                let teamMemberListSpan1 = $("<span>");
                let teamMemberListSpan2 = $("<span>");
                teamMemberListImg.attr("src",JsonTeamMemberList[i].memberImgSysName=='/static/img/defaultProfileImg.png' ? '/static/img/defaultProfileImg.png' : '/member/selectProfileImg/' + JsonTeamMemberList[i].memberImgSysName);
                teamMemberListLi.append(teamMemberListImg);
                teamMemberListSpan1.text(JsonTeamMemberList[i].teamMemberNickname);
                teamMemberListLi.append(teamMemberListSpan1);
                teamMemberListSpan2.text(JsonTeamMemberList[i].grade);
                teamMemberListLi.append(teamMemberListSpan2);
                $("#teamMemberList").append(teamMemberListLi);
            }
            for (let i=0; i<JsonTeamMemberList.length; i++) {
                //채팅방 만들기에서 팀 목록을 출력
                let chatMemberLi = $("<li>");
                let chatMemberImg = $("<img>");
                let chatMemberSpan1 = $("<span>");
                let chatMemberSpan2 = $("<span>");
                chatMemberLi.addClass("makeTeamMember");
                chatMemberLi.attr("data-checked", "false");
                chatMemberLi.attr("data-memberSeq", JsonTeamMemberList[i].memberSeq);
                chatMemberImg.attr("src",JsonTeamMemberList[i].memberImgSysName=='/static/img/defaultProfileImg.png' ? '/static/img/defaultProfileImg.png' : '/member/selectProfileImg/' + JsonTeamMemberList[i].memberImgSysName);
                chatMemberLi.append(chatMemberImg);
                chatMemberSpan1.text(JsonTeamMemberList[i].teamMemberNickname);
                chatMemberLi.append(chatMemberSpan1);
                chatMemberSpan2.attr('class','tag');
                chatMemberSpan2.css('color','#8621F7');
                chatMemberSpan2.text(JsonTeamMemberList[i].grade);
                chatMemberLi.append(chatMemberSpan2);
                $("#chatMemberUl").append(chatMemberLi);
            }
        })
    })
</script>
<script>

    //팀 이동 클릭이벤트
    $(document).on("click", ".goTeam", function (){
        //console.log();
        $(this).children("form").submit();
    })
</script>
<script>

    $("#appCal").on("click",function(){
        location.href = "/calendar/moveCalendar";
    })

    $(document).ready(function () {
        $("#headerToggle").click(function () {
            $("#dropdownList").toggle();
        });

        $("#menu").click(function () {
            $("#menuList").toggle();
        });

        $("#topicToggle").click(function () {
            $("#topicList").toggle();
        });

        $("#chatToggle").click(function () {
            $("#chatList").toggle();
        });

        $("#asideClose").click(function () {
            $("aside").toggle();
        });

        $("#appToggle").click(function () {
            $("#appList").toggle();
        });

        $("#teamMember").click(function (){
            $("#teamMemberList").toggle();
        })


        $("#memberView").click(function () {
            $("#memberList").toggle();
        });

        $("#fileSelect").click(function () {
            $(".fileView").toggle();
            $(".emoticonView").hide();
        });

        $("#chatCreate").click(function (){
            $("#createView").css("display","block");
            $("#chatForm").css("display","block");
            $("#topicForm").css("display","none");
        })

        $("#topicCreate").click(function (){
            console.log($("#topicCount").text());
            if ($("#topicCount").text()>=4) {
                alert("더이상 토픽을 생성할 수 없습니다!")
            } else {
                $("#createView").toggle();
                $(".topicForm").css("display","block");
                $(".chatForm").css("display","none");

            }

        })

        $("#profileView").on("click",function (){
            $("#profileViewDiv").toggle();
            BtnClick();
        })


    });
</script>

<!-- 드라이브 버튼 클릭시 fileDrive 페이지로 이동 -->
<script>
    $("#appDrive").on("click", function () {
        location.href = "/drive/toFileDrive";
    });

    function closer(arg) {
        $(arg).parent().parent().parent().css("display","none");
    }
</script>

<script>
    // 토픽 생성 이벤트
    $("#insertTopic").click(function (){
        let chatTitle = $("#topicTitle").val();
        if ($("#topicTitle").val().length==0) {
            alert("제목을 입력해주세요!");
        } else if ($("#topicTitle").val().length>=15) {
            alert("제목은 15자를 넘을 수 없습니다.")
        } else {
            $.ajax({
                url:"/chatRoom/insertTopic",
                type:"post",
                data:{"chatTitle":chatTitle},
                success : function (){
                    console.log("성공")
                },error : function (){
                    console.log("에러")
                }
            }).done(function (){
                alert("토픽 생성 완료!");
                location.reload();
            });
        }
    })
</script>

<script>
    // 채팅방 생성관련 작업
    let makeChat = new Set();
    $(function () {
        $(document).on("click", ".makeTeamMember", function () {
            if ($(this).attr("data-checked")=="false") {
                $(this).css("background-color", "yellow");
                $(this).attr("data-checked", true);
                makeChat.add($(this).attr("data-memberSeq"));
            } else {
                $(this).css("background-color", "white");
                $(this).attr("data-checked", false);
                makeChat.delete($(this).attr("data-memberSeq"));
            }
        })

        // 취소버튼 클릭시 새채팅방 후보 회원 초기화
        $("#closeBtn").on("click", function () {
            makeChat.clear();
            $("#").css("background-color", "white");
        })

        // 시작하기 버튼 클릭 이벤트
        $("#startChat").on("click", function (){
            // 채팅 멤버에 자신이 포함되있지 않다면, 넣어줘야함.
            if (!makeChat.has($("#infoData").attr("data-sessionMemberSeq"))) {
                makeChat.add($("#infoData").attr("data-sessionMemberSeq"));
            }
            if (makeChat.size<=1) {
                alert("채팅방 멤버는 1인 이상의 타 회원이 포함되어야합니다.");
            } else if ($("#makeChatTitle").val().length==0) {
                   alert("채팅방 제목을 입력해주세요!");
            } else if($("#makeChatTitle").val().length>15) {
                alert ("채팅방 이름은 15자를 초과할 수 없습니다");
            } else {
                let makeChatMember = Array.from(makeChat);
                $.ajax({
                    type:"post",
                    url:"/chatRoom/insertChat",
                    contentType:'application/json',
                    data: JSON.stringify({
                        "chatTitle" : $("#makeChatTitle").val(),
                        "makeChat": makeChatMember
                    })
                }).done(function (resp) {
                    location.reload();
                })
            }
        })

        // 토픽 이름 변경 이벤트
        $(".topicRename").click(function (){
            $(".renameView").css("display","block");
            $("#renameTopic").css("display","block");
            $("#renameChat").css("display","none");
            $("#modifyTitleConfirm").attr("data-index", $(this).attr("data-index"));
        })

        $(".chatRename").click(function (){
            $(".renameView").css("display","block");
            $("#renameTopic").css("display","none");
            $("#renameChat").css("display","block");
            $("#modifyTitleConfirm").attr("data-index", $(this).attr("data-index"));
        })

        //이름 변경 취소 버튼 이벤트
        $("#modifyCancel").click(function (){
            $("#modifyChatTitle").attr("data-index", "");
            $("#modifyChatTitle").val("");
        })

        //이름 변경 클릭 이벤트
        $("#modifyTitleConfirm").click(function (){
            let chatRoomSeq = $(this).attr("data-index");
            $.ajax({
                url:"/chatRoom/updateChatTitle",
                type:"post",
                data:{
                    "chatRoomSeq" : chatRoomSeq,
                    "chatTitle" : $("#modifyChatTitle").val()
                }
            }).done(function (resp) {
                alert("변경 완료.");
                location.reload();
            })
        })

        //토픽 삭제 이벤트
        $(".topicDel").click(function () {
            if (confirm("정말 삭제하시겠습니까?")) {
                $.ajax({
                    type : "post",
                    url: "/chatRoom/delChatRoom",
                    data: {"chatRoomSeq" : $(this).attr("data-index")}
                }).done(function (resp){
                    alert("삭제완료!");
                    location.reload();
                });
            }
        })

        //일반 채팅방 나가기 이벤트
        $(".chatOut").click(function () {
            if (confirm("정말 채팅방을 나가시겠습니까?")) {
                let chatRoomSeq = $(this).attr("data-index");
                $.ajax({
                    type:"post",
                    url:"/chatRoom/chatRoomOut",
                    data:{"chatRoomSeq" : chatRoomSeq}
                }).done(function (){
                    location.reload();
                })
            }
        })

        // 채팅방 탈퇴 이벤트
        $("#teamWithdraw").click(function (){
            if ($("#infoData").attr("data-grade")=="매니저") {
                alert("매니저는 팀을 탈퇴할 수 없습니다. 팀 관리에서 매니저를 이양 후 진행해 주시기 바랍니다.");
            } else {
                if (confirm("정말 탈퇴하시겠습니까?")) {
                    $.ajax({
                        type:"post",
                        url:"/team/teamOut"
                    }).done(function (){
                        alert("탈퇴완료!");
                        location.href = "/";
                    })
                }
            }
        })
    })


</script>

<!-- 팀원 초대 -->
<script>

    let teamSeq = $('#infoData').data('team');

    $('.inviteMember').on('click',function (){
        $.ajax({
            url: "/team/teamMemberCount",
            type: "post",
            data: {"teamSeq" : teamSeq},
        }).done(function(rsp){
            if(rsp >= 8 ){
                alert("최대 팀원은 8명 입니다.")
            }else {
                window.open("/invite/sendInviteMail","팀원 초대","width = 500, height = 300, top = 50%, left = 50%, location = no, toolbars = no, status = no, scrollbars = no");
            }
        })
    });
</script>

<script>
    //이모티콘 출력
    $("#emoticonBtn").on("click",function (){
        $(".emoticonView").toggle();
        $(".fileView").hide();
    })
    $.ajax({
        url:"/emoticon/selectEmoticon",
        success : function (){
        },error : function (){
        }
    }).done(function (rsp){
        let emoticonList = JSON.parse(rsp);
        for (let i=0; i<emoticonList.length; i++) {
            let emoticonListImg = $("<img>");
            emoticonListImg.attr("class","emoticonImg");
            emoticonListImg.attr("data-sysname",emoticonList[i].emoticonSysName);
            emoticonListImg.attr("src","/emoticon/" + emoticonList[i].emoticonSysName);
            $("#emoticonList").append(emoticonListImg);
        }
    })
</script>

<script th:inline="javascript">
    //팀원 닉네임 변경
    let input = $("<input>");
    let button = $("<buuton>");
    function nickNameSpanClick() {
        $("#nickNameSpan").css("display", "none");
        $("#updateNickNameBtn").css("display","inline-block");
        input.attr("class","check");
        $("#inputNickName").css("display","inline-block");
        input.val($("#nickNameSpan").text())
        input.attr("id", "inputNickName");
        $("#nickNameDiv").prepend(input);
        $("#inputNickName").focus();
    }

    function BtnClick(){
        $("#nickNameSpan").css("display", "block");
        $("#inputNickName").css("display","none");
        $("#updateNickNameBtn").css("display","none");

    }
    $("#updateNickNameBtn").on("click",function (){
        let inputNickName = $("#inputNickName").val();
        let teamSeq=$("#infoData").data("teamseq");
        const nickNameRegex = /^[가-힣\s]{1,15}$/;
        let Result = nickNameRegex.test(inputNickName);
        if(Result){
            $.ajax({
                url:"/team/updateTeamMemberNickName",
                type:"post",
                data:{"teamMemberNickname":inputNickName,
                    "teamSeq":teamSeq},
            }).done(function (rsp) {
                console.log(rsp)
                $("#profileView").html(rsp);
                $("#nickNameSpan").text(rsp);
                BtnClick();
                location.reload();
            })}
        else{
            alert("닉네임은 공백포함 한글 1~15글자만 가능합니다. (특수문자 불가능)");
            $("#inputNickName").focus();
        }
    })

    //profileViewDiv 창 밖으로 클릭 됐을 때
    let text = [[${teamMemberInfo.getTeamMemberNickname()}]]
    $("html").click(function(e) {
        if (!$(e.target).hasClass('check')) {
            $("#inputNickName").val(text);
            $("#nickNameSpan").text(text);
        }else if(!$(e.target).hasClass('elseCheck')){
            $("#inputNickName").focus();
        }
    })
</script>
</body>
</html>
