<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>팀 관리</title>
  <link rel="stylesheet" href="/static/css/reset.css" />
  <link rel="stylesheet" href="/static/css/teamSetting.css" />
  <link rel="stylesheet" href="/static/css/m-teamSetting.css" />
  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script src="/static/js/jQueryCheck.js"></script>
</head>
<body>
<div class="wrap">
  <h1 class="title">팀 관리</h1>
  <div class="contentWrap">
    <div class="teamProfile">
      <p class="subTitle">팀 프로필</p>
      <div class="article">
        <input
                type="text"
                name="teamName"
                id="teamName"
                class="input_text"
                th:value="${teamDto.getTeamName()}"
                disabled
        />
        <input type="hidden" id="teamSeqHidden" th:value="${teamDto.getTeamSeq()}">
        <div id="updateDiv">
          <button type="button" id="changeTeam" class="editBtn">
            변경
          </button>
        </div>
      </div>
    </div>

    <div class="memberProfile">
      <p class="subTitle">멤버 관리</p>
      <div th:if="${teamMemberDtoList!=null}">
        <th:block th:each="teamMemberDtoList : ${teamMemberDtoList}">
          <div class="article">
            <div class="metaData">
              <img th:src="${teamMemberDtoList.getMemberImgSysName=='/static/img/defaultProfileImg.png' ? '/static/img/defaultProfileImg.png' :
              '/member/selectProfileImg/' + teamMemberDtoList.getMemberImgSysName }" alt="" class="profileImg" />
              <div class="texts">
                <input
                        type="text"
                        name="memberName"
                        class="inputText"
                        th:value="${teamMemberDtoList.getTeamMemberNickname}"
                        readonly
                        disabled
                />
                <input
                        type="text"
                        name="memberEmail"
                        class="inputEmail"
                        th:value="${teamMemberDtoList.getMemberId}"
                        readonly
                        disabled
                />
              </div>
            </div>
            <div class="btns">
              <button
                      type="button"
                      name="grade"
                      class="gradeBtn"
                      th:data-nick-name="${teamMemberDtoList.getTeamMemberNickname}"
                      th:data-memberSeq="${teamMemberDtoList.getMemberSeq}"
                      th:data-teamSeq="${teamDto.getTeamSeq}"
                      th:data-session="${sessionMemberSeq}"
                      th:data-owner="${teamDto.getTeamOwnerSeq}"
                      th:text="${teamMemberDtoList.getGrade}"
              >
              </button>
              <th:block th:if="${teamMemberDtoList.getGrade!='매니저'}">
              <button type="submit" class="delBtn" id="delMember"
                      th:data-nick-name="${teamMemberDtoList.getTeamMemberNickname}"
                      th:data-memberSeq="${teamMemberDtoList.getMemberSeq}"
                      th:data-teamSeq="${teamDto.getTeamSeq}">
                강퇴
              </button>
              </th:block>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </div>

  <!-- 등급 변경 창 -->
  <div class="modal">
    <div class="modalWrap">
      <h1>🤔</h1>
      <h3 id="h3"></h3>
      <button id="master" class="modalBtn">매니저</button>
      <button id="manager" class="modalBtn">부매니저</button>
      <button id="staff" class="modalBtn">팀원</button>
      <button id="goBack" type="button" onclick="closer()">나가기</button>
    </div>
  </div>

  <!-- 등급 바꿀건지 묻는 창 -->
  <div class="modal1">
    <div class="modalWrap1">
      <h1>🤔</h1>
      <h3 id="h3_1"></h3>
      <button class="yesNoBtn">예</button>
      <button class="yesNoBtn">아니요</button>
      <button id="goBack1" type="button" onclick="closer1()">나가기</button>
    </div>
  </div>

  <!-- 팀 강퇴 창 -->
  <div class="modal2">
    <div class="modalWrap2">
      <h1>🤔</h1>
      <h3 id="h3_2"></h3>
      <button class="okNoBtn">예</button>
      <button class="okNoBtn">아니요</button>
      <button id="goBack2" type="button" onclick="closer2()">나가기</button>
    </div>
  </div>

  <strong><a href="/member/loginIndex" id="loginIndex">뒤로가기</a></strong>
  <th:block th:if="${teamDto.getTeamOwnerSeq==sessionMemberSeq}">
  <form action="/team/deleteTeam" id="deleteTeam" method="post">
    <input type="hidden" name="teamSeq" id="teamSeq" th:value="${teamDto.getTeamSeq()}">
    <p style="text-align: center; margin-top: 20px;">팀을 삭제하시겠습니까? <a href="#" onclick="delClick()"><strong>삭제</strong></a></p>
  </form>
  </th:block>
</div>
<script>
  let oriGrade;
  let thisNickName;
  let changeGrade;
  let yesNo;
  let okNo;
  let memberSeq;
  let teamSeq;

  //매니저는 자기 등급 변경 불가능
  $(function (){
    $(".gradeBtn").eq(0).attr("disabled",true);
  })

  // modal 열림 함수 ( 등급 변경 창 )
  $(".gradeBtn").on("click",function (){
    $(".modal").css("display","block");
    memberSeq=$(this).data("memberseq");
    teamSeq=$(this).data("teamseq");
    thisNickName=$(this).data("nick-name");
    oriGrade = $(this).text();
    $("#h3").html(thisNickName +"님의 등급을 <br/> 어떻게 변경할까요?");
  })

  // modal1 ( 등급 바꿀건지 묻는 창)
  $(".modalBtn").on("click",function (){
    $(".modal").css("display","none");
    $(".modal1").css("display","block");
    changeGrade=$(this).text();
    $("#h3_1").html(thisNickName +"님의 등급을 <br/>"+oriGrade+" 에서 "+changeGrade+" (으)로 변경할까요?");
  })

  //'예' 누르면 등급 변경 되는 ajax
  $(".yesNoBtn").on("click",function () {
    yesNo = $(this).text();
    let enGrade = changeGrade;
    if (yesNo == "예") {
      $.ajax({
        url: "/team/updateTeamMemberGrade",
        data: {
          "grade": enGrade,
          "memberSeq": memberSeq,
          "teamSeq":teamSeq
        },
        type:"post",
        success: function () {
        }, error: function () {
        }
      }).done(function () {
        location.reload();
        if(changeGrade=="매니저"){
          location.href="/member/loginIndex"
        }else {
          $(".modal1").css("display", "none");
        }
      })
    }  else {
      $(".modal1").css("display", "none");
    }
  })

  // modal2 열림 함수 ( 팀원 강퇴 )
  $(".delBtn").on("click",function (){
    $(".modal2").css("display","block");
    memberSeq=$(this).data("memberseq");
    thisNickName=$(this).data("nick-name");
    teamSeq=$(this).data("teamseq");
    $("#h3_2").html(thisNickName +"님을 강퇴 시키겠습니까?");
  })

  //'예' 누르면 팀원 강퇴되는 ajax
  $(".okNoBtn").on("click",function () {
    okNo = $(this).text();

    if (okNo == "예") {
      $.ajax({
        url: "/team/deleteTeamMember",
        data: {
          "memberSeq": memberSeq,
          "teamSeq":teamSeq
        },
        type:"post",
        success: function () {
        }, error: function () {
        }
      }).done(function () {
        location.reload();
      })
    }  else {
      $(".modal2").css("display", "none");
    }
  })

  // modal 닫힘 함수 ( 등급 변경 창 )
  function closer() {
    $(".modal").css("display","none");
  }

  // modal1 닫힘 함수 ( 등급 바꿀건지 묻는 창 )
  function closer1() {
    $(".modal1").css("display","none");
  }

  // modal2 닫힘 함수 ( 팀원 강퇴 창 )
  function closer2() {
    $(".modal2").css("display","none");
  }

  // 팀 삭제 시 경고메세지
  function delClick() {
    if (confirm("팀을 정말 삭제 하시겠습니까?")) {
      $("#deleteTeam").submit();
      alert("팀이 삭제 되었습니다");
      return true;
    } else {
      alert("잘 생각하셨어요!");
      return false;
    }
  }

</script>

<script>
  //팀 이름 변경
  let updateTeamNameBtn = $("<button>");
  updateTeamNameBtn.text("완료");
  updateTeamNameBtn.attr("type", "button");
  updateTeamNameBtn.attr("id", "updateTeamNameBtn");
  updateTeamNameBtn.attr("class","editBtn");

  $("#changeTeam").on("click",function (){
    $("#teamName").attr("disabled", false);
    $("#changeTeam").css("display","none");
    $("#teamName").css("border","2px dashed magenta");
    $('#updateDiv').append(updateTeamNameBtn);
  })

  updateTeamNameBtn.on("click",function () {
    let teamName = $("#teamName").val();
    let teamSeq = $("#teamSeqHidden").val();
    $.ajax({
      url: "/team/updateTeamName",
      data: {
        "teamName": teamName,
        "teamSeq": teamSeq
      },
      success: function () {
      }, error: function () {
      }
    }).done(function () {
      alert("팀 이름이 변경되었습니다.");
      $("#teamName").val(teamName);
      $("#teamName").attr("disabled", true);
      $("#changeTeam").css("display","block");
      updateTeamNameBtn.css("display","none");
      $("#teamName").css("border", "none");
    })
  })
</script>

</body>
</html>
